{%- if settings.agreement_checkout_yes -%}
<input id="{{ name }}" class="js-agreement-checkbox" data-button="{{ button }}" name="{{ name }}" type="checkbox">
<label for="{{ name }}"><a href="#" data-fancybox class="modal-info-link" data-src="#agreementInfo" data-options='{"touch" : false}'>{{ settings.agreement_checkout_text }}</a></label>
{%- endif -%}