{%- if placeholder_size_w == blank -%}{%- assign placeholder_size_w = 360 -%}{%- endif -%}
{%- if placeholder_size_h == blank -%}{%- assign placeholder_size_h = 450 -%}{%- endif -%}
{%- if banner.link_all_banner -%}
<a href="{{ banner.link }}" target="{{ banner.link_target }}" class="bnr-wrap bnr-{{ id }}">
    {%- else -%}
    <div class="bnr-wrap d-flex align-items-center h-100 bnr-{{ id }}">
        {%- endif -%}
        {%- unless fontratio -%}
            {%- if banner.col_md == 'quarter' or banner.col_md == 'up-quarter' -%}
                {%- assign fontratio = 4.5 | minus: gutters | round: 2 -%}
            {%- else -%}
                {%- assign fontratio = banner.col_md | minus: gutters | round: 2 -%}
            {%- endif -%}
        {%- endunless -%}
        <div class="bnr {% unless banner.captions_width == '100' %}custom-caption{% endunless %} {% if banner.hover != 'none' %}{{ banner.hover }}{% endif %} {{ banner.bnr_text_pos }} {{ class }}" data-fontratio={{ fontratio }}>
            {%- if banner.image -%}
                {%- assign aspect_ratio = 1 | divided_by: banner.image.aspect_ratio -%}
                <div class="bnr-img {% if banner.image_mobile %}d-none d-sm-block{% endif %} {% if banner.image %}image-container{% endif %}" {% if banner.image %}style="padding-bottom: {{ aspect_ratio | times: 100 }}%"{% endif %}>
                    <img data-srcset="{{ banner.image | img_url:'master' }}" class="lazyload fade-up" alt="">
                    {%- unless banner.zoom_decor -%}
                </div>
                {%- endunless -%}
            {%- else -%}
                <div class="bnr-img">
                    {%- render 'image-placeholder-aspect-ratio', width: placeholder_size_w, height: placeholder_size_h, text: 'banner' -%}
                {%- unless banner.zoom_decor -%}
                    </div>
                {%- endunless -%}
            {%- endif -%}
            {%- if banner.image_mobile -%}
                {%- assign aspect_ratio = 1 | divided_by: banner.image_mobile.aspect_ratio -%}
                <div class="bnr-img d-sm-none {% if banner.image_mobile %}image-container{% endif %}" {% if banner.image_mobile %}style="padding-bottom: {{ aspect_ratio | times: 100 }}%"{% endif %}>
                    <img data-srcset="{{ banner.image_mobile | img_url:'master' }}" class="lazyload fade-up" alt="">
                    {%- unless banner.zoom_decor -%}
                </div>
                {%- endunless -%}
            {%- endif -%}
            {%- assign circle_file = 'decor-circle-1' -%}
            {%- if banner.bnr_decor_1 -%}
                {%- assign class = banner.bnr_decor_1_pos -%}
                {%- unless banner.bnr_decor_1_over -%}{%- assign zindex = '-1' -%}{%- else -%}{%- assign zindex = '1' -%}{%- endunless -%}
                {%- assign rotate = banner.bnr_decor_1_rotate -%}
                {%- assign blend = banner.bnr_decor_1_blend -%}
                {%- assign color = banner.bnr_decor_1_color -%}
                {%- assign opacity = banner.bnr_decor_1_opacity | times: 0.01 -%}
                {%- assign dwidth = banner.bnr_decor_1_width -%}
                {%- case banner.bnr_decor_1_pos -%}
                {%- when 'circle_decor--tr' -%}
                {%- assign translateX = banner.bnr_decor_1_xpos -%}
                {%- assign translateY = banner.bnr_decor_1_ypos | times: -1 -%}
                {%- when 'circle_decor--tl' -%}
                {%- assign translateX = banner.bnr_decor_1_xpos | times: -1 -%}
                {%- assign translateY = banner.bnr_decor_1_ypos | times: -1 -%}
                {%- when 'circle_decor--bl' -%}
                {%- assign translateX = banner.bnr_decor_1_xpos | times: -1 -%}
                {%- assign translateY = banner.bnr_decor_1_ypos -%}
                {%- else -%}
                {%- assign translateX = banner.bnr_decor_1_xpos -%}
                {%- assign translateY = banner.bnr_decor_1_ypos -%}
                {%- endcase -%}
                {%- case banner.bnr_decor_1_thickness -%}
                {%- when '2' -%}
                {%- render 'decor-circle-2', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- when '3' -%}
                {%- render 'decor-circle-3', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- when '4' -%}
                {%- render 'decor-circle-4', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- else -%}
                {%- render 'decor-circle-1', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- endcase -%}
            {%- endif -%}
            {%- if banner.bnr_decor_2 -%}
                {%- assign class = banner.bnr_decor_2_pos -%}
                {%- unless banner.bnr_decor_2_over -%}{%- assign zindex = '-1' -%}{%- else -%}{%- assign zindex = '1' -%}{%- endunless -%}
                {%- assign rotate = banner.bnr_decor_2_rotate -%}
                {%- assign blend = banner.bnr_decor_2_blend -%}
                {%- assign color = banner.bnr_decor_2_color -%}
                {%- assign opacity = banner.bnr_decor_2_opacity | times: 0.01 -%}
                {%- assign dwidth = banner.bnr_decor_2_width -%}
                {%- case banner.bnr_decor_2_pos -%}
                {%- when 'circle_decor--tr' -%}
                {%- assign translateX = banner.bnr_decor_2_xpos -%}
                {%- assign translateY = banner.bnr_decor_2_ypos | times: -1 -%}
                {%- when 'circle_decor--tl' -%}
                {%- assign translateX = banner.bnr_decor_2_xpos | times: -1 -%}
                {%- assign translateY = banner.bnr_decor_2_ypos | times: -1 -%}
                {%- when 'circle_decor--bl' -%}
                {%- assign translateX = banner.bnr_decor_2_xpos | times: -1 -%}
                {%- assign translateY = banner.bnr_decor_2_ypos -%}
            {%- else -%}
                {%- assign translateX = banner.bnr_decor_2_xpos -%}
                {%- assign translateY = banner.bnr_decor_2_ypos -%}
                {%- endcase -%}
                {%- case banner.bnr_decor_2_thickness -%}
                {%- when '2' -%}
                {%- render 'decor-circle-2', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- when '3' -%}
                {%- render 'decor-circle-3', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- when '4' -%}
                {%- render 'decor-circle-4', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
            {%- else -%}
                {%- render 'decor-circle-1', zindex: zindex, classes: class, opacity: opacity, rotate: rotate, blend: blend, color: color, opacity: opacity, translateX: translateX, translateY: translateY, dwidth: dwidth, blend: blend -%}
                {%- endcase -%}
            {%- endif -%}
            {%- if banner.zoom_decor -%}
        </div>
        {%- endif -%}
        <div class="bnr-caption {{ banner.text_h_alignment }}" style="padding: {{ banner.bnr_text_paddingv }}% {{ banner.bnr_text_paddingh }}%; {% unless class == 'bnr--fullwidth' %}{%- unless banner.captions_width_enable -%}width: {{ banner.captions_width }}%;{% endunless %}{% endunless %}">
            {%- if banner.captions_width_enable -%}<div class="bnr-caption-inside w-s-{{ banner.captions_width }} w-ms-{{ banner.captions_width_m }}">{%- endif -%}
                {%- if banner.bnr_label -%}
                    <div class="bnr-text2 {% if banner.label_bgcolor != blank and banner.label_bgcolor != 'rgba(0,0,0,0)' %}bnr-text-has-bg{% endif %} bnr-text2-{{ banner.label_text_pos }} {% if banner.label_color_theme %}custom-color{% endif %}" style="{% if banner.label_bgcolor != blank and banner.label_bgcolor != 'rgba(0,0,0,0)' %}padding: {{ banner.label_paddingv }}% {{ banner.label_paddingh }}%;{% endif %} {% if banner.label_color != '' %}color:{{ banner.label_color }};{% endif %} font-size:{{ banner.label_size }}px; font-weight:{{ banner.label_fontweight }}; line-height:{{ banner.label_lineheight }}em;">{{ banner.label_text }}{% if banner.label_bgcolor != blank and banner.label_bgcolor != 'rgba(0,0,0,0)' %}<span class="bnr-text-bg" style="background:{{  banner.label_bgcolor }};opacity:{{ banner.label_bgcolor_opacity }}"></span>{% endif %}</div>
                {%- endif -%}
                {%- if banner.caption_bgcolor != blank and banner.caption_bgcolor != 'rgba(0,0,0,0)' -%}<div class="bnr-caption-bg" style="padding: {{ banner.caption_paddingv }}% {{ banner.caption_paddingh }}%; width: fit-content;">{% endif %}
                {%- if banner.bnr_text -%}
                    <div class="bnr-text3 {% if banner.bnr_text_font %}heading-font{% endif %} {% if banner.bnr_text_bgcolor != blank and banner.bnr_text_bgcolor != 'rgba(0,0,0,0)' %}bnr-text-has-bg{% endif %} {{ banner.bnr_text_top }} order-{{ banner.bnr_text_order }} {% if banner.bnr_text_color_theme %}custom-color{% endif %} {{ banner.bnr_text_alignment }}" style="{% unless banner.bnr_text_bgcolor == '' or banner.bnr_text_bgcolor contains 'rgba(0,0,0,0)' %}padding: {{ banner.bnr_text1_paddingv }}% {{ banner.bnr_text1_paddingh }}%;{% endunless %} {% unless banner.bnr_text_color == '' or banner.bnr_text_color contains 'rgba(0,0,0,0)' %}color:{{ banner.bnr_text_color }};{% endunless %} font-size:{{ banner.bnr_text_size | divided_by: 100.0 }}em; font-weight:{{ banner.bnr_text_fontweight }}; line-height:{{ banner.bnr_text_lineheight }}em">{{ banner.bnr_text_text }}{% unless banner.bnr_text_bgcolor == '' or banner.bnr_text_bgcolor contains 'rgba(0,0,0,0)' %}<span class="bnr-text-bg" style="background:{{  banner.bnr_text_bgcolor }};opacity: {{ banner.bnr_text_bgcolor_opacity }}"></span>{% endunless %}</div>
                {%- endif -%}
                {%- if banner.bnr_text2 -%}
                    <div class="bnr-text3 {% if banner.bnr_text2_font %}heading-font{% endif %} {% if banner.bnr_text2_bgcolor != blank and banner.bnr_text2_bgcolor != 'rgba(0,0,0,0)' %}bnr-text-has-bg{% endif %} {{ banner.bnr_text2_top }} order-{{ banner.bnr_text2_order }} {% if banner.bnr_text2_color_theme %}custom-color{% endif %} {{ banner.bnr_text2_alignment }} " style="{% unless banner.bnr_text2_bgcolor == '' or banner.bnr_text2_bgcolor contains 'rgba(0,0,0,0)' %}padding: {{ banner.bnr_text2_paddingv }}% {{ banner.bnr_text2_paddingh }}%;{% endunless %} {% unless banner.bnr_text2_color == '' or banner.bnr_text2_color contains 'rgba(0,0,0,0)' %}color:{{ banner.bnr_text2_color }};{% endunless %} font-size:{{ banner.bnr_text2_size | divided_by: 100.0 }}em; font-weight:{{ banner.bnr_text2_fontweight }}; line-height:{{ banner.bnr_text2_lineheight }}em;">{{ banner.bnr_text2_text }}{% unless banner.bnr_text2_bgcolor == '' or banner.bnr_text2_bgcolor contains 'rgba(0,0,0,0)' %}<span class="bnr-text-bg" style="background:{{  banner.bnr_text2_bgcolor }};opacity: {{ banner.bnr_text2_bgcolor_opacity }}"></span>{% endunless %}</div>
                {%- endif -%}
                {%- if banner.bnr_text3 -%}
                    <div class="bnr-text3 {% if banner.bnr_text3_font %}heading-font{% endif %} {% if banner.bnr_text3_bgcolor != blank and banner.bnr_text3_bgcolor != 'rgba(0,0,0,0)' %}bnr-text-has-bg{% endif %} {{ banner.bnr_text3_top }} order-{{ banner.bnr_text3_order }} {% if banner.bnr_text3_color_theme %}custom-color{% endif %} {{ banner.bnr_text3_alignment }} " style="{% unless banner.bnr_text3_bgcolor == '' or banner.bnr_text3_bgcolor contains 'rgba(0,0,0,0)' %}padding: {{ banner.bnr_text3_paddingv }}% {{ banner.bnr_text3_paddingh }}%;{% endunless %} {% unless banner.bnr_text3_color == '' or banner.bnr_text3_color contains 'rgba(0,0,0,0)' %}color:{{ banner.bnr_text3_color }};{% endunless %} font-size:{{ banner.bnr_text3_size | divided_by: 100.0 }}em; font-weight:{{ banner.bnr_text3_fontweight }}; line-height:{{ banner.bnr_text3_lineheight }}em;">{{ banner.bnr_text3_text }}{% unless banner.bnr_text3_bgcolor == '' or banner.bnr_text3_bgcolor contains 'rgba(0,0,0,0)' %}<span class="bnr-text-bg" style="background:{{  banner.bnr_text3_bgcolor }};opacity: {{ banner.bnr_text3_bgcolor_opacity }}"></span>{% endunless %}</div>
                {%- endif -%}
                {%- if banner.countdown_yes -%}
                    <div class="countdown-box-bg {{ banner.bnr_countdown_top }} ">
                        <div class="countdown js-countdown" data-countdown="{{ banner.timer }}"></div>
                    </div>
                {%- endif -%}
                {%- if banner.link_all_banner and banner.bnr_button -%}
                    <div class="bnr-btn {{ banner.bnr_button_alignment }} {{ banner.bnr_button_top }} order-{{ banner.bnr_button_order }}"><div class="btn {% if banner.bnr_button_lg %}btn--lg{% endif %}">{{ banner.bnr_button_text }}</div></div>
                {%- elsif banner.bnr_button -%}
                    <div class="bnr-btn {{ banner.bnr_button_alignment }} {{ banner.bnr_button_top }} order-{{ banner.bnr_button_order }}"><a href="{{ banner.link}}" target="{{ banner.link_target }}" class="btn {% if banner.bnr_button_lg %}btn--lg{% endif %}">{{ banner.bnr_button_text }}</a></div>
                {%- endif -%}
                {%- if banner.caption_bgcolor != blank and banner.caption_bgcolor != 'rgba(0,0,0,0)' -%}<span class="bnr-caption-bg-color" style="background:{{  banner.caption_bgcolor }}; opacity:{{  banner.caption_bgcolor_opacity }}"></span></div>{%- endif -%}
                {%- if banner.captions_width_enable -%}</div>{%- endif -%}
        </div>
    </div>
    {%- if  banner.link_all_banner -%}
</a>
{%- else -%}
</div>
{%- endif -%}
<style>
    {%- if banner.bnr_button -%}
        {%- if banner.link_all_banner -%}
            .bnr-{{ id }} .bnr-btn .btn {
                pointer-events: none;
            }
            {% unless banner.bnr_button_theme %}
            .bnr-{{ id }} .bnr-btn .btn:not(.hovered):not(:hover) {
                {%- if banner.button_bgcolor != blank and banner.button_bgcolor != 'rgba(0,0,0,0)' -%}background-color:{{ banner.button_bgcolor }};{%- endif -%}
                {%- if banner.button_color != blank and banner.button_color != 'rgba(0,0,0,0)' -%}color:{{ banner.button_color }};{%- endif -%}
            }
            {% endunless %}
            .bnr-{{ id }}:hover .bnr-btn .btn {
                {%- if banner.button_bgcolor_hover != blank and banner.button_bgcolor_hover != 'rgba(0,0,0,0)' -%}background-color:{{ banner.button_bgcolor_hover }}!important;{%- endif -%}
                {%- if banner.button_color_hover != blank and banner.button_color_hover != 'rgba(0,0,0,0)' -%}color:{{ banner.button_color_hover }}!important;{%- endif -%}
            }
        {%- else -%}
            {% unless banner.bnr_button_theme %}
            .bnr-{{ id }} .bnr-btn .btn.hovered:not(:hover), .bnr-{{ id }} .bnr-btn .btn:not(:hover) {
                {%- if banner.button_bgcolor != blank and banner.button_bgcolor != 'rgba(0,0,0,0)' -%}background-color:{{ banner.button_bgcolor }};{%- endif -%}
                {%- if banner.button_color != blank and banner.button_color != 'rgba(0,0,0,0)' -%}color:{{ banner.button_color }};{%- endif -%}
            }
            {% endunless %}
            .bnr-{{ id }} .bnr-btn .btn:hover {
                {%- if banner.button_bgcolor_hover != blank and banner.button_bgcolor_hover != 'rgba(0,0,0,0)' -%}background-color:{{ banner.button_bgcolor_hover }}!important;{%- endif -%}
                {%- if banner.button_color_hover != blank and banner.button_color_hover != 'rgba(0,0,0,0)' -%}color:{{ banner.button_color_hover }}!important;{%- endif -%}
            }
        {%- endif -%}
    {%- endif -%}
</style>