<!-- Filter Row -->
<div class="filter-row">
    <div class="row">
        {%- if settings_filter_style == 'hidden_vertical_style_1' or settings_filter_style == 'visible_horizontal' or settings_filter_style == 'hidden_horizontal' -%}
            <div class="selected-filters-wrap" data-current-selection>
                {% if current_tags.size > 0 %}
                    <ul class="selected-filters">
                        {% for tag in current_tags %}
                            <li>{{ tag | link_to_remove_tag: tag | replace:'href','data-collection-render href' }}</li>
                        {% endfor %}
                        <li><a href="{{ collection.url }}{{ btn_reset_view_suffix }}" class="clear-filters"  data-collection-render><i class="icon-recycle"></i><span>{{ 'theme.collection.reset' | t }}</span></a></li>
                    </ul>
                {%- endif -%}
            </div>
        {%- endif -%}
        <div class="items-count" data-selected-items>{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</div>
        <div class="select-wrap d-none d-md-flex">
          <div class="select-label heading-font">{{ 'collections.sorting.title' | t }}:</div>
          <div class="select-wrapper select-wrapper-xxs">
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            <select class="form-control input-sm" name="sort_by" data-select-filter data-select-filter--sort>
              {%- for option in collection.sort_options -%}
                <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
              {%- endfor -%}
            </select>
          </div>
        </div>
        {%- assign show_select_products_per_page = true -%}
        {%- if show_select_products_per_page -%}
            <div class="select-wrap  d-none d-md-flex">
                <div class="select-label heading-font">{{ '.theme.collection.products_per_page' | t }}:</div>
                <div class="select-wrapper select-wrapper-xxs">
                    <select class="form-control input-sm" name="view" data-select-filter data-select-filter--count>
                        {%- assign pages_list = '10,12,20,24,30,36,50' | split:',' -%}
                        {%- for count in pages_list -%}
                            <option value="{{ count }}" {% if products_per_page contains count %}selected="selected"{% endif %}>{{ count }} </option>
                        {%- endfor -%}
                    </select>
                </div>
            </div>
        {%- endif -%}
        <div class="viewmode-wrap">
          <div class="view-mode">
            <span class="js-horview d-none d-lg-inline-flex"><i class="icon-grid-2"></i></span>
            <span class="js-gridview"><i class="icon-grid"></i></span>
            <span class="js-listview"><i class="icon-list"></i></span>
          </div>
        </div>
  </div>
</div>
<!-- /Filter Row -->