<span class="currency-picker__wrapper {{ currency_class }}">
  {% form 'currency' %}
    <select class="currency-input" name="currency">
      {% for currency in shop.enabled_currencies %}
        {% if currency == cart.currency %}
          <option selected="true">{{currency.iso_code}} {{currency.symbol}} </option>
          {% else %}
          <option>{{currency.iso_code}}</option>
        {% endif %}
      {% endfor %}
    </select>
    
    <input type="hidden" id="currency_code" name="currency_code" value="{{ form.current_currency.iso_code }}" />
  {% endform %}

  <script>
    $('.shopify-currency-form select').on('change', function() {
      console.log( $(this).val() );              
      //$('.menu li #currency_code').val($(this).val());
      $(this).closest('form').submit();
    });
  </script>            
</span>

{% comment %}
{% if settings.enable_currencies %}
  <span
    class="currency-picker__wrapper {{ currency_class }}">
    <label for="CurrencyPicker-{{ picker_id }}" class="visually-hidden">Pick a currency</label>
    <select class="currency-input" id="CurrencyPicker-{{ picker_id }}" name="currencies">
    {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
    {% assign supported_codes = settings.supported_currencies | split: ' ' %}
    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
    {% for code in supported_codes %}
      {% if code != shop.currency and codes contains code %}
      <option value="{{ code }}">{{ code }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </span>
{% endif %}
{% endcomment %}