{% if section.settings.logo_yes %}
    {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
    <a href="{{ routes.root_url }}" class="logo">
        {%- if section.settings.logo != blank -%}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            {% capture image_size_retina %}{{ section.settings.logo_max_width | times: 2 | escape }}x{% endcapture %}
            <img class="lazyload lazypreload fade-up"
                 data-src="{{ section.settings.logo | img_url: image_size }}"
                 data-srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size_retina }} 2x"
                 data-sizes="auto"
                 alt="{{ logo_alt | escape }}">
        {%- else -%}
            {% include 'image-placeholder' size: 'Logo' width:'172' height: '55' nosvg: true %}
        {%- endif -%}
        <style>
            @media screen and (min-width: 768px) {
                .page-footer .logo {width: {{ section.settings.logo_max_width }}px}
                .page-footer .logo img {max-width: {{ section.settings.logo_max_width }}px}
            }
            @media screen and (max-width: 767px) {
                .page-footer .logo {width: {{ section.settings.logo_max_width_mobile }}px}
                .page-footer .logo img {max-width: {{ section.settings.logo_max_width_mobile }}px}
            }
        </style>
    </a>
{% endif %}