{%- assign demo = false -%}
<footer class="page-footer footer-style-2 {% if template == 'index' %}{{ section.settings.outer_margin_index }}{% else %}{{ section.settings.outer_margin }}{% endif %}">
    {% if section.settings.shop_info_yes %}
        {% include 'footer-shop-info' %}
    {% endif %}
    <div class="footer-top {% unless demo %}{{ settings.color_footer_style }}{% else %}{{ settings_color_scheme }}{% endunless %}">
        <div class="container">
            <div class="row mt-0">
                {%- if section.settings.show_short_description -%}
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>{%- if section.settings.short_description_title != blank -%}{{ section.settings.short_description_title }}{%- else -%}{{ 'theme.footer.about_the_store' | t }}{%- endif -%}</h4>
                                <div class="toggle-arrow"><span></span><span></span></div>
                            </div>
                            <div class="collapsed-content">
                                {{ section.settings.short_description }}
                            </div>
                        </div>
                    </div>
                {%- endif -%}
                {%- if section.settings.show_support -%}
                <div class="col-lg col-xl">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>{%- if section.settings.support_title != blank -%}{{ section.settings.support_title }}{%- else -%}{{ 'theme.footer.contact_info' | t }}{%- endif -%}</h4>
                            <div class="toggle-arrow"><span></span><span></span></div>
                        </div>
                        <div class="collapsed-content">
                            {{ section.settings.support_time }}
                        </div>
                    </div>
                </div>
                {%- endif -%}
                {%- if section.settings.navigation_1 != blank and section.settings.navigation_1_yes -%}
                    <div class="col-lg col-xl">
                        {%- if section.settings.navigation_1_hide_title %}
                            <div class="footer-block">
                                <ul>
                                    {% for link in linklists[section.settings.navigation_1].links %}
                                        <li>
                                            {{ link.title | append:label | link_to: link.url }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {%- else -%}
                            <div class="footer-block collapsed-mobile">
                                <div class="title">
                                    <h4>{%- if section.settings.navigation_1_title != blank %}{{ section.settings.navigation_1_title }}{%- else -%}{{ linklists[section.settings.navigation_1].title }}{%- endif -%}</h4>
                                    <div class="toggle-arrow"><span></span><span></span></div>
                                </div>
                                <div class="collapsed-content">
                                    <ul>
                                        {% for link in linklists[section.settings.navigation_1].links %}
                                            <li>
                                                {{ link.title | append:label | link_to: link.url }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if section.settings.navigation_2 != blank and section.settings.navigation_2_yes -%}
                    <div class="col-lg col-xl">
                        {%- if section.settings.navigation_2_hide_title %}
                            <div class="footer-block">
                                <ul>
                                    {% for link in linklists[section.settings.navigation_2].links %}
                                        <li>
                                            {{ link.title | append:label | link_to: link.url }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {%- else -%}
                            <div class="footer-block collapsed-mobile">
                                <div class="title">
                                    <h4>{%- if section.settings.navigation_2_title != blank %}{{ section.settings.navigation_2_title }}{%- else -%}{{ linklists[section.settings.navigation_2].title }}{%- endif -%}</h4>
                                    <div class="toggle-arrow"><span></span><span></span></div>
                                </div>
                                <div class="collapsed-content">
                                    <ul>
                                        {% for link in linklists[section.settings.navigation_2].links %}
                                            <li>
                                                {{ link.title | append:label | link_to: link.url }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if section.settings.navigation_3 != blank and section.settings.navigation_3_yes -%}
                    <div class="col-lg col-xl">
                        {%- if section.settings.navigation_3_hide_title %}
                            <div class="footer-block">
                                <ul>
                                    {% for link in linklists[section.settings.navigation_3].links %}
                                        <li>
                                            {{ link.title | append:label | link_to: link.url }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {%- else -%}
                            <div class="footer-block collapsed-mobile">
                                <div class="title">
                                    <h4>{%- if section.settings.navigation_3_title != blank %}{{ section.settings.navigation_3_title }}{%- else -%}{{ linklists[section.settings.navigation_3].title }}{%- endif -%}</h4>
                                    <div class="toggle-arrow"><span></span><span></span></div>
                                </div>
                                <div class="collapsed-content">
                                    <ul>
                                        {% for link in linklists[section.settings.navigation_3].links %}
                                            <li>
                                                {{ link.title | append:label | link_to: link.url }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if section.settings.social_icons -%}
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>{%- if section.settings.social_icons_title != blank -%}{{ section.settings.social_icons_title }}{%- else -%}{{ 'theme.footer.our_socials' | t }}{%- endif -%}</h4>
                                <div class="toggle-arrow"><span></span><span></span></div>
                            </div>
                            <div class="collapsed-content">
                                <ul class="social-list-circle">
                                    {% include 'social-media-links' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {%- endif -%}
                {%- if section.settings.newsletter -%}
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>{%- if section.settings.newsletter_title != blank -%}{{ section.settings.newsletter_title }}{%- else -%}{{ 'theme.footer.newsLetter' | t }}{%- endif -%}</h4>
                                <div class="toggle-arrow"><span></span><span></span></div>
                            </div>
                            <div class="collapsed-content">
                                <div class="footer-newsletter">
                                    {% form 'customer', id:'newsletterSubsribe' %}
                                    {% if form.posted_successfully? %}
                                        {%- include 'form-subscribe-notification' -%}
                                    {% endif %}
                                    {% if form.errors %}
                                        {%- include 'form-subscribe-notification', class: 'has-error', id: section.id -%}
                                    {% endif %}
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div class="form-group">
                                        <input type="email" name="contact[email]" required class="form-control form-control--sm" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn">{{ 'theme.footer.subscribe_now' | t }}</button>
                                    </div>
                                    {% endform %}
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row vert-margin-middle">
                {% if section.settings.logo_yes %}
                <div class="col-sm footer-bottom-col-left">
                    <div class="footer-logo">
                        {% include 'footer-logo' %}
                    </div>
                </div>
                {%- endif -%}
                <div class="col-sm footer-bottom-col-right">
                    <div class="row vert-margin-middle">
                        <div class="col-sm">
                            <ul class="payment-link payment-link--sm">
                                {% render 'footer_payments' %}
                            </ul>
                        </div>
                        {%- if section.settings.show_copyright -%}
                            <div class="col-sm col-md-auto">
                                <div class="footer-copyright">
                                    {{ section.settings.copyright }}
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>