{%- assign demo = false -%}
<footer class="page-footer footer-style-4 {% if template == 'index' %}{{ section.settings.outer_margin_index }}{% else %}{{ section.settings.outer_margin }}{% endif %}">
    <div class="footer-top footer-top--bg {% unless demo %}{{ settings.color_footer_style }}{% else %}{{ settings_color_scheme }}{% endunless %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-block">
                        <div class="footer-logo">
                            {% include 'footer-logo' %}
                        </div>
                    </div>
                </div>
                {%- if section.settings.social_icons -%}
                <div class="col-lg-3">
                    <div class="footer-block">
                        <ul class="social-list">
                            {% include 'social-media-links' %}
                        </ul>
                    </div>
                </div>
                {%- endif -%}
                <div class="col-lg">
                    <div class="footer-block">
                        <ul class="two-column">
                            {% for link in linklists[section.settings.navigation_1].links %}
                                <li>
                                    {{ link.title | append:label | link_to: link.url }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {%- if section.settings.show_copyright or section.settings.show_methods_of_payment -%}
                <div class="col-lg-5">
                    <div class="footer-block">
                        {%- if section.settings.show_methods_of_payment -%}
                        <ul class="payment-link payment-link--xs">
                            {% render 'footer_payments' %}
                        </ul>
                        {%- endif -%}
                        {%- if section.settings.show_copyright -%}
                        <div class="footer-copyright">
                            {{ section.settings.copyright }}
                        </div>
                        {%- endif -%}
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</footer>