<div class="form-notification js-form-notification {{ class }}" data-form="#shopify-section-{{ id }}" style="display: none">
    {%- if form.posted_successfully? -%}
        <div class="form-notification-icon"><i class="icon-success"></i></div>
        <div class="form-notification-text">
            {{ success_message | default: 'general.newsletter_form.confirmation' | t }}
        </div>
    {%- endif -%}
    {% assign error_order = "email, form" | split: ", " %}
    {%- if form.errors -%}
        <div class="form-notification-icon"><i class="icon-sadenvelop"></i></div>
        <div class="form-notification-text">{{ 'contact.form.error_heading' | t }}</div>
        <ul class="list-unstyled mt-2">
            {% for error in error_order %}
                {% for field in form.errors %}
                    {% if error == field %}
                        {% capture field_label %}
                        {{ form.errors.translated_fields[field] }}
                        {% endcapture %}
                        <li>
                            {%- if field == 'form' -%}
                                {{ form.errors.messages[field] }}
                            {%- else -%}
                                {{ field_label | strip | capitalize }} {{ form.errors.messages[field] }}
                            {%- endif -%}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {%- endif -%}
    <div class="circle_decor_wrap">
        {%- assign classes = "circle_decor circle_decor--tr" -%}
        {%- assign translateX = '71' -%}
        {%- assign translateY = '-71' -%}
        {%- assign rotate = '119' -%}
        {%- assign dwidth = '82' -%}
        {%- assign top = '100%' -%}
        {%- assign right = '10%' -%}
        {%- assign target = 'subscribe' -%}
        {%- render 'decor-circle-2', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}
    </div>
</div>