{%- assign first_image = false -%}
{%- assign index_color = 0 -%}
{%- if product.featured_image -%}
	{%- assign aspect_ratio = 1 | divided_by: product.featured_image.aspect_ratio -%}
{%- else -%}
	{%- assign aspect_ratio = 1 -%}
{%- endif -%}
{%- for option in product.options -%}
    {%- capture downcased_option -%}{{ option | downcase }}{%- endcapture -%}
    {%- capture color_options_name -%}{{ settings_color_options_name | downcase }}{% endcapture -%}
    {%- if downcased_option == color_options_name -%}
        {%- assign index_color = forloop.index0 -%}
    {%- endif -%}
{%- endfor -%}
{%- for variant in product.variants -%}
    {%- unless first_image -%}
        {%- capture color -%}{{ variant.options[index_color] }}{%- endcapture -%}
        {%- if color == value -%}
            {%- if variant.image.src -%}
                {%- assign first_image = true -%}
                {%- capture width -%}{{ settings_swatches_width }}x{%- endcapture -%}
                {%- assign first_image_path = variant.image.src | img_url:width -%}
                {%- assign first_image_path_2x = variant.image.src | img_url:width, scale:2 -%}
                {%- assign aspect_ratio = 1 | divided_by: variant.image.aspect_ratio -%}
            {%- endif -%}
        {%- endif -%}
    {%- endunless -%}
{%- endfor -%}

{%- if first_image -%}
<span class="image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
    <img srcset="{{ first_image_path }} 1x, {{ first_image_path_2x }} 2x" alt="">
</span>
{%- else -%}
    <span class="color-list-value">{{ value }}</span>
{%- endif -%}
