{%- assign demo = true -%}
<div class="hdr hdr-style7 {% if section.settings.transparent %}{{ section.settings.header_outer_margin }}{%  endif %}">
    {%- if section.settings.topbar_enable and section.settings.topline_enable -%}
    <div class="hdr-topline {{ settings.color_topline_style }} js-hdr-top">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {% include 'topline' %}
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
    <div class="hdr-content">
        <div class="container">
            <div class="row">
                <div class="col-auto show-mobile"> 
                    {% include 'header-burger' %}
                </div>
                <div class="col-auto hdr-logo">
                    {% include 'header-logo' %}
                </div>
                <div class="hdr-banner">
                    {% include 'header-banner-2' %}
                </div>
                <div class="hdr-custom-block">
                    <div class="hdr-icn-text">
                        {%- if section.settings.hours != blank and section.settings.hours_yes -%}<div>{{ section.settings.hours }}</div>{%- endif -%}
                        {%- if section.settings.phone_1_yes -%}<div>{%- if section.settings.phone_1 != blank -%}<i class="icon-phone"></i><span><a href="tel:{{ section.settings.phone_1 }}">{{ section.settings.phone_1 }}</a>{%- endif -%}{%- if section.settings.phone_2 != blank -%}<br><a href="tel:{{ section.settings.phone_2 }}">{{ section.settings.phone_2 }}</a></span>{%- endif -%}</div>{%- endif -%}
                    </div>
                </div>
                <div class="hdr-links-wrap col-auto ml-auto hide-mobile">
                    <div class="hdr-group-link">
                        <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                            {% include 'header-services' %}
                            {% include 'header-languages' %}
                            {% include 'header-currencies' %}
                        </div>
                    </div>
                </div>
                <div class="hdr_container_mobile hdr-inline-link show-mobile">
                    {% include 'header-search' %}
                    {% include 'header-compare' %}
                    {% include 'header-wishlist' %}
                    {% include 'header-account' class:'only-icon' %}
                    {% include 'header-cart' class:'only-icon' %}
                </div>
            </div>
        </div>
    </div>
    <div class="hdr-navline hide-mobile {% unless demo %}{{ settings.color_navline_style }}{% else %}hdr-navline--dark{% endunless %}">
        <div class="container">
            <div class="row">
                <div class="col hdr-navline-left">
                    <!--navigation-->
                    <div class="hdr-nav nav-holder {{ section.settings.nav_alignment }}">
                        {% include 'header-navigation' %}
                    </div>
                    <!--//navigation-->
                </div>
                <div class="col-auto hdr-navline-right">
                    <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                        <div class="hdr_container_desktop">
                            {% include 'header-search' %}
                            {% include 'header-compare' %}
                            {% include 'header-wishlist' %}
                            {% include 'header-account' class:'only-icon' %}
                            {% include 'header-cart' class:'only-icon' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>