<a href="{{ settings.header_bnr_1_url }}" class="bnr bnr--middle bnr--left" data-fontratio="5.7">
    {% assign _img = settings.header_bnr_1_image %}
    {%- if _img -%}{%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}{%- endif -%}
    <div class="bnr-img {% if _img %}image-container{% endif %}" {% if _img %}style="padding-bottom: {{ aspect_ratio | times: 100 }}%"{% endif %}>
        {% assign _img_size = '570x82' %}
        {% if _img %}
            <img src="{{ _img | img_url: _img_size }}"
                 data-srcset="{{ _img | img_url: _img_size }} 1x, {{ _img | img_url: _img_size, scale: 2 }} 2x"
                 data-aspectratio="{{ _img.aspect_ratio }}"
                 data-sizes="auto"
                 alt="">
        {%- else -%}
            {% include 'image-placeholder-aspect-ratio-off-svg', width: 570, height: 82, toppos: 36, text: '570x82px' %}
        {%- endif -%}
    </div>
    <div class="bnr-caption bnr-caption-carousel js-bnr-caption-carousel" style="padding: 0 4% 0 55%">
        {%- if settings.header_bnr_1_caption_1_1 != blank or settings.header_bnr_1_caption_1_2 -%}
            <div class="bnr-caption-carousel-item">
                <div class="bnr-text9">{{ settings.header_bnr_1_caption_1_1 }}</div>
                <div class="bnr-text10" style="color: #fb317d;">{{ settings.header_bnr_1_caption_1_2 }}</div>
            </div>
        {%- endif -%}
        {%- if settings.header_bnr_1_caption_2_1 != blank or settings.header_bnr_1_caption_2_2 -%}
            <div class="bnr-caption-carousel-item">
                <div class="bnr-text9">{{ settings.header_bnr_1_caption_2_1 }}</div>
                <div class="bnr-text10" style="color: #fb317d;">{{ settings.header_bnr_1_caption_2_2 }}</div>
            </div>
        {%- endif -%}
    </div>
</a>