<!-- Mobile Menu -->
<div class="mobilemenu js-push-mbmenu">
    <div class="mobilemenu-content">
        <div class="mobilemenu-close mobilemenu-toggle">{{ 'general.accessibility.close_modal' | t }}</div>
        <div class="mobilemenu-scroll">
            <div class="mobilemenu-search"></div>
            <div class="nav-wrapper show-menu">
                <div class="nav-toggle">
                    <span class="nav-back"><i class="icon-angle-left"></i></span>
                    <span class="nav-title"></span>
                    <a href="#" class="nav-viewall">{{ 'collections.general.view_all' | t }}</a>
                </div>
                <ul class="nav nav-level-1">
                    {% if section.settings.default_navigation != blank %}
                        {% if linklists[section.settings.default_navigation].links.size > 0 %}
                            {% for link in  linklists[section.settings.default_navigation].links %}
                                <li>
                                    <a href="{{ link.url }}">{% include 'title' link:link %}{% if linklists[link.handle].links.size > 0 %}
                                            <span class="arrow"><i class="icon-angle-right"></i></span>{% endif %}</a>
                                    {% if linklists[link.handle].links.size > 0 %}
                                        <ul class="nav-level-2">
                                            {% for link_1 in  linklists[link.handle].links %}
                                                <li {% if link_1.active %}class="active"{% endif %}>
                                                    <a href="{{ link_1.url }}">{% include 'title' link:link_1 %}{% if linklists[link_1.handle].links.size > 0 %}
                                                            <span class="arrow"><i
                                                                        class="icon-angle-right"></i></span>{% endif %}
                                                    </a>
                                                    {% if linklists[link_1.handle].links.size > 0 %}
                                                        <ul class="nav-level-3">
                                                            {% for link_2 in linklists[link_1.handle].links %}
                                                                <li>
                                                                    <a href="{{ link_2.url }}">{% include 'title' link:link_2 %}{% if linklists[link_2.handle].links.size > 0 %}
                                                                            <span class="arrow"><i
                                                                                        class="icon-angle-right"></i></span>{% endif %}
                                                                    </a>
                                                                    {% if linklists[link_2.handle].links.size > 0 %}
                                                                        <ul class="nav-level-4">
                                                                            {% for link_3 in linklists[link_2.handle].links %}
                                                                                <li>
                                                                                    <a href="{{ link_3.url }}">{% include 'title' link:link_3 %}{% if linklists[link_3.handle].links.size > 0 %}
                                                                                            <span class="arrow"><i
                                                                                                        class="icon-angle-right"></i></span>{% endif %}
                                                                                    </a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% else if section.blocks.size > 0 %}
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                <li class="{{ block.settings.enable_device }}">
                                    {% case block.type %}
                                    {% when 'tree' %}
                                    {% assign list = block.settings.dropdown_list %}
                                    {% assign title = block.settings.title %}
                                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>{% include 'title' block_title:block.settings.title, link:'' %} {% if list != blank %}
                                                <span class="arrow"><i class="icon-angle-right"></i></span>{% endif %}
                                        </a>
                                        {% if list != blank %}
                                            <ul>
                                                {% for link in  linklists[list].links %}
                                                    {% include 'navigation-mobile-tree-childrens' %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% when 'tree_double' %}
                                    {% assign list = block.settings.dropdown_list %}
                                    {% assign list_2 = block.settings.dropdown_list_2 %}
                                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>{% include 'title' block_title:block.settings.title, link:'' %} {% if list != blank or list_2 != blank %}
                                                <span class="arrow"><i class="icon-angle-right"></i></span>{% endif %}
                                        </a>
                                        {% if list != blank or list_2 != blank %}
                                            <ul>
                                                {% for link in  linklists[list].links %}
                                                    {% include 'navigation-mobile-tree-childrens' %}
                                                {% endfor %}
                                                {% for link in  linklists[list_2].links %}
                                                    {% include 'navigation-mobile-tree-childrens' %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% when 'columns' %}
                                    {% assign list = block.settings.dropdown_list %}
                                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>{% include 'title_2' %}
                                            <span class="arrow"><i class="icon-angle-right"></i></span></a>
                                        <ul>
                                            {% for i in (1..15) %}
                                                {% capture enable %}nav_col_{{ i }}_yes{% endcapture %}
                                                {% capture title %}nav_col_{{ i }}_title{% endcapture %}
                                                {% capture link %}nav_col_{{ i }}_link{% endcapture %}
                                                {% capture list %}nav_col_{{ i }}_list{% endcapture %}{% assign list = block.settings[list] %}
                                                {% if block.settings[enable] %}
                                                    {% if block.settings[title] != blank %}
                                                        {%- assign link_url_0 = block.settings[link] -%}
                                                        <li>
                                                            <a {% if link_url_0 != blank %} href="{{ link_url_0 }}"{% endif %}>{{ block.settings[title] }}{% if list != blank %}
                                                                <span class="arrow"><i
                                                                            class="icon-angle-right"></i>{% endif %}</span></a>
                                                            {% if list != blank %}
                                                                <ul>
                                                                    {% include'header-navigation-mobile-render-levels-from-2' %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% else %}
                                                        {% if list != blank %}
                                                            {% include'header-navigation-mobile-render-levels-from-2' %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>

                                    {% endcase %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="mobilemenu-bottom">
                {% if section.settings.currencies %}
                    <div class="mobilemenu-currency">
                        {% include 'header-currencies', id: 'currency_selector_mobile' %}
                    </div>
                {% endif %}
                {% if section.settings.languages %}
                    <div class="mobilemenu-language">
                        {% include 'header-languages' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu -->