<!--Version 2.5    RELEASE-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
<meta name="theme-color" content="{{ settings.color_button }}">
<link rel="canonical" href="{{ canonical_url }}">
{%- if settings.favicon != blank -%}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{%- endif -%}
{%- capture seo_title -%}
	{%- if request.page_type == 'search' and search.performed == true -%}
		{{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
	{%- else -%}
		{{ page_title }}
	{%- endif -%}
	{%- if current_tags -%}
		{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
	{%- endif -%}
	{%- if current_page != 1 -%}
		&ndash; {{ 'general.meta.page' | t: page: current_page }}
	{%- endif -%}
{%- assign escaped_page_title = page_title | escape -%}
	{%- unless escaped_page_title contains shop.name -%}
		&ndash; {{ shop.name }}
	{%- endunless -%}
{%- endcapture -%}
<title>{{ seo_title | strip }}</title>
{%- if page_description -%}
	<meta name="description" content="{{ page_description | escape }}">
{%- endif -%}
{% render 'social-meta-tags' %}

<link rel="preconnect" href="//fonts.shopifycdn.com">
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//productreviews.shopifycdn.com">
<link rel="dns-prefetch" href="//cdn.shopify.com">

<link rel="preload" href="{{ 'vendor.min.css' | asset_url }}" as="style">

{% render 'theme-fonts' %}

<style>
	{% render 'style-head.css' %}
</style>

<link href="{{ 'vendor.min.css' | asset_url }}" rel="stylesheet">

{% include 'head-theme-css' %}


{%- assign rtl = settings.rtl -%}
{% if rtl %}
	{{ 'style-rtl.min.css' | asset_url | stylesheet_tag }}
{% endif %}
<noscript id="deferred-styles">
	{{ 'icons.css' | asset_url | stylesheet_tag }}
</noscript >
{% capture custom_css %}{{ 'custom.css' | asset_url | stylesheet_tag }}{% endcapture %}
{{ custom_css }}

<script>
	function loadIconFonts() {
		var iconfont = new FontFace('icon-foxic', 'url({{ 'icon-foxic.woff' | asset_url }})');
		iconfont.load().then(function(loaded_face) {
			document.fonts.add(loaded_face);
			setTimeout(function () {
				document.body.classList.add('is-icons-loaded');
			}, 1000);
		})
	}
	document.addEventListener("DOMContentLoaded", loadIconFonts);
	setTimeout(function () {
		document.body.classList.add('is-icons-loaded');
	}, 3000);
	var loadDeferredStyles = function() {
		if($('#deferred-styles').length){
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		}
	};
	var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
			window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
	window.js_helper = {};
	js_helper = {
		strings: {
			addToCart: {{ 'products.product.add_to_cart' | t | json }},
			soldOut: {{ 'products.product.sold_out' | t | json }},
			in_stock: {{ 'theme.general.in_stock' | t | json }},
			unavailable: {{ 'products.product.unavailable' | t | json }},
			regularPrice: {{ 'products.product.regular_price' | t | json }},
			salePrice: {{ 'products.product.sale_price' | t | json }},
			sale: {{ 'products.product.on_sale' | t | json }},
			adding: {{ 'theme.add_to_cart.adding' | t | json }},
			added: {{ 'theme.add_to_cart.added' | t | json }},
			error: {{ 'theme.add_to_cart.error' | t | json }},
			remove: {{ 'cart.general.remove' | t | json  }},
			quantity: {{ 'cart.label.quantity' | t | json }},
			ufortunately_left: {{ 'theme.product.ufortunately_left' | t | json  }},
			left_in_stock_2: {{ 'theme.product.left_in_stock_2' | t | json  }},
			send_inform: {{ 'theme.modals.send_inform' | t | json  }},
			view_full_info: {{ 'theme.product.view_full_info' | t | json }},
			quick_view: {{ 'theme.general.quick_view' | t | json }},
			remove_from_wishlist: {{ 'theme.general.wishlist.remove_from_wishlist' | t | json }},
		},
		moneyFormat: {{ shop.money_format | json }},
		moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
		cart : {{ cart | json }},
		date:{
			monday:                  {{ 'theme.date.monday' | t | json }},
			tuesday:                 {{ 'theme.date.tuesday' | t | json }},
			wednesday:               {{ 'theme.date.wednesday' | t | json }},
			thursday:                {{ 'theme.date.thursday' | t | json }},
			friday:                  {{ 'theme.date.friday' | t | json }},
			saturday:                {{ 'theme.date.saturday' | t | json }},
			sunday:                  {{ 'theme.date.sunday' | t | json }},
			mon:                     {{ 'theme.date.mon' | t | json }},
			tue:                     {{ 'theme.date.tue' | t | json }},
			wed:                     {{ 'theme.date.wed' | t | json }},
			thu:                     {{ 'theme.date.thu' | t | json }},
			fri:                     {{ 'theme.date.fri' | t | json }},
			sat:                     {{ 'theme.date.sat' | t | json }},
			sun:                     {{ 'theme.date.sun' | t | json }},
			january:                 {{ 'theme.date.january' | t | json }},
			february:                {{ 'theme.date.february' | t | json }},
			march:                   {{ 'theme.date.march' | t | json }},
			april:                   {{ 'theme.date.april' | t | json }},
			may:                     {{ 'theme.date.may' | t | json }},
			june:                    {{ 'theme.date.june' | t | json }},
			july:                    {{ 'theme.date.july' | t | json }},
			august:                  {{ 'theme.date.august' | t | json }},
			september:               {{ 'theme.date.september' | t | json }},
			october:                 {{ 'theme.date.october' | t | json }},
			november:                {{ 'theme.date.november' | t | json }},
			december:                {{ 'theme.date.december' | t | json }},
			jan:                     {{ 'theme.date.jan' | t | json }},
			feb:                     {{ 'theme.date.feb' | t | json }},
			mar:                {{ 'theme.date.mar' | t | json }},
			apr:                     {{ 'theme.date.apr' | t | json }},
			jun:                     {{ 'theme.date.jun' | t | json }},
			jul:                     {{ 'theme.date.jul' | t | json }},
			aug:                     {{ 'theme.date.aug' | t | json }},
			sep:                     {{ 'theme.date.sep' | t | json }},
			oct:                     {{ 'theme.date.oct' | t | json }},
			nov:                     {{ 'theme.date.nov' | t | json }},
			dec:                     {{ 'theme.date.dec' | t | json }}
		}
	}
	document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>
<link href="{{ 'jquery.min.js' | asset_url }}" rel="preload" as="script">
<link href="{{ 'lazysizes.js' | asset_url }}" rel="preload" as="script">
<script src="{{ 'jquery.min.js' | asset_url }}"></script>
<script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
<script> window.shopInfo = {version: '2.5', uuid: '{{ settings.theme_uuid | replace:'a','z' | replace:'b','x' | replace:'c','v' | replace:'d','w' | replace:'e','r'  | replace:'f','y'  | replace:'-','pus' }}', theme_id: 26241041, store: 'https://{{ shop.permanent_domain }}', xyz: '{{ shop.email | replace:'@','portions34' }}', zzz: '{{ settings.theme_email | replace:'@','sweet17solt' }}'};</script>