<a href="{{ settings.header_bnr_2_url }}" class="bnr bnr--middle bnr--left" data-fontratio="{% if settings.maxwidth > 1600 %}7.95{% else %}6.5{% endif %}">
    {% assign _img = settings.header_bnr_2_image %}
    {%- if _img -%}{%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}{%- endif -%}
    <div class="bnr-img {% if _img %}image-container{% endif %}" {% if _img %}style="padding-bottom: {{ aspect_ratio | times: 100 }}%"{% endif %}>
        {% assign _img_size = '1150x105' %}
        {% if _img %}
            <img src="{{ _img | img_url: _img_size }}"
                 data-srcset="{{ _img | img_url: _img_size }} 1x, {{ _img | img_url: _img_size, scale: 2 }} 2x"
                 data-aspectratio="{{ _img.aspect_ratio }}"
                 data-sizes="auto"
                 alt="">
        {%- else -%}
            {% include 'image-placeholder-aspect-ratio-off-svg', width: 1150, height: 105, toppos: 30, text: '1150x105' %}
        {%- endif -%}
    </div>
    <div class="bnr-caption bnr-caption-carousel js-bnr-caption-carousel" style="padding: 0 0 0 45%">
        {%- if settings.header_bnr_2_caption_1_1 != blank or settings.header_bnr_2_caption_1_2 -%}
            <div class="bnr-caption-carousel-item">
                <div class="bnr-text9" style="font-weight: 300">{{ settings.header_bnr_2_caption_1_1 }}</div>
                <div class="bnr-text10">{{ settings.header_bnr_2_caption_1_2 }}</div>
            </div>
        {%- endif -%}
        {%- if settings.header_bnr_2_caption_2_1 != blank or settings.header_bnr_2_caption_2_2 -%}
            <div class="bnr-caption-carousel-item">
                <div class="bnr-text9" style="font-weight: 300">{{ settings.header_bnr_2_caption_2_1 }}</div>
                <div class="bnr-text10">{{ settings.header_bnr_2_caption_2_2 }}</div>
            </div>
        {%- endif -%}
    </div>
</a>