<ul class="pagination mt-0">
    {% if paginate.previous %}
      <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}" class="pagination-arrow"><i class='icon-keyboard_arrow_left'></i></a></li>
    {% endif %}
    {% for part in paginate.parts %}
        {% if part.is_link %}
          <li>
            <a href="{{ part.url }}" title="">{{ part.title }}</a>
          </li>
        {% else %}
            {% if part.title == paginate.current_page %}
              <li class="active"><a>{{  part.title }}</a></li>
            {% else %}
              <li><a>{{ part.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if paginate.next %}
      <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}" class="pagination-arrow"><i class='icon-keyboard_arrow_right'></i></a></li>
    {% endif %}
</ul>