<div class="page-content">
    <div class="holder mt-0 holder-coming-soon">
        <svg id="morphing" xmlns="http://www.w3.org/2000/svg" width="600" height="600" viewBox="0 0 600 600">
            <g transform="translate(50,50)">
                <path class="p" d="M93.5441 2.30824C127.414 -1.02781 167.142 -4.63212 188.625 21.7114C210.22 48.1931 199.088 86.5178 188.761 119.068C179.736 147.517 162.617 171.844 136.426 186.243C108.079 201.828 73.804 212.713 44.915 198.152C16.4428 183.802 6.66731 149.747 1.64848 118.312C-2.87856 89.9563 1.56309 60.9032 19.4066 38.3787C37.3451 15.7342 64.7587 5.14348 93.5441 2.30824Z"/>
            </g>
        </svg>
        <div class="container coming-soon-block">
            {%- if section.settings.login_enable -%}
            <div class="countdown-box-login">
                <a href="javascript:;" data-src="#countdownLogin" class="modal-info-link" id="modalInfoLink"><i class="icon-user"></i></a>
            </div>
            {%- endif -%}
            {%- if section.settings.timer_enable -%}
            <div class="countdown-box-coming-soon">
                <div class="countdown js-countdown" data-countdown="{{ section.settings.timer }}"></div>
            </div>
            {%- endif -%}
            <h2 class="countdown-box-title">{{ section.settings.heading }}</h2>
            <p class="countdown-box-text">{{ section.settings.subheading }}</p>
            {%- if section.settings.newsletter_enable -%}
            <div class="countdown-box-subscribe-form">
                {% form 'customer' %}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                {%- if form.posted_successfully? -%}
                    <span class="success-message">{{ 'general.password_page.signup_form_success' | t }}</span>
                {%- endif -%}
                <div class="row">
                    <div class="col-sm">
                        <input type="text" class="form-control form-control--xl{% if form.errors %} form-control--error{% endif %}" placeholder="Enter e-mail address" name="contact[email]">
                        <div class="text-left">{{ form.errors | default_errors }}</div>
                    </div>
                    <div class="col-sm-auto mt-15 mt-sm-0">
                        <button type="submit" class="btn btn--xl">{{ section.settings.newsletter_button }}</button>
                    </div>
                </div>
                {% endform %}
            </div>
            {%- endif -%}
            <div class="countdown-box-footer">
                {%- if section.settings.social_enable -%}
                <ul class="social-list-circle">
                    {%- render 'social-media-links' target: 'section' -%}
                </ul>
                {%- endif -%}
                <div class="countdown-box-footer-text">{{ section.settings.footer }}</div>
            </div>
        </div>
    </div>
    <div class="modal-info-content modal-info-content-sm" style="display: none;" id="countdownLogin">
        {% form 'storefront_password' %}
        <div class="countdown-box-login-form">
            <div class="form-group">
                <input class="form-control{% if form.errors %} form-control--error{% endif %}" type="password" name="password" placeholder="{{ 'customer.register.password' | t }}">
                <div class="text-left">{{ form.errors | default_errors }}</div>
            </div>
            <button type="submit" class="btn btn--lg w-100">{{ 'customer.login.sign_in' | t }}</button>
        </div>
        {%- if form.errors -%}
            <script>
				jQuery(document).ready(function () {
					$.fancybox.open([{
						src: '#countdownLogin',
						type: 'inline',
						btnTpl: {
							smallBtn: '<div data-fancybox-close class="fancybox-close-small modal-close"><i class="icon-close"></i></div>'
						}
					}], {
						buttons: ['close'],
						touch: false,
						afterClose: function afterClose() {
							var uri = window.location.toString();
							if (uri.indexOf("?") > 0) {
								var clean_uri = uri.substring(0, uri.indexOf("?"));
								window.history.replaceState({}, document.title, clean_uri);
							}
						}
					})
				})
            </script>
        {%- endif -%}
        {% endform %}
    </div>
</div>