{% assign on_sale = false %}
{% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
<div class="prd-block_info prd-block_info--style1" data-prd-handle="{{ product.url }}">
    <div class="prd-block_info-top prd-block_info_item order-0 order-md-2">
        <div class="prd-block_price prd-block_price--style2" data-price>
            {% render 'product-price-2' with product as product  %}
        </div>
        {%- if section.settings.promo_view_enable -%}
            <div class="prd-block_viewed-wrap d-none d-md-flex">
                {% include 'product-block-viewed' %}
            </div>
        {%- endif -%}
    </div>
    {%- unless settings_show_title_top -%}
    <div class="prd-holder prd-block_info_item order-0 mt-15 mt-md-0">
        <div class="prd-block_title-wrap">
            {%- if section.settings.product_rating -%}
                <div class="prd-block_reviews" data-toggle="tooltip" data-placement="top" title="{{ 'theme.product.scroll_to_reviews' | t }}"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
            {%- endif -%}
            <h1 class="prd-block_title">{{ product.title | strip_html }}</h1>
        </div>
    </div>
    {%- endunless -%}
    {%- if section.settings.description_yes -%}
        {%- if section.settings.global_description_yes -%}
            {%- assign introtext = section.settings.global_description -%}
        {%- else -%}
            {%- assign introtext = product.metafields.c_f.introtext -%}
        {%- endif -%}
        {%- if introtext != blank -%}
            {%- if introtext != '-' -%}
                <div class="prd-block_description prd-block_info_item {% if section.settings.description_mobile_hide %}d-none d-lg-block{% endif %}">
                    <h3>{{ 'theme.product.short_description' | t }}</h3>
                    {{ introtext }}
                </div>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    {%- if section.settings.real_time_users -%}
        <div class="prd-block_info-top prd-block_info_item order-2 order-md-1">
            {% include 'product-users-now' %}
        </div>
    {%- endif -%}
    {%- if section.settings.left_in_stock_enable -%}
        <div class="prd-progress prd-block_info_item" data-left-in-stock>
            <div class="prd-progress-text">
                {% if product.selected_or_first_available_variant.available %}
                    {{ 'theme.product.left_in_stock_1' | t }} <span class="prd-progress-text-left js-stock-left"></span> {{ 'theme.product.left_in_stock_2' | t }}
                {% else %}
                    {{ 'theme.product.ufortunately_left' | t }}<span class="prd-progress-text-left">0</span> {{ 'theme.product.left_in_stock_2' | t }}
                {% endif %}
            </div>
            <div class="prd-progress-text-null"></div>
            <div class="prd-progress-bar-wrap progress">
                <div class="prd-progress-bar progress-bar active" data-stock = "{% if product.selected_or_first_available_variant.available %}50, 10, 30, 25, 1000, 15000{% else %}50, 0, 0, 0, 1000, 15000{% endif %}"></div>
            </div>
        </div>
    {%- endif -%}
    {% include 'product-countdown' %}
    {%- if section.settings.order_delivery_time -%}
        <div class="prd-block_order-info prd-block_info_item {% unless product.selected_or_first_available_variant.available %}d-none{% endunless %}" data-order-time data-locale="{{ shop.locale }}">
            <i class="icon-box-2"></i>
            {% assign seconds = section.settings.order_delivery_days | times: 24 | times: 60 | times: 60 %}
            {% capture N1 %}<span  class="prd-block_order-info-time countdownCircleTimer" data-time="8:00:00, 15:30:00, 23:59:59"></span>{% endcapture %}
            {% capture N2 %}<span data-date>{{ 'now' | date: "%s" | plus: seconds | date: "%a, %b %d, %Y" }}</span>{% endcapture %}
            {% capture order_delivery_text %}<div>{{ section.settings.order_delivery_text | replace:'N1', N1 | replace:'N2', N2 }}</div>{% endcapture %}
            {{ order_delivery_text }}
        </div>
    {%- endif -%}
    {%- if section.settings.show_inform -%}
    <div class="prd-block_info_item prd-block_info-when-arrives {% if product.selected_or_first_available_variant.available %}d-none{% endif %}" data-when-arrives>
        <div class="prd-block_links prd-block_links m-0 d-inline-flex" >
            <i class="icon-email-1"></i>
            <div><a href="#" data-follow-up data-name="{{ product.title | strip_html }}" data-options="{{ product.selected_or_first_available_variant.title | strip_html }}" data-skuu="{{ product.selected_or_first_available_variant.sku | strip_html }}" class="prd-in-stock" data-src="#whenArrives">{{ 'theme.product.item_arrives' | t }}</a></div>
        </div>
    </div>
    {%- endif -%}
    <div class="prd-block_info-box prd-block_info_item d-none">
        <div class="two-column">
            {%- if section.settings.product_availability -%}
            <p>{{'theme.general.availability' | t }}:
                {% if product.selected_or_first_available_variant.available -%}
                    <span class="prd-in-stock" data-stock-status>{{ 'theme.general.in_stock' | t }}</span>
                {%- else -%}
                    <span class="prd-sold-out" data-stock-status>{{ 'products.product.sold_out' | t }}</span>
                {%- endif -%}
            </p>
            {%- endif -%}
            {%- if section.settings.tax_included -%}
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                    <p class="prd-taxes">{{ 'theme.product.tax_info' | t }}:
                        <span>
                            {%- if shop.taxes_included -%}
                                {{ 'products.product.include_taxes' | t }}
                            {%- endif -%}
                            {%- if shop.shipping_policy.body != blank -%}
                                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                            {%- endif -%}
                    </span>
                    </p>
                {%- endif -%}
            {%- endif -%}
            {%- if product.collections.size > 0 and section.settings.collections-%}
                <p>{{ 'theme.product.collections' | t }}:
                    {% for collection in product.collections %}
                        <span><a href="{{ collection.url }}" title="{{ 'collections.general.view_all' | t }}" data-toggle="tooltip" data-placement="top">{{ collection.title }}</a></span>{% unless forloop.last == true %},{% endunless %}
                    {% endfor %}
                </p>
            {%- endif -%}
            {%- if section.settings.product_sku -%}
            <p>{{ 'customer.order.sku' | t }}: <span data-sku>{% if product.selected_or_first_available_variant.sku.size > 0 %}{{ product.selected_or_first_available_variant.sku }}{% else %}-{% endif %}</span></p>
            {%- endif -%}
            {%- if section.settings.vendor and product.vendor != blank -%}
            <p>{{ 'products.product.vendor' | t }}: <span>{{ product.vendor }}</span></p>
            {%- endif -%}
            {%- assign barcode  = product.selected_or_first_available_variant.barcode | default:product.barcode -%}
            {%- if barcode != blank and section.settings.barcode-%}
                <p>{{ 'theme.product.barcode' | t }}: <span>{{ barcode }}</span></p>
            {%- endif -%}
        </div>
    </div>
    <div class="order-0 order-md-100">
    {% form 'product', product, novalidate: 'novalidate' %}
    {% include 'product-options' sectionId:section.id %}
    {% include 'product-line-properties' %}
        <div class="prd-block_actions {% if settings.wishlist_yes %}prd-block_actions--wishlist{% endif %}">
            {%- if section.settings.show_quantity_selector -%}
                {% render 'product-qty' %}
            {%- endif -%}
            <div class="btn-wrap">
                {% render 'product-add-to-cart' with product as product, class:'btn--add-to-cart js-trigger-addtocart', in_the_product:true %}
                {%- if section.settings.enable_payment_button %}
                    <div class="prd-block_agreement prd-block_info_item order-0 order-md-100 {% if settings.agreement_checkout_yes and settings.agreement_checkout_yes_ppage %}shopify-payment-agree disabled{% endif %} {% unless product.selected_or_first_available_variant.available -%}d-none{% endunless %}" data-buy-now>
                        {{ form | payment_button }}
                    </div>
                {%- endif %}
                {% endform %}
            </div>
            {%- if settings.wishlist_yes -%}
            <div class="btn-wishlist-wrap">
                <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--add js-add-wishlist" title="{{ 'theme.general.wishlist.add_to_wishlist' | t }}"><i class="icon-heart-stroke"></i></a>
                <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--off js-remove-wishlist" title="{{ 'theme.general.wishlist.remove_from_wishlist' | t }}"><i class="icon-heart-hover"></i></a>
            </div>
            {%- endif %}
        </div>
        {%- if settings.agreement_checkout_yes and settings.agreement_checkout_yes_ppage -%}
            <div class="prd-block_agreement prd-block_info_item order-0 order-md-100 text-right {% unless product.selected_or_first_available_variant.available -%}d-none{% endunless %}" data-agree>
                {% render 'agreement-checkbox', button: '.shopify-payment-agree', name: 'agreementCheckboxProductPage' %}
            </div>
        {%- endif -%}
    </div>
    <div class="prd-block_info_item">
        <ul class="prd-block_links list-unstyled">
            {%- assign size_guide = product.metafields.c_f.size_guide -%}
            {%- if size_guide != blank -%}
                <li><i class="{{ section.settings.size_guide_icon }}"></i><a href="#" data-fancybox class="modal-info-link" data-src="#sizeGuide">{{ pages[size_guide].title }}</a></li>
            {%- else -%}
                {%- if section.settings.size_guide != blank -%}
                    <li><i class="{{ section.settings.size_guide_icon }}"></i><a href="#" data-fancybox class="modal-info-link" data-src="#sizeGuide">{{ pages[section.settings.size_guide].title }}</a></li>
                {%- endif -%}
            {%- endif -%}
            {%- if section.settings.custom_link != blank -%}
                <li><i class="{{ section.settings.custom_link_icon }}"></i><a href="#" data-fancybox class="modal-info-link" data-src="#customInfo">{{ pages[section.settings.custom_link].title }}</a></li>
            {%- endif -%}
            {%- if section.settings.delivery_and_return != blank -%}
                <li><i class="{{ section.settings.delivery_and_return_icon }}"></i><a href="#" data-fancybox class="modal-info-link" data-src="#deliveryInfo">{{ pages[section.settings.delivery_and_return].title }}</a></li>
            {%- endif -%}
            {%- if section.settings.ask_about_this_product -%}
                <li><i class="{{ section.settings.ask_about_this_product_icon }}"></i><a href="#" data-fancybox class="modal-info-link" data-src="#contactModal">{{ 'theme.product.ask_about_this_product' | t }}</a></li>
            {%- endif -%}
        </ul>
        {%- if size_guide != blank -%}
            <div id="sizeGuide" style="display: none;" class="modal-info-content modal-info-content-lg">
                <div class="modal-info-heading">
                    <div class="mb-1"><i class="icon-size-guide"></i></div>
                    <h2>{{ pages[size_guide].title }}</h2>
                </div>
                {{ pages[size_guide].content }}
            </div>
        {%- else -%}
            {%- if section.settings.size_guide != blank  -%}
                <div id="sizeGuide" style="display: none;" class="modal-info-content modal-info-content-lg">
                    <div class="modal-info-heading">
                        <div class="mb-1"><i class="icon-size-guide"></i></div>
                        <h2>{{ pages[section.settings.size_guide].title }}</h2>
                    </div>
                    {{ pages[section.settings.size_guide].content }}
                </div>
            {%- endif -%}
        {%- endif -%}
        {%- if section.settings.custom_link != blank  -%}
            <div id="customInfo" style="display: none;" class="modal-info-content modal-info-content-lg">
                <div class="modal-info-heading">
                    <div class="mb-1"><i class="icon-delivery-1"></i></div>
                    <h2>{{ pages[section.settings.custom_link].title }}</h2>
                </div>
                <br>
                {{ pages[section.settings.custom_link].content }}
            </div>
        {%- endif -%}
        {%- if section.settings.delivery_and_return != blank  -%}
            <div id="deliveryInfo" style="display: none;" class="modal-info-content modal-info-content-lg">
                <div class="modal-info-heading">
                    <div class="mb-1"><i class="icon-delivery-1"></i></div>
                    <h2>{{ pages[section.settings.delivery_and_return].title }}</h2>
                </div>
                <br>
                {{ pages[section.settings.delivery_and_return].content }}
            </div>
        {%- endif -%}
        {%- if section.settings.ask_about_this_product -%}
            <div id="contactModal" style="display: none;" class="modal-info-content modal-info-content-sm">
                <div class="modal-info-heading">
                    <div class="mb-1"><i class="icon-envelope"></i></div>
                    <h2>{{ 'theme.product.have_a_question' | t }}</h2>
                </div>
                {%- assign formId = 'contactForm' -%}
                {%- form 'contact', id: formId, class:'contact-form', data-toggle: "validator" -%}
                {% if form.posted_successfully? %}
                    {%- include 'form-contact-notification' -%}
                {% endif %}
                <div class="form-group">
                    <input type="text" name="contact[name]" class="form-control form-control--sm" placeholder="{{ "contact.form.name" | t }}">
                </div>
                <div class="form-group">
                    <input type="text" name="contact[email]" class="form-control form-control--sm" placeholder="{{ "contact.form.email" | t }}" required>
                </div>
                <div class="form-group">
                    <input type="text" name="contact[phone]" class="form-control form-control--sm" placeholder="{{ 'contact.form.phone' | t }}">
                </div>
                <div class="form-group">
                    <textarea class="form-control textarea--height-170" name="contact[body]" placeholder="{{ "contact.form.message" | t }}" required>
                        {{- 'theme.product.ask_manager_textarea' | t }} "{{ product.title }}" <<>>
                        {%- unless product.has_only_default_variant -%}
                            {{- product.selected_or_first_available_variant.title | strip_html }} <<>>
                        {%- endunless -%}
                        {%- if product.selected_or_first_available_variant.sku != blank -%}
                             {{ 'customer.order.sku' | t }}:{{ product.selected_or_first_available_variant.sku }}
                        {%- endif -%}
                    </textarea>
                </div>
                <button class="btn" type="submit">{{ 'theme.product.ask_manager' | t }}</button>
                <p class="p--small mt-15 mb-0">{{ 'theme.product.ask_about_the_product' | t }}</p>
                {%- endform -%}
            </div>
        {%- endif -%}
    </div>
    {%- assign safe_checkout_image_yes = section.settings.safe_checkout_image_yes -%}
    {%- if safe_checkout_image_yes -%}
        <div class="prd-block_info_item">
            {% assign _img = section.settings.safe_checkout_image %}
            {% assign _img_size = 'master' %}
            {% if _img %}
                <img class="lazyload img-responsive"
                     data-src="{{ _img | img_url: _img_size }}"
                     data-aspectratio="{{ _img.aspect_ratio }}"
                     data-sizes="auto"
                     alt="">
            {%- else -%}
                {% include 'image-placeholder-aspect-ratio-off-svg', width: 730, height: 86, toppos: 36, text: 'Payment icons 730x86px' %}
            {%- endif -%}
        </div>
    {%- endif -%}
</div>