{%- assign previews = false -%}
{%- for image in product.images -%} {%- if image.alt == "MAIN" or image.alt == "HOVER" or forloop.first -%} {% continue %} {%- endif -%} {% assign previews = true %} {% break %} {%- endfor -%}
{% if settings.show_product_gallery and product.images.size > 1 and previews %}
    <ul class="list-options color-swatch">
        {% for image in product.images limit: settings.product_gallery_limit %}
            {%- if image.alt == "MAIN" or image.alt == "HOVER" -%} {% continue %} {%- endif -%}
            <li data-image="{{ image.src | img_url: grid_image_width }}" data-aspect="{{ image.aspect_ratio | round: 2 }}"><a href="#" class="js-color-toggle" {% if image.alt != product.title and image.alt != 'MAIN' %} data-original-title="{{ image.alt | escape }}" data-toggle="tooltip" data-placement="right"{% endif %}><img data-srcset="{{ image.src | img_url: gallery_image_preview, scale:grid_image_scale }}" class="lazyload" alt="{{ image.alt | escape }}"></a></li>
        {% endfor %}
    </ul>
{% endif %}