{% if settings.product_previews_colors %}
    <!-- Color Swatch -->
    {% assign has_color = false %}
    {% assign index_color = 0 %}
    {% for option in product.options %}
        {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
        {% if downcased_option contains 'color' %}
            {% assign has_color = true %}
            {% assign index_color = forloop.index0 %}
        {% endif %}
    {% endfor %}
    {% if has_color %}
        {% assign colors_count = 0 %}
        <div class="colorswatch-label js-prd-colorswatch {% if settings.color_swatches_style == 'variants' %}colorswatch-label--variants{% endif %}">
            <i class="icon-palette"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></i>
           <ul>
            {% assign colors = '' %}
            {% for variant in product.variants %}
                {% if variant.available %}
                    {% capture color %}{{ variant.options[index_color] }}{% endcapture %}
                    {% capture wrapped_color %},{{ color }},{% endcapture %}
                    {% unless colors contains wrapped_color %}
                    {% assign colors_count = colors_count | plus: 1 %}
                    {% if colors_count < 6 %}
                        {%- if settings.color_swatches_style == 'variants' -%}
                            {% if variant.image.src %}<li data-variant-id="{{ variant.id }}" data-price="{{ variant.price }}" data-compare-price="{{ variant.compare_at_price }}" data-image="{{ variant.image.src | img_url: grid_image_width, scale: grid_image_scale }}" ><a href="#" class="js-color-toggle" data-original-title="{{ color }}" data-toggle="tooltip" data-placement="left">
                                    {% assign _img = variant.image %}
                                    {% assign _img_size = '40x' %}
                                    {% if _img %}
                                        <img class="lazyload blur-up"
                                             data-src="{{ _img | img_url: _img_size }}"
                                             data-srcset="{{ _img | img_url: _img_size }} 1x"
                                             data-sizes="auto"
                                             alt="{{ color }}">
                                    {%- endif -%}
                                </a></li>
                            {% endif %}
                        {%- else -%}
                            {%- if variant.image.src -%}
                            <li data-variant-id="{{ variant.id }}" data-price="{{ variant.price }}" data-compare-price="{{ variant.compare_at_price }}" data-image="{{ variant.image.src | img_url: grid_image_width, scale: grid_image_scale }}" >
                                <a href="#" class="js-color-toggle" data-original-title="{{ color }}" data-toggle="tooltip" data-placement="left">
                                    <img class="lazyload blur-up {% if color contains 'White' %}color-bordered{% endif %}" data-src="{{ color | handle | prepend:'color-' | append: '.png' | file_url | downcase }}"  alt="{{ color }}">
                                </a>
                            </li>
                            {%- endif -%}
                        {%- endif -%}
                    {% endif %}
                    {% capture colors %}{{ colors }}{{ wrapped_color }}{% endcapture %}
                    {% endunless %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!-- /Color Swatch -->
    {% endif %}
{% endif %}