{%- assign has_custom_tabs = false -%}
{% for tag in product.tags %}
  {% if tag contains '_tab' %}
    {%- assign has_custom_tabs = true -%}
  {% endif %}
{% endfor %}

{%- assign reviews_as_tab = false -%}
{% if settings.enable_product_reviews and settings.reviews_layout == 'expandable' %}
  {%- assign reviews_as_tab = true -%}
{% endif %}

{% if settings.product_content_1 != blank or settings.product_content_2 != blank or settings.product_content_3 != blank or settings.product_contact or reviews_as_tab or has_custom_tabs %}
  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">

    {% for tag in product.tags %}
      {% if tag contains '_tab' %}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
        {% if include_page.title != blank %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-{{ include_page_handle.last }}-{{ section_id }}">
            {{ include_page.title }}
            {% include 'collapsible-icons-plus' %}
          </button>
          <div id="Product-content-{{ include_page_handle.last }}-{{ section_id }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte">
              {{ include_page.content }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    
    
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-f-{{ section_id }}">
        <span>Les avantages</span>
        {% include 'collapsible-icons-plus' %}
      </button>
      <div id="Product-content-f-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner product-reviews product-reviews--tab">
          <div class="feature">
            {{ product.metafields.global.advantages }}
            
            {%comment%}
            <ul>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/4.png?1367" alt="Absorbent"/>Super Absorbent.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/004-cork.png?1367" alt="quality"/>The high quality of the fabric.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/2.png?1367" alt="sand"/>Sand does not stick even when wet.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/1.png?1367" alt="fast drying"/>Fast Drying.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/3.png?1367" alt="orignal"/>Original and exclusive designs.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/001-pouch.png?1367" alt="buckle"/>Suspension Buckle.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/002-lightweight.png?1367" alt="lightweight"/>ULTRA Lightweight for travel.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/5.png?1368" alt="yoga"/>Can be used as a mat for YOGA.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/shopping-bag.png?1368" alt="waterproof"/>A water-proof bag is included.</li>
              <li><img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/006-size.png?1368" alt="towel"/>Large towel size 100cm x 160cm.</li>
            </ul>
            {%endcomment%}
            
            
          </div>
        </div>
      </div>
    
    
    {% if reviews_as_tab %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-5-{{ section_id }}">
        {%comment%}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}">Reviews</span>{%endcomment%}
        <span class="shopify-product-reviews-badge"><div class="yotpo bottomLine"  data-product-id="{{ product.id }}">
              {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
            {%- assign time_now = 'now' | date: '%s' %}
            {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
            {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
            {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
            {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
            {%- if yotpo_live_time and diff_seconds_from_live < 86400 and yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
             {%- assign yotpo_bottomline_obsolete = false %}
            {%- else %}
             {%- assign yotpo_bottomline_obsolete = true %}
            {%- endif %}
            {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
             {{ product.metafields.yotpo.bottomline }}
            {%- endif %}
          </div></span>
        {% include 'collapsible-icons-plus' %}
      </button>
      <div id="Product-content-5-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner product-reviews product-reviews--tab">
          
          {% comment %}<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{% endcomment %}
          <div id="shopify-product-reviews">
            
            <div class="review_part">  
              <div class="container">
                <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}">
                  {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
                  {%- assign time_now = 'now' | date: '%s' %}
                  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
                  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
                  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
                  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
                  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
                  {%- assign yotpo_main_widget_obsolete = false %}
                  {%- else %}
                  {%- assign yotpo_main_widget_obsolete = true %}
                  {%- endif %}
                  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
                  {%- for field in product.metafields.yotpo_reviews -%}
                  {{ field | last }}
                  {%- endfor -%}
                  {%- endif %}
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    {% endif %}

    
    {% if settings.product_content_1 != blank %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-1-{{ section_id }}">
        {{ pages[settings.product_content_1].title }}
        {% include 'collapsible-icons-plus' %}
      </button>
      <div id="Product-content-1-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">
          {{ pages[settings.product_content_1].content }}
        </div>
      </div>
    {% endif %}
    {% if settings.product_content_2 != blank %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-2-{{ section_id }}">
        {{ pages[settings.product_content_2].title }}
        {% include 'collapsible-icons-plus' %}
      </button>
      <div id="Product-content-2-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">
          {{ pages[settings.product_content_2].content }}
        </div>
      </div>
    {% endif %}
    {% if settings.product_content_3 != blank %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-3-{{ section_id }}">
        {{ pages[settings.product_content_3].title }}
        {% include 'collapsible-icons-plus' %}
      </button>
      <div id="Product-content-3-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">
          {{ pages[settings.product_content_3].content }}
        </div>
      </div>
    {% endif %}

    {% if settings.product_contact %}
      {% form 'contact' %}

        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-4-{{ section_id }}">
          {{ settings.product_contact_title }}
          {% include 'collapsible-icons-plus' %}
        </button>
        <div id="Product-content-4-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <div class="form-vertical">

              <input type="hidden" name="contact[product]" value="Product question for: {{ shop.secure_url }}/admin/products/{{ product.id }}">

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
              </div>

              <!--
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              -->

              <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

            </div>
          </div>
        </div>

        {% if form.posted_successfully? %}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {% if form.product %}

          {{ form.errors | default_errors }}
        {% endif %}

      {% endform %}
    {% endif %}

  </div>
{% endif %}
