{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{%- assign settings_show_you_save = section.settings.show_you_save | default:settings.qw_show_you_save -%}
<div class="prd-block_price--actual" data-regular-price>{{ product.selected_or_first_available_variant.price | money }}</div>
<div class="prd-block_price-old-wrap">
    <span class="prd-block_price--old" data-sale-price>{% if on_sale %}{%- assign temp_price = product.selected_or_first_available_variant.compare_at_price | money -%}{{ temp_price | replace:'"money"','money' | replace:"'money'","money" }}{% endif %}</span>
    <span class="prd-block_price--text {% unless settings_show_you_save and on_sale %}d-none{% endunless %}" data-you-save="{{ settings_show_you_save }}">{{ 'theme.product.you_save' | t }}: {% if settings_show_you_save and on_sale %}<span data-save-money>{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | money }}</span>{% endif %} (<span data-percent>{% if settings_show_you_save and on_sale %}{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by:product.selected_or_first_available_variant.compare_at_price | times: 100 | divided_by: 100 | floor }}{% endif %}</span>%)</span></span>
</div>
