{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{% if product.price_varies %}
    {% capture price %}{{ product.price_min | money }}{% endcapture %}
{% else %}
    {% capture price %}{{ product.selected_or_first_available_variant.price | money }}{% endcapture %}
{% endif %}
{% if on_sale %}
    {%- assign temp_price = product.selected_or_first_available_variant.compare_at_price | money -%}
    <div class="price-old">{{ temp_price | replace:'"money"','money' | replace:"'money'","money" }}</div>
{% endif %}
<div class="price-new">{% if product.price_varies %}{{ 'theme.general.from_html' | t: price: price }}{% else %}{{ price | replace:'"money"','money' | replace:"'money'","money" }}{% endif %}</div>