{% unless settings.catalog_mode %}
    {%- assign image_preview = '58x58' -%}
    {%- assign image_scale = 2 -%}
    {%- assign on_sale = false -%}
    {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
        {%- assign on_sale = true -%}
    {%- endif -%}
    {%- assign variant_name = "" -%}
    {%- unless product.has_only_default_variant -%}
        {%- if in_the_product -%}
            {%- assign variant_name = product.selected_or_first_available_variant.title -%}
        {%- endif -%}
    {%- endunless -%}
    {%- assign id = product.selected_or_first_available_variant.id -%}
    {%- assign name = product.title | strip_html | escape  -%}
    {%- if product.has_only_default_variant -%}
        {%- assign url = product.url | within: collection -%}
    {%- else -%}
        {%- assign url = product.selected_or_first_available_variant.url | within: collection -%}
    {%- endif -%}
    {%- assign path = product.selected_or_first_available_variant.featured_image.src | default: product.featured_image | img_url: image_preview, scale:image_scale -%}
    {%- assign aspect_ratio = product.featured_image.aspect_ratio -%}
    {% capture data_product %}"variant_name": "{{ variant_name }}", "id":"{{ id }}", "name": {{ name | json }}, "url":"{{ url }}", "path":"{{ path }}", "aspect_ratio":"{{ aspect_ratio }}"{% endcapture %}

    {%- if product.has_only_default_variant or in_the_product -%}
        {% capture status %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}
        {% assign btn_class = 'btn js-add-to-cart' %}
    {%- else -%}
        {% if product.price_varies %}
            {% capture price %}{{ product.price_min | money }}{% endcapture %}
        {% else %}
            {% capture price %}{{ product.selected_or_first_available_variant.price | money }}{% endcapture %}
        {% endif %}
        {%- assign price_actual = price | replace:'"money"','money' | replace:"'money'","money" | json -%}
        {%- assign temp_price = product.selected_or_first_available_variant.compare_at_price | money -%}
        {% capture price_old %}"price_old":{{ temp_price |  replace:'"money"','money' | replace:"'money'","money" | json }},{% endcapture %}
        {% unless on_sale %}{% assign price_old = "" %}{% endunless %}
        {%- assign main_image = product.featured_image.src | img_url: image_preview, scale:image_scale -%}
        {%- assign path_image_big = product.featured_image.src | img_url: 'master' -%}
        {%- assign variant_first_name = product.selected_or_first_available_variant.title -%}
        {% assign variants = '' %}
        {% for variant in product.variants %}
            {% assign variant_on_sale = false %}
            {% if variant.compare_at_price > variant.price %}
                {% assign variant_on_sale = true %}
            {% endif %}
            {%- assign variant_id = variant.id -%}
            {%- assign variant_name = variant.title -%}
            {%- assign variant_url = variant.url -%}
            {%- assign path_variant = variant.featured_image.src | img_url: image_preview, scale:image_scale -%}
            {%- assign path_variant_big = variant.featured_image.src | img_url: 'master' -%}
            {%- assign temp_price = variant.compare_at_price | money -%}
            {%- assign variant_price_old = temp_price |  replace:'"money"','money' | replace:"'money'","money" | json -%}
            {%- assign temp_price = variant.price | money -%}
            {%- assign variant_price_actual = temp_price |  replace:'"money"','money' | replace:"'money'","money" | json -%}
            {%- assign variant_disabled = variant.available -%}
            {%- capture info -%}{% unless variant.available %} - {{ 'products.product.sold_out' | t }} {% endunless %} {% if variant_on_sale %} ({{ 'products.product.sale_price' | t }}){% endif %}{% endcapture %}
            {% capture option_json %}"{{ variant_name }}": { "id":"{{ variant_id }}", "name": {{ name | json }}, "variant_name": "{{ variant_name }}", "aspect_ratio":"{{ variant.featured_image.aspect_ratio | default:aspect_ratio }}", "main_image":"{{ main_image }}", "main_image_big":"{{ path_image_big }}", "path":"{{ path_variant }}", "path_image_big":"{{ path_variant_big }}", "url":"{{ variant_url }}", "price_old":{{ variant_price_old }}, "price_actual":{{ variant_price_actual }}, "disabled":{{ variant_disabled }}, "info":"{{ info }}" }{% endcapture %}
            {% assign variants = variants | append:option_json %}
            {% unless forloop.last %}{% assign variants = variants | append:',' %}{% endunless %}
        {% endfor %}
        {% capture data_product %}"variant_name": "{{ variant_first_name }}", "id":"{{ id }}", "name": {{ name | json }}, "url":"{{ url }}", "path":"{{ path }}", "aspect_ratio":"{{ aspect_ratio }}", "price_actual": {{ price_actual }}, {{ price_old }} "main_image": "{{ main_image }}", "path_image_big":"{{ path_image_big }}", "variants":{ {{ variants }} }{% endcapture %}

        {%- if settings.ajax_cart -%}
            {%- assign btn_class = 'btn js-select-add-to-cart' -%}
        {%- else -%}
            {%- assign btn_class = 'btn' -%}
        {%- endif -%}

        {%- if settings.select_button_direct or settings.ajax_cart == false -%}{%- assign btn_class = 'd-none' -%}{%- endif -%}
        {%- if settings.select_button_direct == false and settings.ajax_cart == false  -%}
            {%- if product.selected_or_first_available_variant.available -%}
                {%- assign btn_class = 'btn d-none' -%}
            {%- else -%}
                {%- assign btn_class = 'btn' -%}
            {%- endif -%}
        {%- endif -%}
        {%- assign status = 'theme.add_to_cart.select_options' | t -%}
    {%- endif -%}
    {% unless product.selected_or_first_available_variant.available %} {%- assign status = 'products.product.sold_out' | t -%} {% endunless %}
    {%- if product.price_varies -%}
        {% capture price %}{{ product.price_min | money |  replace:'"money"','money' | replace:"'money'","money" }}{% endcapture %}
    {%- else -%}
        {% capture price %}{{ product.selected_or_first_available_variant.price | money |  replace:'"money"','money' | replace:"'money'","money"}}{% endcapture %}
    {%- endif -%}


    {%- assign show_add_to_cart = false -%}
    {%- assign show_follow_up = false -%}
    {%- if product.selected_or_first_available_variant.available -%}
        {%- assign show_add_to_cart = true -%}
    {%- else -%}
        {%- if settings.add_to_cart_follow -%}
            {%- assign show_follow_up = true -%}
        {%- else -%}
            {%- assign show_add_to_cart = true -%}
        {%- endif -%}
    {%- endif -%}

    {%- if show_follow_up -%}
    {%- endif -%}

    {%- unless product.has_only_default_variant or in_the_product -%}{% if settings.select_button_direct or settings.ajax_cart == false %}{% if request.page_type != 'product' and product.selected_or_first_available_variant.available %}<a href="{{ url }}" class="btn">{{ status }}</a>{% endif %}{% endif %}{% endunless %}
    <button {% unless product.selected_or_first_available_variant.available %}aria-disabled="true"{% endunless %}  class="{{ btn_class }} {{ class }} {% unless show_add_to_cart %}d-none{% endunless %}" {{ style }} data-product='{ {{ data_product }} }' data-variant-id="{{ product.selected_or_first_available_variant.id }}"  data-add-to-cart-text data-add-to-cart   data-path="{{ product.featured_image.src | img_url: image_preview, scale:image_scale }}" data-url="{{ product.selected_or_first_available_variant.url }}"  title="{% if product.price_varies %}{{ 'theme.general.from_html' | t: price: price  | strip_html }}{% else %}{{ price | strip_html }}{% endif %}">{{ status }}</button>
    <a href="#" data-follow-up data-name='{{ product.title }}' data-options="{{ product.selected_or_first_available_variant.title | strip_html }}" data-skuu="{{ product.selected_or_first_available_variant.sku | strip_html }}"  class="btn{% if in_the_product %} btn--follow{% endif %} {% unless show_follow_up %}d-none{% endunless %}" data-back-focus="false" data-src="#whenArrives">{{ 'theme.general.follow' | t }}</a>

    {% if product.has_only_default_variant  %}<input type="hidden"  name="id" value="{{ product.selected_or_first_available_variant.id }}" />{% endif %}
{% endunless %}