<!-- Nav tabs -->
<ul class="nav nav-tabs product-tab">
    {%- for block in section.blocks -%}
        {%- if block.settings.enable -%}
            {%- if  block.type == 'tab_description' -%}
                {%- assign product_description = product.description -%}
                {%- if product_description == blank -%}{% continue %}{%- endif -%}
            {%- endif -%}
            {%- if  block.type == 'tab_metafield' -%}
                {%- assign tab_metafield = product.metafields.c_f[block.settings.title] -%}
                {%- if tab_metafield == blank -%}{% continue %}{%- endif -%}
            {%- endif -%}
            <li class="nav-item"><a href="#Tab{{ block.id }}" class="nav-link" data-toggle="tab">
                    {%- if  block.type == 'tab_page' -%}
                        {{ pages[block.settings.page].title }}
                        {%- elsif  block.type == 'tab_metafield' -%}
                        {%- assign tab_metafield = product.metafields.c_f[block.settings.title] -%}
                        {%- if tab_metafield != blank -%}
                            {{ tab_metafield }}
                        {%- endif -%}
                    {%- else -%}
                        {{ block.settings.title }}
                    {%- endif -%}
                    <div class="toggle-arrow"><span></span><span></span></div>
                </a></li>
        {%- endif -%}
    {%- endfor -%}
</ul>
<!-- Tab panes -->
<div class="tab-content {% if settings.color_ppage_accordion_content_bg_yes %}tab-content--bg{% endif %}">
    {%- for block in section.blocks -%}
        {%- if block.settings.enable -%}
            {%- if  block.type == 'tab_description' -%}
                {%- assign product_description = product.description -%}
                {%- if product_description == blank %}{% continue %}{% endif -%}
            {%- endif -%}
            {%- if  block.type == 'tab_metafield' -%}
                {%- assign tab_metafield = product.metafields.c_f[block.settings.title] -%}
                {%- if tab_metafield == blank %}{% continue %}{% endif -%}
            {%- endif -%}
            <div role="tabpanel" class="tab-pane fade" id="Tab{{ block.id }}">
                {%- case block.type -%}
                {%- when 'tab_description' -%}
                {%- assign product_description = product.description -%}
                {{ product_description }}
                {%- when 'tab_page' -%}
                {{ pages[block.settings.page].content }}
                {%- when 'tab_tags' -%}
                <ul class="tags-list">
                    {%- for tag in product.tags -%}
                        <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
                    {%- endfor -%}
                </ul>
                {%- when 'tab_reviews' -%}
                <div id="productReviews">{% include 'reviews-shortcode' %}</div>
                {%- when 'tab_metafield' -%}
                {%- assign tab_metafield = product.metafields.c_f[block.settings.title] -%}
                {%- if tab_metafield != blank -%}
                    {%- assign x = block.settings.title | replace:'title','content' -%}
                    {%- assign x_content = product.metafields.c_f[x] -%}
                    {{ x_content }}
                {%- endif -%}
                {%- endcase -%}
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>