<div class="shopify-section index-section inner-icon-section {% if section.settings.hide_section %}hide{% endif %}">
  <div class="page-width">
    {% if section.settings.title != blank %}
     <div class="section-header text-center">
      <h2>{{ section.settings.title }}</h2>
    </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
    <div class="grid grid--uniform grid--flush-bottom hb-section">
      {% for block in section.blocks %}
      <div class="grid__item medium-up--one-fifth text-center">
        {% if block.settings.image != blank %}
        <div class="feature-row__image-wrapper js">
          <img class="feature-row__image lazyautosizes lazyloaded" src="{{ block.settings.image | img_url: 'master' }}">
        </div>
        {% endif %}
        {% if block.settings.title != blank %}
        <h3 class="h4">{{ block.settings.title }}</h3>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if section.settings.btn_url or section.settings.btn_text != blank %}
    <div class="section-btn text-center">
      {% if section.settings.btn_url != blank %}
      <a href="{{ section.settings.btn_url }}" class="btn btn--secondary btn--large hb-btn">
        {% endif %}
        {{ section.settings.btn_text }}
        {% if section.settings.btn_url != blank %}
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>