{% unless product.has_only_default_variant %}
    {% if settings_options_style == 'dropdowns' %}
        <div class="prd-block_options prd-block_info_item prd-block_options--select">
        {% for option in product.options_with_values %}
            <div class="prd-block_select">
                <div class="option-label" for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}:</div>
                <div class="form-group select-wrapper select-wrapper-sm">
                    <select class="form-control form-control--sm single-option-selector-{{ sectionId }}" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                        {% for value in option.values %}
                            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="prd-block_options">
        {% for option in product.options_with_values %}
            <div class="prd-size swatches">
                <div class="option-label">{{ option.name }}:</div>
                <select class="form-control hidden single-option-selector-{{ sectionId }}" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                {%- if settings_color_options_name == option.name and settings_color_swatches_style != 'default' -%}
                    {%- case settings_color_swatches_style -%}
                        {%- when 'variants' -%}
                            <ul class="images-list js-size-list" data-select-id="SingleOptionSelector-{{ forloop.index0 }}">
                                {% for value in option.values %}
                                    <li {% if option.selected_value == value %} class="active"{% endif %}>
                                        <a href="#" data-value="{{ value | escape }}" data-toggle="tooltip" data-placement="top" title="{{ value | escape }}" style="width: {{ settings_swatches_width }}px">{% render 'getFirstVariantImageByColorName' product:product, value:value, option:option, settings_swatches_width:settings_swatches_width, settings_color_options_name:settings_color_options_name %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%- when 'colorpics' -%}
                            <ul class="color-list js-size-list" data-select-id="SingleOptionSelector-{{ forloop.index0 }}">
                                {% for value in option.values %}
                                    <li {% if option.selected_value == value %} class="active"{% endif %}>
                                        <a class="js-color-toggle" href="#" data-value="{{ value | escape }}" data-toggle="tooltip" data-placement="top" title="{{ value | escape }}"><span class="value"><img data-src="{{ value | handle | prepend:'color-' | append: '.png' | file_url | downcase }}" class="lazyload" alt=""></span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                    {%- endcase -%}
                {%- else -%}
                    <ul class="size-list js-size-list" data-select-id="SingleOptionSelector-{{ forloop.index0 }}">
                        {% for value in option.values %}
                            <li {% if option.selected_value == value %} class="active"{% endif %}><a href="#" data-value="{{ value | escape }}"><span class="value">{{ value }}</span></a></li>
                        {% endfor %}
                    </ul>
                {%- endif -%}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <select name="id" id="ProductSelect-{{ sectionId }}" class="d-none no-js">
        {% for variant in product.variants %}
            {% assign variant_on_sale = false %}
            {% if variant.compare_at_price > variant.price %}
                {% assign variant_on_sale = true %}
            {% endif %}
            {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}"> {{ variant.title }} </option>
            {% else %}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endunless %}