{%- for product in collection.products limit: 4 -%}
    {%- assign on_sale = false -%}
    {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
        {%- assign on_sale = true -%}
    {%- endif -%}
    {%- assign grid_image_width = '350x' -%}
    <div class="col">
        <div class="prd-img-area">
            <a title="{{ product.title | strip_html }}" href="{{ product.url | within: collection }}" class="prd-img {% unless section.settings.equal_height %}prd-img--noequal{% endunless %}" {% unless section.setting.equal_height %}style="height:auto;padding-bottom:0!important;"{% endunless %}>
                {%- assign img = product.featured_image.src | img_url: grid_image_width -%}
                {%- assign img_2x = product.featured_image.src | img_url: grid_image_width, scale:2 -%}
                {%- assign aspect_ratio = 1 | divided_by: product.featured_image.aspect_ratio -%}
                {%- for image in product.images -%}
                    {%- if image.alt == "MAIN" -%}
                        {%- assign img = image.src | img_url: grid_image_width -%}
                        {%- assign aspect_ratio = 1 | divided_by: image.aspect_ratio -%}
                        {%- assign img_2x = image.src | img_url: grid_image_width, scale:2 -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                <span class="image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%{% unless section.settings.equal_height %}!important{% endunless %}">
                    <img data-src="{{ img }}" data-srcset="{{ img }} 1x, {{ img_2x }} 2x" alt="{{ product.featured_image.alt | escape }}" data-expand="auto" class="prd-img-first lazyload lazypreload">
                </span>
                {%- for image in product.images -%}
                    {%- if image.alt == "HOVER" -%}
                        {%- assign img = image.src | img_url: grid_image_width -%}
                        {%- assign aspect_ratio = 1 | divided_by: image.aspect_ratio -%}
                        {%- assign img_2x = image.src | img_url: grid_image_width, scale:2 -%}
                        <span class="image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                            <img data-src="{{ img }}" data-srcset="{{ img }} 1x, {{ img_2x }} 2x" alt="{{ product.featured_image.alt | escape }}" data-expand="auto" class="lazyload lazypreload">
                        </span>
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
            </a>
            {%- if on_sale and settings.show_label_sale -%}
                <div class="prd-labels">
                    <div class="label-sale">
                        {% assign percent = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by:product.selected_or_first_available_variant.compare_at_price | times: 100 | divided_by: 100 | floor %}
                        {%- if settings.label_sale_style == 'all' -%}
                            <span>-{{ percent }}% <span class="sale-text">{{ 'products.product.on_sale' | t }}</span></span>
                            {%- elsif settings.label_sale_style == 'text' -%}
                            <span><span class="sale-text">{{ 'products.product.on_sale' | t }}</span></span>
                        {%- else -%}
                            <span>-{{ percent }}%</span>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </div>
        <div class="prd-info">
            <h2 class="prd-title"><a title="{{ product.title  | strip_html  }}" href="{{ product.url | within: collection }}">{{ product.title  | strip_html  }}</a></h2>
            {%- if settings.add_to_cart_enable -%}
                <div class="creative-product-carousel-hovers">
                    <div class="creative-product-carousel-price">
                        {% render 'product-price' with product as product %}
                    </div>
                    {%- if settings.add_to_cart_enable -%}
                        <div class="creative-product-carousel-action">
                            <form method="post" action="{{ routes.cart_add_url }}">
                                {% render 'product-add-to-cart' with product as product %}
                            </form>
                        </div>
                    {%- endif -%}
                </div>
            {%- else -%}
                <div class="creative-product-carousel-price">
                    {% render 'product-price' with product as product %}
                </div>
            {%- endif -%}
        </div>
    </div>
{%- else -%}
    {%- for i in (1..4) -%}
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
        <div class="col">
            <div class="prd-img-area">
                <a class="prd-img">
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
            </div>
        </div>
    {%- endfor -%}
{%- endfor -%}