{%- unless section.settings.title == '' -%}
    {% case section.settings.title_size %}
    {% when 'h-lg-style' %}
    {%- assign title_size = 'title-lg' -%}
    {% when 'h1-style' %}
    {%- assign title_size = 'title-md' -%}
    {% else %}
    {%- assign title_size = 'title-sm' -%}
    {% endcase %}
    {%- if section.settings.text_alignment == 'center' -%}
        <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %}">
            {%- if collection.url != '' -%}
                <h2 class="{{ section.settings.title_size }} text-{{ section.settings.text_alignment }}{% if settings.heading_sub_first %} mb-0{% endif %}"><a href="{{ collection.url }}" title="{{ 'collections.general.view_all' | t }}">{{ section.settings.title }}</a></h2>
            {%- else -%}
                <h2 class="{{ section.settings.title_size }} text-{{ section.settings.text_alignment }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>
            {%- endif -%}
            {%- if section.settings.bgtitle != '' -%}
                <div class="h-behind">{{ section.settings.bgtitle }}</div>
            {%- endif -%}
            {%- if section.settings.subtitle != '' -%}
                <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
            {%- endif -%}
            {% include 'section-headings-line' %}
            {% if settings.arrows_style == 'arrows-style1' %}<div class="carousel-arrows"></div>{% endif %}
        </div>
        {%- elsif section.settings.text_alignment == 'left' -%}
        <div class="title-with-arrows {{ title_size }} title-wrap text-{{ section.settings.text_alignment }}">
            {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>{%- endif -%}
            {%- if section.settings.bgtitle != '' -%}
                <div class="h-behind">{{ section.settings.bgtitle }}</div>
            {%- endif -%}
            {%- if section.settings.subtitle != '' -%}
                <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
            {%- endif -%}
            {% if settings.arrows_style == 'arrows-style1' %}<div class="carousel-arrows"></div>{% endif %}
        </div>
    {%- endif -%}
{%- endunless -%}