<!-- Social -->
{%- if target == blank -%}
    {%- assign section_id = section.id -%}
{%- else -%}
    {%- assign section_id = target -%}
{%- endif -%}
{% if settings.social_email_link != blank %}
    {% capture show %}social_email_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
        <li><a target="_blank" href="mailto:{{ settings.social_email_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Email' }}">
                <i class="icon-email-1"></i>
            </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_facebook_link != blank %}
    {% capture show %}social_facebook_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password' -%}
        <li>
            <a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                <i class="icon-facebook"></i>
            </a>
        </li>
    {%- endif -%}
{% endif %}
{% if settings.social_twitter_link != blank %}
    {% capture show %}social_twitter_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
        <li><a  target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
            <i class="icon-twitter"></i>
        </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_youtube_link != blank %}
    {% capture show %}social_youtube_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank" class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
            <i class="icon-youtube"></i>
        </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_instagram_link != blank %}
    {% capture show %}social_instagram_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
            <i class="icon-instagram"></i>
        </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_pinterest_link != blank %}
    {% capture show %}social_pinterest_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a {% unless settings.social_pinterest_link == '#' %}target="_blank"{% endunless %} href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <i class="icon-pinterest"></i>
    </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_tumblr_link != blank %}
    {% capture show %}social_tumblr_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank"  href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <i class="icon-tumblr"></i>
    </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_snapchat_link != blank %}
    {% capture show %}social_snapchat_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank"  href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <i class="icon-snapchat"></i>
    </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_linkedin_link != blank %}
    {% capture show %}social_linkedin_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank"  href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'icon-linkedin' }}">
        <i class="icon-linkedin"></i>
    </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_whatsapp_link != blank %}
    {% capture show %}social_whatsapp_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
        <li><a target="_blank" href="{{ settings.social_whatsapp_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'WhatsApp' }}">
                <i class="icon-whatsapp"></i>
            </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_skype_link != blank %}
    {% capture show %}social_skype_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
        <li><a target="_blank" href="{{ settings.social_skype_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Skype' }}">
                <i class="icon-skype"></i>
            </a></li>
    {%- endif -%}
{% endif %}
{% if settings.social_vimeo_link != blank %}
    {% capture show %}social_vimeo_link_{{ section_id }}_yes{% endcapture %}
    {%- if settings[show] or template == 'password'  -%}
    <li><a target="_blank"  href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <i class="icon-vimeo"></i>
    </a></li>
    {%- endif -%}
{% endif %}
<!-- /Social -->
