<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
    {% include 'head' %}
    {{ content_for_header }}
</head>
<body>
{{ content_for_layout }}
<script src="{{ 'vendor.min.js' | asset_url }}"></script>
<script src="{{ 'app.js' | asset_url }}"></script>
</body>
</html>