{%- if section.settings.enable -%}
<div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
    <div class="container">
        {% include 'section-headings' %}
        <div class="text-icn-blocks-row justify-content-{{ section.settings.icons_alignment }}">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    <div class="text-icn-block">
                        <div class="icn" {% if block.settings.icon_color == blank or block.settings.icon_color contains 'rgba(0,0,0,0)' %}{% unless section.settings.icons_color == '' or section.settings.icons_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.icons_color }}"{% endunless %}{% else %}style="color: {{ block.settings.icon_color }}"{% endif %}>
                            {%- if block.settings.icon_type == 'svg' -%}
                                {{ block.settings.svg }}
                            {%- else -%}
                                <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                            {%- endif -%}
                        </div>
                        <div class="text">
                            {{ block.settings.text }}
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>
{%- endif -%}

{% schema %}
{
"name": "About Us - Icons Grid",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Headings"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Title"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading",
    "default": "Sub Heading"
    },
    {
    "type": "text",
    "id": "bgtitle",
    "label": "Background Heading"
    },
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "header",
"content": "Icons"
},
{
"type":"color",
"id":"icons_color",
"label":"All Icons Color"
},
{
"type": "select",
"id": "icons_alignment",
"label": "Icons Alignment",
"default": "center",
"options": [
{ "value": "start", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "end", "label": "Right" }
]
}
],
"blocks":[
{
"type":"text",
"name":"Icon + Text",
"limit": 5,
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"textarea",
"id":"text",
"label":"Text",
"default": "Add your text here"
},
{
"type": "radio",
"id": "icon_type",
"label": "Icon Source",
"options":[
{"value":"theme","label":"Section Icons Set (recommended)"},
{"value":"name","label":"Custom Icon Name (Theme Icons Library)"},
{"value":"svg","label":"Custom SVG code"}
]
},
{
"type": "select",
"id": "icon",
"label": "Section Icons Set",
"default": "icon-box-1",
"options":[
{"value":"icon-box-1","label":"Box"},
{"value":"icon-call-center","label":"Call Center"},
{"value":"icon-speech-bubble","label":"Chat"},
{"value":"icon-watch","label":"Clock"},
{"value":"icon-credit-card-1","label":"Credit Card"},
{"value":"icon-delivery-truck","label":"Delivery Truck"},
{"value":"icon-shopping-1","label":"Hand"},
{"value":"icon-gift","label":"Gift"},
{"value":"icon-gift-card","label":"Gift Card"},
{"value":"icon-guarantee","label":"Guarantee"},
{"value":"icon-location","label":"Location"},
{"value":"icon-return","label":"Return"},
{"value":"icon-ribbon","label":"Ribbon"},
{"value":"icon-tag","label":"Tag"},
{"value":"icon-wallet","label":"Wallet"},          {"value":"icon-award","label":"Award"},          {"value":"icon-diplom","label":"Document"}
]
},
{
"type":"text",
"id":"icon_name",
"label":"Custom Icon Name",
"default": "icon-gift",
"info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
},
{
"type":"textarea",
"id":"svg",
"label":"Custom SVG code"
},
{
"type":"color",
"id":"icon_color",
"label":"Icon Color"
}
]
}],
"presets": [{
"name": "About Us - Icons",
"category": "Info Blocks",
"blocks": [
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
}
]
}]
}
{% endschema %}