{% case section.settings.title_size %}
{% when 'h-lg-style' %}
{%- assign title_size = 'title-lg' -%}
{% when 'h1-style' %}
{%- assign title_size = 'title-md' -%}
{% else %}
{%- assign title_size = 'title-sm' -%}
{% endcase %}
<div class="page-title title-wrap {{ title_size }} text-{{ section.settings.text_alignment }}">
    <h1 class="{{ section.settings.title_size }}">{{ section.settings.title }}</h1>
    {% if current_tags and section.settings.show_tags %}
    <h4 class="h-subtitle">(
        {% for tag in current_tags %}
            <span>{{ tag | capitalize }}</span>
        {% endfor %}
    )</h4>
    {% endif %}
</div>


{% schema %}
{
"name":"Blog heading",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Our Blog"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "show_tags",
"label": "Show tags under title if enable",
"default": true
}
]
}
{% endschema %}