{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}">
        <div class="container">
            <div class="row vert-margin">
                {%- if section.settings.info_show -%}
                    <div class="{%- if section.settings.form_show -%}col-md-9{%- else -%}col-md-18{%- endif -%}">
                        {% case section.settings.title_size %}
                        {% when 'h-lg-style' %}
                        {%- assign title_size = 'title-lg' -%}
                        {% when 'h1-style' %}
                        {%- assign title_size = 'title-md' -%}
                        {% else %}
                        {%- assign title_size = 'title-sm' -%}
                        {% endcase %}
                        <div class="title-wrap {{ title_size }}">
                            {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>{%- endif -%}
                            {%- if section.settings.text != '' -%}<p>{{ section.settings.text }}</p>{%- endif -%}
                        </div>
                        {%- for block in section.blocks -%}
                            {%- if block.settings.enable -%}
                                <div class="text-icn-block-full">
                                    <div class="icn" {% if block.settings.icon_color != blank and block.settings.icon_color != 'rgba(0,0,0,0)' %}style="color: {{ block.settings.icon_color }}" {% else %}{% if section.settings.icons_color != blank and section.settings.icons_color != 'rgba(0,0,0,0)' %}style="color: {{ section.settings.icons_color }}"{% endif %}{% endif %}>
                                        {%- if block.settings.icon_type == 'svg' -%}
                                            {{ block.settings.svg }}
                                        {%- else -%}
                                            <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                                        {%- endif -%}
                                    </div>
                                    <div class="text">
                                        <h4>{{ block.settings.text1 }}</h4>
                                        {{ block.settings.text2 }}
                                    </div>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                {%- endif -%}
                {%- if section.settings.form_show -%}
                    <div class="{%- if section.settings.info_show -%}col-md-9{%- else -%}col-md-18{%- endif -%}">
                        {% case section.settings.title2_size %}
                        {% when 'h-lg-style' %}
                        {%- assign title_size = 'title-lg' -%}
                        {% when 'h1-style' %}
                        {%- assign title_size = 'title-md' -%}
                        {% else %}
                        {%- assign title_size = 'title-sm' -%}
                        {% endcase %}
                        <div class="title-wrap {{ title_size }}">
                            {%- if section.settings.title2 != '' -%}<h2 class="{{ section.settings.title2_size }}">{{ section.settings.title2 }}</h2>{%- endif -%}
                            {%- if section.settings.text2 != '' -%}<p>{{ section.settings.text2 }}</p>{%- endif -%}
                        </div>
                        {%- assign formId = 'ContactForm04' -%}
                        {%- form 'contact', id: formId, data-toggle: "validator" -%}
                        {%- include 'form-status', form_id: formId -%}
                        {% if form.posted_successfully? %}
                            {%- include 'form-contact-notification' -%}
                        {% endif %}
                        <div class="form-group">
                            <div class="row vert-margin-middle">
                                <div class="col-lg">
                                    <input class="form-control form-control--sm{% if form.errors contains "author" %} is-invalid"{% endif %}" type="text" name="contact[name]" placeholder="{{ "contact.form.name" | t }}" id="{{ formId }}Name" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"/>
                                    {%- if form.errors contains 'author' -%}
                                        <div class="invalid-feedback">{{ form.errors.translated_fields['author'] | capitalize }} {{ form.errors.messages['author'] }}.</div>
                                    {%- endif -%}
                                </div>
                                <div class="col-lg">
                                    <input class="form-control form-control--sm{% if form.errors contains "email" %} is-invalid"{% endif %}" type="email" name="contact[email]" placeholder="{{ "contact.form.email" | t }}" id="{{ formId }}Email" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required/>
                                    {%- if form.errors contains 'email' -%}
                                        <div class="invalid-feedback">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</div>
                                    {%- endif -%}
                                </div>
                                <div class="col-lg">
                                    <input class="form-control form-control--sm{% if form.errors contains "phone" %} is-invalid"{% endif %}" type="tel" id="{{ formId }}Phone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                                    {%- if form.errors contains 'phone' -%}
                                        <div class="invalid-feedback">{{ form.errors.translated_fields['phone'] | capitalize }} {{ form.errors.messages['phone'] }}.</div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control--sm  textarea--height-170 {% if form.errors contains "body" %}is-invalid{% endif %}" name="contact[body]" id="{{ formId }}Body" placeholder="{{ "contact.form.message" | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            {%- if form.errors contains 'body' -%}
                                <div class="invalid-feedback">{{ form.errors.translated_fields['body'] | capitalize }} {{ form.errors.messages['body'] }}.</div>
                            {%- endif -%}
                        </div>
                        <button class="btn btn-submit" type="submit" {% unless section.settings.bnr_button_theme %}style="background-color:{{ section.settings.button_bgcolor }}; color:{{ section.settings.button_color }};" data-color="{{ section.settings.button_color }}" data-hover-color="{{ section.settings.button_color_hover }}" data-bgcolor="{{ section.settings.button_bgcolor }}" data-hover-bgcolor="{{ section.settings.button_bgcolor_hover }}"{% endunless %}>{{ 'contact.form.submit' | t }}</button>
                        {%- endform -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}

{% schema %}
{
"name": "Contact Form - Shop Info",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Shop Info"
},
{
"type":"checkbox",
"id":"info_show",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"ABOUT US"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "textarea",
"id": "text",
"label": "Custom text",
"default": "Add your text here"
},
{
"type":"color",
"id":"icons_color",
"label":"All Icons Color"
},
{
"type": "header",
"content": "Contact Form"
},
{
"type":"checkbox",
"id":"form_show",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "title2",
"label": "Title",
"default":"WRITE US"
},
{
"type": "select",
"id": "title2_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "textarea",
"id": "text2",
"label": "Custom text",
"default": "Add your text here"
}
],
"blocks":[
{
"type":"text",
"name":"Icon + Text",
"limit": 6,
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"textarea",
"id":"text1",
"label":"Heading",
"default": "Heading"
},
{
"type":"textarea",
"id":"text2",
"label":"Text",
"default": "Add your text here"
},
{
"type": "radio",
"id": "icon_type",
"label": "Icon Source",
"options":[
{"value":"theme","label":"Section Icons Set (recommended)"},
{"value":"name","label":"Custom Icon Name (Theme Icons Library)"},
{"value":"svg","label":"Custom SVG code"}
]
},
{
"type": "select",
"id": "icon",
"label": "Section Icons Set",
"default": "icon-box-1",
"options":[
{"value":"icon-box-1","label":"Box"},
{"value":"icon-call-center","label":"Call Center"},
{"value":"icon-speech-bubble","label":"Chat"},
{"value":"icon-watch","label":"Clock"},
{"value":"icon-credit-card-1","label":"Credit Card"},
{"value":"icon-delivery-truck","label":"Delivery Truck"},
{"value":"icon-shopping-1","label":"Hand"},
{"value":"icon-gift","label":"Gift"},
{"value":"icon-gift-card","label":"Gift Card"},
{"value":"icon-guarantee","label":"Guarantee"},
{"value":"icon-location","label":"Location"},
{"value":"icon-return","label":"Return"},
{"value":"icon-ribbon","label":"Ribbon"},
{"value":"icon-tag","label":"Tag"},
{"value":"icon-wallet","label":"Wallet"},          {"value":"icon-award","label":"Award"},          {"value":"icon-diplom","label":"Document"}
]
},
{
"type":"text",
"id":"icon_name",
"label":"Custom Icon Name",
"default": "icon-gift",
"info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
},
{
"type":"textarea",
"id":"svg",
"label":"Custom SVG code"
},
{
"type":"color",
"id":"icon_color",
"label":"Icon Color"
}
]
}],
"presets": [{
"name": "Contact Form - Shop Info",
"category": "Contact Us",
"blocks": [
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
}
]
}]
}
{% endschema %}