{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}">
        <div class="container-fluid px-0">
            <div class="row no-gutters vert-margin">
                <div class="{%- if section.settings.map_yes -%}col-sm-9{%- else -%}col-18{%- endif -%}">
                    <div class="contact-block-bg">
                        <div class="circle_decor_wrap">
                            {%- assign classes = "circle_decor--tl" -%}
                            {%- assign translateX = "-71" -%}
                            {%- assign translateY = "-71" -%}
                            {%- assign rotate = "-45" -%}
                            {%- assign color = section.settings.decor_color -%}
                            {%- assign opacity = "0.75" -%}
                            {%- assign dwidth = "125" -%}
                            {%- unless section.settings.map_yes -%}{%- assign dwidth = "65" -%}{%- endunless -%}
                            {%- assign top = "0" -%}
                            {%- assign left = "0" -%}
                            {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left -%}

                            {%- assign classes = "circle_decor--br" -%}
                            {%- assign translateX = "77" -%}
                            {%- assign translateY = "77" -%}
                            {%- assign rotate = "-45" -%}
                            {%- assign color = section.settings.decor_color -%}
                            {%- assign opacity = "0.5" -%}
                            {%- assign dwidth = "125" -%}
                            {%- unless section.settings.map_yes -%}{%- assign dwidth = "65" -%}{%- endunless -%}
                            {%- assign top = "auto" -%}
                            {%- assign left = "auto" -%}
                            {%- assign bottom = "0" -%}
                            {%- assign right = "0" -%}
                            {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}
                        </div>
                        <div>
                            {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>{%- endif -%}
                            {%- if section.settings.text != '' -%}<p>{{ section.settings.text }}</p>{%- endif -%}
                            <div class="mt-3 mt-lg-5"></div>
                            {%- for block in section.blocks -%}
                                {%- if block.settings.enable -%}
                                    <div class="icn-block">
                                        <h4 class="h-icon h-icon--lg">
                                            {%- if block.settings.icon_type == 'svg' -%}
                                                {{ block.settings.svg }}
                                            {%- else -%}
                                            <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                                            {%- endif -%}
                                            <span>{{ block.settings.heading }}</span></h4>
                                        <span>{{ block.settings.text }}</span>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                {%- if section.settings.map_yes -%}
                <div class="col-sm-9">
                    <div class="contact-map bg-cover lazyload" {%- if section.settings.map_type == 'image' -%}{% if section.settings.map_image != blank %}data-bgset="{% include 'bgset', image: section.settings.map_image %}" data-sizes="auto" style="background-position: {{ section.settings.map_image_position }}"{% endif %}{%- endif -%}>
                        {%- if section.settings.map_type == 'google' -%}{{ section.settings.google_map }}{%- endif -%}
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}

{% schema %}
{
"name": "Contact Info - Map",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Headings"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"CONTACT INFORMATION"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "textarea",
"id": "text",
"label": "Custom text",
"default": "Add your text here"
},
{
"type": "header",
"content": "Map"
},
{
"type": "checkbox",
"id": "map_yes",
"label": "Enable",
"default": true
},
{
"type": "radio",
"id": "map_type",
"label": "Map Source",
"options":[
{"value":"google","label":"Google Maps"},
{"value":"image","label":"Custom Image"}
]
},
{
"type": "textarea",
"id": "google_map",
"label": "Google maps Embed code",
"default": "<iframe src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10887.233029391118!2d-77.94517490061943!3d34.23848636904559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1573217807041!5m2!1sen!2sua'></iframe>",
"info": "Go to [maps.google.com](https://maps.google.com) > Find location > Menu > Share or Embed > Copy Embed code"
},
{
"type":"image_picker",
"id":"map_image",
"label":"Map Image",
"info":"(Recommended size 1000x1600px)"
},
{
"type": "select",
"id": "map_image_position",
"label": "Image position",
"default": "center center",
"options": [
{"value": "top left", "label": "Top left"},
{"value": "top center", "label": "Top center"},
{"value": "top right", "label": "Top right"},
{"value": "center left", "label": "Center left"},
{"value": "center center", "label": "Center center"},
{"value": "center right", "label": "Center right"},
{"value": "bottom left", "label": "Bottom left"},
{"value": "bottom center", "label": "Bottom center"},
{"value": "bottom right", "label": "Bottom right"}
]
}
],
"blocks":[
{
"type":"text",
"name":"Icon + Text",
"limit": 5,
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"textarea",
"id":"heading",
"label":"Heading",
"default": "Heading"
},
{
"type":"textarea",
"id":"text",
"label":"Text",
"default": "Add your text here"
},
{
"type": "radio",
"id": "icon_type",
"label": "Icon Source",
"options":[
{"value":"theme","label":"Section Icons Set (recommended)"},
{"value":"name","label":"Custom Icon Name (Theme Icons Library)"},
{"value":"svg","label":"Custom SVG code"}
]
},
{
"type": "select",
"id": "icon",
"label": "Section Icons Set",
"default": "icon-info",
"options":[
{"value":"icon-info","label":"Information"},
{"value":"icon-phone","label":"Phone"},
{"value":"icon-envelope","label":"Envelope 1"},
{"value":"icon-envelope-2","label":"Envelope 2"},
{"value":"icon-box-1","label":"Box"},
{"value":"icon-call-center","label":"Call Center"},
{"value":"icon-speech-bubble","label":"Chat"},
{"value":"icon-watch","label":"Clock"},
{"value":"icon-credit-card-1","label":"Credit Card"},
{"value":"icon-delivery-truck","label":"Delivery Truck"},
{"value":"icon-shopping-1","label":"Hand"},
{"value":"icon-gift","label":"Gift"},
{"value":"icon-gift-card","label":"Gift Card"},
{"value":"icon-guarantee","label":"Guarantee"},
{"value":"icon-location","label":"Location"},
{"value":"icon-return","label":"Return"},
{"value":"icon-ribbon","label":"Ribbon"},
{"value":"icon-tag","label":"Tag"},
{"value":"icon-wallet","label":"Wallet"},
{"value":"icon-award","label":"Award"},
{"value":"icon-diplom","label":"Document"}
]
},
{
"type":"text",
"id":"icon_name",
"label":"Custom Icon Name",
"default": "icon-gift",
"info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
},
{
"type":"textarea",
"id":"svg",
"label":"Custom SVG code"
},
{
"type":"color",
"id":"icon_color",
"label":"Icon Color"
}
]
}],
"presets": [{
"name": "Contact Info - Map",
"category": "Contact Us",
"blocks": [
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
}
]
}]
}
{% endschema %}