<div class="holder fullwidth {{ section.settings.outer_margin }}">
    <div class="container px-0">
        {%- if page.title != blank -%}
        <div class="page-title text-center">
            <div class="title">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        {%- endif -%}
        <div class="gallery-wrapper">
            <div class="gallery js-gallery-isotope row no-gutters">
                {% for block in section.blocks %}
                    {% if block.settings.enable %}
                        <div class="col-sm-9 col-md-{{ section.settings.columns_in_row }} gallery-item {{ block.settings.tags | replace:' ','' | split: ',' | uniq  | join: ' ' }}">
                            {%- case section.settings.columns_in_row -%}
                            {%- when '6' -%}
                            {%- assign _img_size = '640' -%}
                            {%- when '9' %}
                            {%- assign _img_size = '955' -%}
                            {%- else -%}
                            {%- assign _img_size = '480' -%}
                            {%- endcase -%}
                            {%- assign _img = block.settings.image -%}
                            {%- if _img -%}
                                {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                                {%- assign _img_size = _img_size | append: 'x' -%}
                                {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <div class="gallery-item-image image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                    <img class="lazyload fade-up"
                                         data-src="{{ img_url }}"
                                         data-widths="[540, 720, 900, 1080, 1296, 1512]"
                                         data-sizes="auto"
                                         data-aspectratio="{{ _img.aspect_ratio }}"
                                         alt="{{ block.settings.title }}">
                                    <div class="foxic-loader"></div>
                                </div>
                            {%- else -%}
                                <div class="gallery-item-image">
                                    {% include 'image-placeholder-aspect-ratio', width: _img_size, height: _img_size %}
                                </div>
                            {%- endif -%}
                            <div class="gallery-item-caption">
                                <h4 class="gallery-item-subtitle" {% if section.settings.subtitle_color != blank and section.settings.subtitle_color != 'rgba(0,0,0,0)' %}style="color:{{ section.settings.subtitle_color }}"{% endif %}>{{ block.settings.title }}</h4>
                                <h3 class="gallery-item-title" {% if section.settings.title_color != blank and section.settings.title_color != 'rgba(0,0,0,0)' %}style="color:{{ section.settings.title_color }}"{% endif %}>{{ block.settings.description }}</h3>
                                <div class="gallery-item-links">
                                    <a href="{% if block.settings.image %}{{ block.settings.image | img_url: 'master' }}{% else %}{{ 'gallery-thumb-1.jpg' | asset_url }}{% endif %}" class="gallery-item-link" data-fancybox="gallery" data-caption="{{ block.settings.title }}"><i class="icon-zoom-in"></i></a>
                                    {% if block.settings.link %}<a href="{{ block.settings.link }}" target="{{ block.settings.link_target }}" class="gallery-item-link"><i class="icon-arrow-right-bold"></i></a>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Gallery",
"class": "index-section",
"presets": [
{
"name": "Gallery",
"category": "Banners",
"blocks": [
{
"type": "item"
},
{
"type": "item"
},
{
"type": "item"
},
{
"type": "item"
},
{
"type": "item"
},
{
"type": "item"
}
]
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
    {
        "type": "header",
        "content": "Gallery photos"
    },
    {
        "type": "select",
        "id": "columns_in_row",
        "label": "Columns per row",
        "options": [
        { "value": "9", "label": "2" },
        { "value": "6", "label": "3" },
        { "value": "up-quarter", "label": "4" }
        ],
        "default": "6",
        "info": "*desktop only"
    },
    {
        "type":"color",
        "id":"title_color",
        "label":"Item Title Color"
    },
    {
        "type":"color",
        "id":"subtitle_color",
        "label":"Item Subtitle Color"
    }
],
"blocks": [
{
"type": "item",
"name": "item",
"settings": [
    {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable",
        "default":true
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "SUBTITLE"
    },
    {
        "type": "text",
        "id": "description",
        "label": "Subtitle",
        "default": "TITLE"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info":"there is no recommended size(any size), but use the same sizes for all gallery photos"
    },
    {
        "type": "url",
        "id": "link",
        "label": "Link"
    },
    {
        "type": "select",
        "id": "link_target",
        "label": "Link Target",
        "default":"_self",
        "options": [
        { "value": "_blank", "label": "New page" },
        { "value": "_self",  "label": "In current page" }
        ]
    }
]
}
]
}
{% endschema %}