<div class="holder {{ section.settings.outer_margin }} {% if section.settings.block_width == 'fullwidth' %}fullwidth full-nopad{% endif %}">
    <div class="container">
        {%- if section.settings.nopads -%}{% assign gutters = 0.1 %}{%- else -%}{% assign gutters = 0.3 %}{%- endif -%}
        {%- assign banner = section.settings -%}
        {%- if section.settings.parallax -%}
        {%- render 'banner-item-parallax', banner: banner, gutters: gutters, placeholder_size_w: 1920, placeholder_size_h: 700, fontratio: 19.2, class: 'bnr--fullwidth' -%}
        {%- else -%}
        {%- render 'banner-item', banner: banner, id: section.id, gutters: gutters, placeholder_size_w: 1920, placeholder_size_h: 700, fontratio: 19.2, class: 'bnr--fullwidth' -%}
        {%- endif -%}
    </div>
</div>
<style>
    {%- if section.settings.scale_m != 100 -%}
    @media (max-width: 575px) {
    {%- if banner.bnr_text -%}
        #shopify-section-{{ section.id }} .bnr .bnr-caption .bnr-text3:nth-child(1) {
            font-size: {{ section.settings.scale_m | times: 0.0001 | times: section.settings.bnr_text_size }}em !important;
        }
    {%- endif -%}
    {%- if banner.bnr_text2 -%}
        #shopify-section-{{ section.id }} .bnr .bnr-caption .bnr-text3:nth-child(2) {
            font-size: {{ section.settings.scale_m | times: 0.0001 | times: section.settings.bnr_text2_size }}em !important;
        }
    {%- endif -%}
    {%- if banner.bnr_text3 -%}
        #shopify-section-{{ section.id }} .bnr .bnr-caption .bnr-text3:nth-child(3) {
            font-size: {{ section.settings.scale_m | times: 0.0001 | times: section.settings.bnr_text3_size }}em !important;
        }
    {%- endif -%}
    }
    {%- endif -%}
    {%- if section.settings.countdown_yes -%}

    {%- if section.settings.countdown_shadow -%}
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span:after {
        box-shadow: 0 0 40px rgba(0,0,0,.3);
    }
    {%- endif -%}

    {%- if section.settings.countdown_style == '1' -%}
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span:after {
        -webkit-mask: url({{ 'brush-shape-square.svg' | asset_url }}) no-repeat 50% 50%;
        mask: url({{ 'brush-shape-square.svg' | asset_url }}) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
    }
    {%- elsif section.settings.countdown_style == '3' -%}
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span {
        padding-top: 5px;
        padding-bottom: 2px;
    }
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span:before {
        position: absolute;
        content: '';
        z-index: -1;
        top: -5px;
        left: 0;
        width: 100%;
    {%- unless section.settings.countdown_color_bg2 == '' or section.settings.countdown_color_bg2 contains 'rgba(0,0,0,0)' -%}
        background-color: {{ section.settings.countdown_color_bg2 }};
    {%- endunless -%}
        height: calc({{ section.settings.countdown_fontsize }}px * 1.5 + 5px);
    }
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span span {
        margin-bottom: 12px;
    {%- unless section.settings.countdown_color2 == '' or section.settings.countdown_color2 contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.countdown_color2 }};
    {%- endunless -%}
    }
    {%- endif -%}
    #shopify-section-{{ section.id }}  .countdown-box-bg .countdown > span span {
        font-size: {{ section.settings.countdown_fontsize }}px;
        font-weight: {{ section.settings.countdown_fontweight }};
    }
    .has-round-btns #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span:after {
        border-radius: 10px;
    }
    {%- unless section.settings.countdown_color_bg == '' or section.settings.countdown_color_bg contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span:after {
        background-color: {{ section.settings.countdown_color_bg }};
        z-index: -2;
    }
    {%- endunless -%}

    {%- unless section.settings.countdown_color == '' or section.settings.countdown_color contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .countdown-box-bg .countdown > span {
        color: {{ section.settings.countdown_color }};
    }
    {%- endunless -%}
    {%- endif -%}
</style>
{% schema %}
{
"name":"Fullwidth Banner",
"settings":[
{
"type":"header",
"content":"Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"fullwidth"
},
{
"type":"select",
"id":"outer_margin",
"label":"Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "image_mobile",
"label": "Image (mobile)"
},
{
"type": "url",
"id": "link",
"label": "Collection link"
},
{
"type": "select",
"id": "link_target",
"label": "Link Target",
"default": "_self",
"options": [
{
"value": "_blank",
"label": "New page"
},
{
"value": "_self",
"label": "In current page"
}
]
},
{
"type": "checkbox",
"id": "link_all_banner",
"label": "Make entire banner a link",
"default":false
},
{
"type": "header",
"content": "Parallax"
},
    {
    "type": "checkbox",
    "id": "parallax",
    "label": "Enable",
    "default":false
    },
    {
    "type": "paragraph",
    "content": "Set the banner height if parallax is enabled"
    },
    {
    "type": "text",
    "id": "height_desktop",
    "label": "Desktop height",
    "default": "745",
    "info": "*height in px"
    },
    {
    "type": "text",
    "id": "height_tablet",
    "label": "Tablet height",
    "default": "645",
    "info": "*height in px"
    },
    {
    "type": "text",
    "id": "height_mobile",
    "label": "Mobile height",
    "default": "545",
    "info": "*height in px"
    },
{
"type": "header",
"content": "CAPTIONS"
},
{
"type": "select",
"id": "bnr_text_pos",
"options": [
{
"value": "bnr--top bnr--left",
"label": "Top/Left"
},
{
"value": "bnr--top bnr--right",
"label": "Top/Right"
},
{
"value": "bnr--top bnr--center",
"label": "Top/Center"
},
{
"value": "bnr--bottom bnr--left",
"label": "Bottom/Left"
},
{
"value": "bnr--bottom bnr--right",
"label": "Bottom/Right"
},
{
"value": "bnr--bottom bnr--center",
"label": "Bottom/Center"
},
{
"value": "bnr--middle bnr--left",
"label": "Middle/Left"
},
{
"value": "bnr--middle bnr--right",
"label": "Middle/Right"
},
{
"value": "bnr--middle bnr--center",
"label": "Middle/Center"
}
],
"label": "Text Position (Vertical/Horizontal)",
"default": "bnr--middle bnr--right"
},
{
"type": "range",
"id": "bnr_text_paddingh",
"min": 1,
"max": 80,
"step": 1,
"label": "Text Offset Horizontal",
"unit": "%",
"default": 4
},
{
"type": "range",
"id": "bnr_text_paddingv",
"min": 1,
"max": 80,
"step": 1,
"label": "Text Offset Vertical",
"unit": "%",
"default": 4
},
{
"type": "select",
"id": "text_h_alignment",
"label": "Text Alignment",
"default": "text-right",
"options": [
{ "value": "text-left", "label": "Left" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "captions_width_enable",
"label": "Use custom Сaptions width",
"default":true
},
{
"type":      "range",
"id":        "captions_width",
"min":       30,
"max":        100,
"step":       10,
"unit":       "%",
"label":     "Сaptions width",
"default":   60
},
{
"type":      "range",
"id":        "captions_width_m",
"min":       20,
"max":        100,
"step":       10,
"unit":       "%",
"label":     "Сaptions width for mobile device",
"default":   100
},
{
"type":"range",
"id":"scale_m",
"min":100,
"max":500,
"step":10,
"label":"Scale text for mobile",
"unit":"%",
"default": 100
},
{
"type":"color",
"id":"caption_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"caption_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 1
},
{
"type":"range",
"id":"caption_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Caption Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"caption_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Caption Padding Vertical",
"unit":"%",
"default":0
},
{
"type":"select",
"id":"hover",
"label":"Hover Effect",
"options":[
{"value":"none","label":"None"},
{"value":"image-hover-dark-circle","label":"Circle Darkness"},
{"value":"image-hover-dark","label":"Full Darkness"},
{"value":"image-hover-scale","label":"Scale"},
{"value":"image-hover-scale image-hover-scale--slow","label":"Slow Scale"},
{"value":"image-hover-dark-scale","label":"Scale + Full Darkness"}
],
"default":"none"
},
{
"type": "header",
"content": "TEXT 1"
},
{
"type": "checkbox",
"id": "bnr_text",
"default": true,
"label": "Enable"
},
{
"type": "select",
"id": "bnr_text_order",
"label": "Order",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
}
],
"default": "1"
},
{
"type": "select",
"id": "bnr_text_top",
"label": "Top Margin",
"options": [
{
"value": "mt-0",
"label": "None"
},
{
"value": "mt-xs",
"label": "XSmall"
},
{
"value": "mt-sm",
"label": "Small"
},
{
"value": "mt-lg",
"label": "Medium"
},
{
"value": "mt-xl",
"label": "Large"
},
{
"value": "mt-xxl",
"label": "XLarge"
}
],
"default": "mt-0"
},
{
"type": "text",
"id": "bnr_text_text",
"label": "Text",
"default": "CREATIVE <span style='color: #fa317d;'>2020</span>"
},
{
"type": "checkbox",
"id": "bnr_text_font",
"label": "Use Headings Font",
"default": false
},
{
"type": "color",
"id": "bnr_text_color",
"label": "Color"
},
{
"type": "checkbox",
"id": "bnr_text_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type": "color",
"id": "bnr_text_bgcolor",
"label": "Background Color"
},
{
"type": "range",
"id": "bnr_text_bgcolor_opacity",
"min": 0.1,
"max": 1,
"step": 0.1,
"label": "Background Color Opacity",
"unit": "%",
"default": 0.5
},
{
"type": "select",
"id": "bnr_text_fontweight",
"label": "Font Weight",
"options": [
{
"value": "100",
"label": "Thin"
},
{
"value": "300",
"label": "Light"
},
{
"value": "400",
"label": "Regular"
},
{
"value": "600",
"label": "Semibold"
},
{
"value": "700",
"label": "Bold"
},
{
"value": "800",
"label": "Black"
}
],
"default": "600"
},
{
"type": "range",
"id": "bnr_text_size",
"min": 10,
"max": 200,
"step": 5,
"label": "Font Size",
"unit": "%",
"default": 80
},
{
"type": "range",
"id": "bnr_text_lineheight",
"min": 1,
"max": 2,
"step": 0.1,
"label": "Line Height",
"unit": "em",
"default": 1
},
{
"type": "select",
"id": "bnr_text_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{
"value": "inherit",
"label": "Default"
},
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-left",
"label": "Left"
},
{
"value": "text-right",
"label": "Right"
}
]
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type": "range",
"id": "bnr_text1_paddingh",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Horizontal",
"unit": "%",
"default": 0
},
{
"type": "range",
"id": "bnr_text1_paddingv",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Vertical",
"unit": "%",
"default": 0
},
{
"type": "header",
"content": "TEXT 2"
},
{
"type": "checkbox",
"id": "bnr_text2",
"default": true,
"label": "Enable"
},
{
"type": "select",
"id": "bnr_text2_order",
"label": "Order",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
}
],
"default": "2"
},
{
"type": "select",
"id": "bnr_text2_top",
"label": "Top Margin",
"options": [
{
"value": "mt-0",
"label": "None"
},
{
"value": "mt-xs",
"label": "XSmall"
},
{
"value": "mt-sm",
"label": "Small"
},
{
"value": "mt-lg",
"label": "Medium"
},
{
"value": "mt-xl",
"label": "Large"
},
{
"value": "mt-xxl",
"label": "XLarge"
}
],
"default": "mt-xs"
},
{
"type": "text",
"id": "bnr_text2_text",
"label": "Text",
"default": "SUMMER SALE"
},
{
"type": "checkbox",
"id": "bnr_text2_font",
"label": "Use Headings Font",
"default": false
},
{
"type": "color",
"id": "bnr_text2_color",
"label": "Color"
},
{
"type": "checkbox",
"id": "bnr_text2_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type": "color",
"id": "bnr_text2_bgcolor",
"label": "Background Color"
},
{
"type": "range",
"id": "bnr_text2_bgcolor_opacity",
"min": 0.1,
"max": 1,
"step": 0.1,
"label": "Background Color Opacity",
"unit": "%",
"default": 0.5
},
{
"type": "select",
"id": "bnr_text2_fontweight",
"label": "Font Weight",
"options": [
{
"value": "100",
"label": "Thin"
},
{
"value": "300",
"label": "Light"
},
{
"value": "400",
"label": "Regular"
},
{
"value": "600",
"label": "Semibold"
},
{
"value": "700",
"label": "Bold"
},
{
"value": "800",
"label": "Black"
}
],
"default": "600"
},
{
"type": "range",
"id": "bnr_text2_size",
"min": 10,
"max": 200,
"step": 5,
"label": "Font Size",
"unit": "%",
"default": 80
},
{
"type": "range",
"id": "bnr_text2_lineheight",
"min": 1,
"max": 2,
"step": 0.1,
"label": "Line Height",
"unit": "em",
"default": 1
},
{
"type": "select",
"id": "bnr_text2_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{
"value": "inherit",
"label": "Default"
},
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-left",
"label": "Left"
},
{
"value": "text-right",
"label": "Right"
}
]
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type": "range",
"id": "bnr_text2_paddingh",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Horizontal",
"unit": "%",
"default": 0
},
{
"type": "range",
"id": "bnr_text2_paddingv",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Vertical",
"unit": "%",
"default": 0
},
{
"type":"header",
"content":"TEXT 3"
},
{
"type": "checkbox",
"id": "bnr_text3",
"default": false,
"label": "Enable"
},
{
"type":"select",
"id":"bnr_text3_order",
"label":"Order",
"options":[
{"value":"1","label":"1"},
{"value":"2","label":"2"},
{"value":"3","label":"3"}
],
"default":"2"
},
{
"type":"select",
"id":"bnr_text3_top",
"label":"Top Margin",
"options":[
{
"value": "mt-0",
"label": "None"
},
{
"value": "mt-xs",
"label": "XSmall"
},
{
"value": "mt-sm",
"label": "Small"
},
{
"value": "mt-lg",
"label": "Medium"
},
{
"value": "mt-xl",
"label": "Large"
},
{
"value": "mt-xxl",
"label": "XLarge"
}
],
"default":"mt-sm"
},
{
"type":"text",
"id":"bnr_text3_text",
"label":"Text",
"default":"Text 2"
},
{
"type": "checkbox",
"id": "bnr_text3_font",
"label": "Use Headings Font",
"default": false
},
{
"type":"color",
"id":"bnr_text3_color",
"label":"Color"
},
{
"type": "checkbox",
"id": "bnr_text3_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type":"color",
"id":"bnr_text3_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"bnr_text3_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 0.5
},
{
"type":"select",
"id": "bnr_text3_fontweight",
"label": "Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"700"
},
{
"type":"range",
"id":"bnr_text3_size",
"min":10,
"max":200,
"step":2.5,
"label":"Font Size",
"unit":"%",
"default": 30
},
{
"type":"range",
"id":"bnr_text3_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Line Height",
"unit":"em",
"default":1
},
{
"type": "select",
"id": "bnr_text3_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type":"range",
"id":"bnr_text3_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"bnr_text3_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Vertical",
"unit":"%",
"default":0
},
{
"type": "header",
"content": "COUNTDOWN"
},
{
"type": "checkbox",
"id": "countdown_yes",
"label": "Show Countdown",
"default": false
},
{
"type": "checkbox",
"id": "countdown_shadow",
"label": "Add Shadow",
"default": false
},
{
"type": "text",
"id": "timer",
"label": "Countdown Date",
"default": "2021/10/10",
"info": "YEAR/MONTH/DAY"
},
{
"type": "select",
"id": "bnr_countdown_top",
"label": "Top Margin",
"options": [
{
"value": "mt-0",
"label": "None"
},
{
"value": "mt-xs",
"label": "XSmall"
},
{
"value": "mt-sm",
"label": "Small"
},
{
"value": "mt-lg",
"label": "Medium"
},
{
"value": "mt-xl",
"label": "Large"
},
{
"value": "mt-xxl",
"label": "XLarge"
}
],
"default": "mt-sm"
},
{
"type": "select",
"id": "countdown_style",
"label": "Countdown Style",
"default": "2",
"options": [
{ "value": "1", "label": "Style 1" },
{ "value": "2", "label": "Style 2" },
{ "value": "3", "label": "Style 3" }
]
},
{
"type": "color",
"id": "countdown_color",
"label": "Countdown Color"
},
{
"type": "color",
"id": "countdown_color2",
"label": "Countdown Color 2",
"info": "*for Style 3"
},
{
"type": "color",
"id": "countdown_color_bg",
"label": "Countdown Background"
},
{
"type": "color",
"id": "countdown_color_bg2",
"label": "Countdown Background 2",
"info": "*for Style 3"
},
{
"type":"range",
"id":"countdown_fontsize",
"min":12,
"max":60,
"step":1,
"label":"Number Font Size",
"unit":"px",
"default": 30
},
{
"type":"select",
"id": "countdown_fontweight",
"label": "Number Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"600"
},
{
"type": "header",
"content": "BUTTON"
},
{
"type": "checkbox",
"id": "bnr_button",
"default": true,
"label": "Enable"
},
{
"type": "select",
"id": "bnr_button_order",
"label": "Order",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
}
],
"default": "3"
},
{
"type": "select",
"id": "bnr_button_top",
"label": "Top Margin",
"options": [
{
"value": "mt-0",
"label": "None"
},
{
"value": "mt-xs",
"label": "XSmall"
},
{
"value": "mt-sm",
"label": "Small"
},
{
"value": "mt-lg",
"label": "Medium"
},
{
"value": "mt-xl",
"label": "Large"
},
{
"value": "mt-xxl",
"label": "XLarge"
}
],
"default": "mt-lg"
},
{
"type": "checkbox",
"id": "bnr_button_lg",
"default": true,
"label": "Large Button"
},
{
"type": "text",
"id": "bnr_button_text",
"label": "Text",
"default": "Buy Now"
},
{
"type": "select",
"id": "bnr_button_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "bnr_button_theme",
"default": true,
"label": "Use Theme Button Color"
},
{
"type": "color",
"id": "button_color",
"label": "Color"
},
{
"type": "color",
"id": "button_bgcolor",
"label": "Bg Color"
},
{
"type": "color",
"id": "button_color_hover",
"label": "Hover Color"
},
{
"type": "color",
"id": "button_bgcolor_hover",
"label": "Hover Bg Color"
},
{
"type": "header",
"content": "LABEL"
},
{
"type": "checkbox",
"id": "bnr_label",
"default": false,
"label": "Enable"
},
{
"type": "select",
"id": "label_text_pos",
"options": [
{
"value": "lt",
"label": "Top/Left"
},
{
"value": "rt",
"label": "Top/Right"
},
{
"value": "lb",
"label": "Bottom/Left"
},
{
"value": "rb",
"label": "Bottom/Right"
}
],
"label": "Label Position",
"default": "rt"
},
{
"type": "text",
"id": "label_text",
"label": "Label Text",
"default": "This week<br><span>50%</span>"
},
{
"type": "color",
"id": "label_color",
"label": "Label Color",
"default": "#FFFFFF"
},
{
"type": "checkbox",
"id": "label_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type": "color",
"id": "label_bgcolor",
"label": "Background Color"
},
{
"type": "range",
"id": "label_bgcolor_opacity",
"min": 0.1,
"max": 1,
"step": 0.1,
"label": "Background Color Opacity",
"unit": "%",
"default": 0.5
},
{
"type": "select",
"id": "label_fontweight",
"label": "Label Font Weight",
"options": [
{
"value": "100",
"label": "Thin"
},
{
"value": "300",
"label": "Light"
},
{
"value": "400",
"label": "Regular"
},
{
"value": "600",
"label": "Semibold"
},
{
"value": "700",
"label": "Bold"
},
{
"value": "900",
"label": "Black"
}
],
"default": "600"
},
{
"type": "range",
"id": "label_size",
"min": 10,
"max": 40,
"step": 1,
"label": "Label Font Size",
"unit": "px",
"default": 21
},
{
"type": "range",
"id": "label_lineheight",
"min": 1,
"max": 2,
"step": 0.1,
"label": "Label Line Height",
"unit": "em",
"default": 1
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type": "range",
"id": "label_paddingh",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Horizontal",
"unit": "%",
"default": 0
},
{
"type": "range",
"id": "label_paddingv",
"min": 0,
"max": 30,
"step": 1,
"label": "Text Inside Padding Vertical",
"unit": "%",
"default": 0
},
{
"type": "header",
"content": "Circle Decor 1"
},
{
"type": "checkbox",
"id": "bnr_decor_1",
"default": false,
"label": "Enable"
},
{
"type": "checkbox",
"id": "bnr_decor_1_over",
"default": true,
"label": "Over image"
},
{
"type":"select",
"id":"bnr_decor_1_thickness",
"label":"Circle Thickness",
"options":[
{"value":"1","label":"Thinner"},
{"value":"3","label":"Thin"},
{"value":"2","label":"Thick"},
{"value":"4","label":"Fill"}
],
"default":"1"
},
{
"type": "select",
"id": "bnr_decor_1_pos",
"label": "Corner Position",
"options": [
{
"value": "circle_decor--tr",
"label": "Top/Right"
},
{
"value": "circle_decor--tl",
"label": "Top/Left"
},
{
"value": "circle_decor--br",
"label": "Bottom/Right"
},
{
"value": "circle_decor--bl",
"label": "Bottom/Left"
}
],
"default": "circle_decor--tr"
},
{
"type": "range",
"id": "bnr_decor_1_xpos",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Shift X",
"default": 71
},
{
"type": "range",
"id": "bnr_decor_1_ypos",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Shift Y",
"default": 71
},
{
"type": "range",
"id": "bnr_decor_1_rotate",
"min": -180,
"max": 180,
"step": 5,
"unit": "deg",
"label": "Rotate",
"default": 45
},
{
"type": "range",
"id": "bnr_decor_1_width",
"min": 0,
"max": 200,
"step": 5,
"unit": "%",
"label": "Width",
"default": 185
},
{
"type": "color",
"id": "bnr_decor_1_color",
"label": "Color",
"default": "#13dcba"
},
{
"type": "select",
"id": "bnr_decor_1_blend",
"label": "Blend Mode",
"options": [
{
"value": "normal",
"label": "normal"
},
{
"value": "darken",
"label": "darken"
},
{
"value": "multiple",
"label": "multiple"
},
{
"value": "soft-light",
"label": "soft light"
}
],
"default": "darken"
},
{
"type": "range",
"id": "bnr_decor_1_opacity",
"min": 0,
"max": 100,
"step": 5,
"unit": "%",
"label": "Opacity",
"default": 75
},
{
"type": "header",
"content": "Circle Decor 2"
},
{
"type": "checkbox",
"id": "bnr_decor_2",
"default": false,
"label": "Enable"
},
{
"type": "checkbox",
"id": "bnr_decor_2_over",
"default": true,
"label": "Over image"
},
{
"type":"select",
"id":"bnr_decor_2_thickness",
"label":"Circle Thickness",
"options":[
{"value":"1","label":"Thinner"},
{"value":"3","label":"Thin"},
{"value":"2","label":"Thick"},
{"value":"4","label":"Fill"}
],
"default":"1"
},
{
"type": "select",
"id": "bnr_decor_2_pos",
"label": "Corner Position",
"options": [
{
"value": "circle_decor--tr",
"label": "Top/Right"
},
{
"value": "circle_decor--tl",
"label": "Top/Left"
},
{
"value": "circle_decor--br",
"label": "Bottom/Right"
},
{
"value": "circle_decor--bl",
"label": "Bottom/Left"
}
],
"default": "circle_decor--tr"
},
{
"type": "range",
"id": "bnr_decor_2_xpos",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Shift X",
"default": 71
},
{
"type": "range",
"id": "bnr_decor_2_ypos",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Shift Y",
"default": 71
},
{
"type": "range",
"id": "bnr_decor_2_rotate",
"min": -180,
"max": 180,
"step": 5,
"unit": "deg",
"label": "Rotate",
"default": 45
},
{
"type": "range",
"id": "bnr_decor_2_width",
"min": 0,
"max": 200,
"step": 5,
"unit": "%",
"label": "Width",
"default": 185
},
{
"type": "color",
"id": "bnr_decor_2_color",
"label": "Color",
"default": "#13dcba"
},
{
"type": "select",
"id": "bnr_decor_2_blend",
"label": "Blend Mode",
"options": [
{
"value": "normal",
"label": "normal"
},
{
"value": "darken",
"label": "darken"
},
{
"value": "multiple",
"label": "multiple"
},
{
"value": "soft-light",
"label": "soft light"
}
],
"default": "darken"
},
{
"type": "range",
"id": "bnr_decor_2_opacity",
"min": 0,
"max": 100,
"step": 5,
"unit": "%",
"label": "Opacity",
"default": 75
}
],
"presets":[
{
"name":"Fullwidth Banner",
"category":"Banners"
}
]
}
{% endschema %}