{%- if section.settings.enable -%}
    <div class="holder holder-subscribe-simple fullwidth {{ section.settings.outer_margin }}" id="SubscribeSection-{{ section.id }}" {%- if section.settings.bg != blank -%}style="background-color: {{ section.settings.bg }};"{%- endif -%}">
        <div class="container">
        <div class="row" {%- if section.settings.color != blank and section.settings.color != 'rgba(0,0,0,0)' -%}style="color: {{ section.settings.color }};"{%- endif -%}>
            <div class="col">
                <div class="subscribe-form">
                    {%- if section.settings.text != blank -%}<h4 class="holder-subscribe-simple-title">{{ section.settings.text }}</h4>{%- endif -%}
                    {% form 'customer', id:'newsletterSubsribe' %}
                        <div class="form-inline">
                            {% if form.posted_successfully? %}
                                {%- include 'form-subscribe-notification' -%}
                            {% endif %}
                            {% if form.errors %}
                                {%- include 'form-subscribe-notification', class: 'has-error', id: section.id -%}
                            {% endif %}
                            <div class="form-control-wrap">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email" name="contact[email]" required class="form-control form-control--sm" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" {%- if section.settings.input_color != blank and section.settings.input_color != 'rgba(0,0,0,0)' -%}style="color: {{ section.settings.input_color }};"{%- endif -%}>
                                {{ form.errors | default_errors }}
                                <style>
                                    {%- if section.settings.input_color_bg != blank and section.settings.input_color_bg != 'rgba(0,0,0,0)' -%}
                                         #SubscribeSection-{{ section.id }} .form-control {
                                            background-color: {{ section.settings.input_color_bg }};
                                        }
                                    {% endif %}
                                    {%- if section.settings.input_color != blank and section.settings.input_color != 'rgba(0,0,0,0)' -%}
                                     #SubscribeSection-{{ section.id }} .form-control {
                                        color: {{ section.settings.input_color }};
                                    }
                                    #SubscribeSection-{{ section.id }} .form-control::-moz-placeholder {
                                        color: {{ section.settings.input_color }};
                                    }
                                    #SubscribeSection-{{ section.id }} .form-control:-ms-input-placeholder {
                                        color: {{ section.settings.input_color }};
                                    }
                                    #SubscribeSection-{{ section.id }} .form-control::-webkit-input-placeholder {
                                        color: {{ section.settings.input_color }};
                                    }
                                    #SubscribeSection-{{ section.id }} .form-control:-webkit-autofill {
                                        -webkit-text-fill-color: {{ section.settings.input_color }} !important;
                                    }
                                    {% endif %}
                                </style>
                            </div>
                            <button type="submit" class="btn">{{ 'general.newsletter_form.submit' | t }}</button>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <style>
        #SubscribeSection-{{ section.id }} .btn {
            {%- if section.settings.button_bgcolor != blank and section.settings.button_bgcolor != 'rgba(0,0,0,0)' -%}background-color:{{ section.settings.button_bgcolor }};{%- endif -%}
            {%- if section.settings.button_color != blank and section.settings.button_color != 'rgba(0,0,0,0)' -%}color:{{ section.settings.button_color }};{%- endif -%}
        }
        #SubscribeSection-{{ section.id }} .btn:hover {
            {%- if section.settings.button_bgcolor_hover != blank and section.settings.button_bgcolor_hover != 'rgba(0,0,0,0)' -%}background-color:{{ section.settings.button_bgcolor_hover }}!important;{%- endif -%}
            {%- if section.settings.button_color_hover != blank and section.settings.button_color_hover != 'rgba(0,0,0,0)' -%}color:{{ section.settings.button_color_hover }}!important;{%- endif -%}
        }
         #SubscribeSection-{{ section.id }} h4 {
            {%- if section.settings.color != blank and section.settings.color != 'rgba(0,0,0,0)' -%}color:{{ section.settings.color }};{%- endif -%}
        }
    </style>
{%- endif -%}

{% schema %}
    {
    "name": "Subscribe Form Simple",
    "presets": [
    {
    "name": "Subscribe Form Simple",
    "category": "Newsletter"
    }
    ],
    "settings": [
    {
    "type": "checkbox",
    "id": "enable",
    "label": "Enable",
    "default": true
    },
    {
    "type": "header",
    "content": "Layout"
    },
    {
    "type": "select",
    "id": "outer_margin",
    "label": "Outer top margin",
    "options":[
    {"value":"mt-0","label":"None"},
    {"value":"holder-mt-xsmall","label":"XSmall"},
    {"value":"holder-mt-small","label":"Small"},
    {"value":"holder-mt-medium","label":"Medium (default)"},
    {"value":"holder-mt-large","label":"Large"}
    ],
    "default": "holder-mt-medium"
    },
    {
    "type": "text",
    "id": "text",
    "label": "Heading",
    "default": "SignUp Today for 25% Off Express Coupons"
    },
    {
    "type":"color",
    "id":"bg",
    "label":"Background"
    },
    {
    "type":"color",
    "id":"color",
    "label":"Text Color"
    },
    {
    "type":"color",
    "id":"input_color_bg",
    "label":"Input Background"
    },
    {
    "type":"color",
    "id":"input_color",
    "label":"Input Border & Text Color"
    },
    {
    "type":"header",
    "content":"BUTTON"
    },
    {
    "type":"color",
    "id": "button_color",
    "label": "Color"
    },
    {
    "type":"color",
    "id": "button_bgcolor",
    "label": "Bg Color"
    },
    {
    "type":"color",
    "id": "button_color_hover",
    "label": "Hover Color"
    },
    {
    "type":"color",
    "id": "button_bgcolor_hover",
    "label": "Hover Bg Color"
    }
    ]
    }
{% endschema %}