<div class="holder {{ section.settings.outer_margin }} {% if section.settings.enable_bg %}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }}  bg-cover lazyload" data-expand="-500"
     {%- if section.settings.bg_image != blank -%}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{%- endif -%}
     {%- if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endif %}
        {%- else -%}"{%- endif -%}>
<div class="{% if section.settings.block_width == "boxed" %}container{% else %}container-fluid px-0{% endif %}">
    {%- if section.settings.enable_text -%}
        {%- unless section.settings.title == '' and section.settings.subtitle == '' -%}
        {% case section.settings.title_m_size %}
        {% when 'h-lg-style' %}
        {%- assign title_size = 'title-lg' -%}
        {% when 'h1-style' %}
        {%- assign title_size = 'title-md' -%}
        {% else %}
        {%- assign title_size = 'title-sm' -%}
        {% endcase %}
        <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }} {% if bottom >= 0 %}mb-{{ bottom | divided_by: 10 }}{% endif %} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %} {{ class }}">
            {%- if section.settings.title != '' -%}
                {%- if collection.url != blank -%}
                    <h2 class="{{ section.settings.title_m_size }} {% if settings.heading_sub_first %} mb-0{% endif %}"><a href="{{ collection.url }}" title="{{ 'collections.general.view_all' | t }}">{{ section.settings.title }}</a></h2>
                {%- else -%}
                    <h2 class="{{ section.settings.title_m_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>
                {%- endif -%}
            {%- endif -%}
            {%- if section.settings.bgtitle != '' -%}
                <div class="h-behind">{{ section.settings.bgtitle }}</div>
            {%- endif -%}
            {% include 'section-headings-line' %}
            {%- if section.settings.subtitle != '' -%}
                <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
            {%- endif -%}
        </div>
        {%- endunless -%}
    {%- endif -%}
    <div class="row vert-margin">
        <div class="col-sm">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    {%- if forloop.index == 1 or forloop.index == 3 -%}
                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} {{ block.shopify_attributes }} class="collection-grid-3-item {% if section.settings.hover != 'none' %}{{ section.settings.hover }}{% endif %} {% unless forloop.index == 1 %}mt-3{% endunless %}">
                            {%- assign _img = block.settings.image -%}
                            {%- if _img -%}
                                {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                                {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <div class="collection-grid-3-item-img image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                    <img class="lazyload fade-up"
                                         data-src="{{ img_url }}"
                                         data-widths="[720, 900, 1080, 1296]"
                                         data-sizes="auto"
                                         alt="{{ block.settings.text1 }}">
                                    <div class="foxic-loader"></div>
                                </div>
                            {%- else -%}
                                <div class="collection-grid-3-item-img">
                                    {% include 'image-placeholder-aspect-ratio', width: '955', height: '955' %}
                                </div>
                            {%- endif -%}
                            <div class="collection-grid-3-caption">
                                <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ block.settings.title }}</h3>
                                <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ block.settings.subtitle }}</h4>
                            </div>
                        </a>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="col-sm">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    {%- if forloop.index == 2 or forloop.index == 4 -%}
                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} {{ block.shopify_attributes }} class="collection-grid-3-item {% if section.settings.hover != 'none' %}{{ section.settings.hover }}{% endif %} {% unless forloop.index == 2 %}mt-3{% endunless %}">
                            {%- assign _img = block.settings.image -%}
                            {%- if _img -%}
                                {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                                {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <div class="collection-grid-3-item-img image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                    <img class="lazyload fade-up"
                                         data-src="{{ img_url }}"
                                         data-widths="[540, 720, 900, 1080, 1296]"
                                         data-sizes="auto"
                                         alt="{{ block.settings.text1 }}">
                                    <div class="foxic-loader"></div>
                                </div>
                            {%- else -%}
                                <div class="collection-grid-3-item-img">
                                    {% include 'image-placeholder-aspect-ratio', width: '955', height: '955' %}
                                </div>
                            {%- endif -%}
                            <div class="collection-grid-3-caption">
                                <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ block.settings.title }}</h3>
                                <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ block.settings.subtitle }}</h4>
                            </div>
                        </a>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>
</div>
<style>
    #shopify-section-{{ section.id }} .collection-grid-3-title {
        font-size: {{ section.settings.title_size }}px;
        font-weight: {{ section.settings.title_weight }};
    {%- unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.title_color }};
    {%- endunless -%}
    }
    #shopify-section-{{ section.id }} .collection-grid-3-subtitle {
        font-size: {{ section.settings.subtitle_size }}px;
        line-height: {{ section.settings.subtitle_lineheight }}em;
        font-weight: {{ section.settings.subtitle_weight }};
    {%- unless section.settings.subtitle_color == '' or section.settings.subtitle_color contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.subtitle_color }};
    {%- endunless -%}
    }
</style>
{% schema %}
    {
    "name":"Collections Grid 2x2",
    "settings":[
    {
    "type":"header",
    "content":"Layout"
    },
    {
    "type":"select",
    "id":"block_width",
    "label":"Width",
    "options":[
    {"value":"boxed","label":"Boxed"},
    {"value":"fullwidth","label":"Fullwidth"}
    ],
    "default":"boxed"
    },
    {
    "type":"select",
    "id":"outer_margin",
    "label":"Outer top margin",
    "options":[
    {"value":"mt-0","label":"None"},
    {"value":"holder-mt-xsmall","label":"XSmall"},
    {"value":"holder-mt-small","label":"Small"},
    {"value":"holder-mt-medium","label":"Medium (default)"},
    {"value":"holder-mt-large","label":"Large"}
    ],
    "default": "holder-mt-medium"
    },
    {
    "type": "checkbox",
    "id": "enable_bg",
    "label": "Add background",
    "default": false
    },
    {
    "type": "select",
    "id": "padding-t",
    "label": "Top Padding",
    "options":[
    {"value":"pt-0","label":"None"},
    {"value":"holder-pt-xsmall","label":"XSmall"},
    {"value":"holder-pt-small","label":"Small"},
    {"value":"holder-pt-medium","label":"Medium (default)"},
    {"value":"holder-pt-large","label":"Large"}
    ],
    "default": "holder-pt-medium"
    },
    {
    "type": "select",
    "id": "padding-b",
    "label": "Bottom Padding",
    "options":[
    {"value":"pb-0","label":"None"},
    {"value":"holder-pb-xsmall","label":"XSmall"},
    {"value":"holder-pb-small","label":"Small"},
    {"value":"holder-pb-medium","label":"Medium (default)"},
    {"value":"holder-pb-large","label":"Large"}
    ],
    "default": "holder-pb-medium"
    },
    {
    "type":"color",
    "id":"bg_color",
    "label":"Section Background Color",
    "default":"#f8f8f8"
    },
    {
    "type":"select",
    "id":"hover",
    "label":"Hover Effect",
    "options":[
    {"value":"none","label":"None"},
    {"value":"image-hover-scale","label":"Scale"},
    {"value":"image-hover-scale image-hover-scale--slow","label":"Slow Scale"}
    ],
    "default":"image-hover-scale"
    },
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_m_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
    {
    "type":"header",
    "content":"Item Settings"
    },
    {
    "type":"range",
    "id":"title_size",
    "min":14,
    "max":60,
    "step":1,
    "label":"Title Font Size",
    "unit":"px",
    "default": 18
    },
    {
    "type":"select",
    "id": "title_weight",
    "label": "Title Weight",
    "options": [
    { "value": "100", "label": "Thin" },
    { "value": "300", "label": "Light" },
    { "value": "400", "label": "Regular" },
    { "value": "500", "label": "Medium" },
    { "value": "600", "label": "Semibold" },
    { "value": "700", "label": "Bold" },
    { "value": "800", "label": "Black" }
    ],
    "default":"700"
    },
{
"type":"select",
"id":"title_top",
"label":"Title Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-1 mt-md-2"
},
    {
    "type":"color",
    "id":"title_color",
    "label":"Title Color"
    },
    {
    "type":"range",
    "id":"subtitle_size",
    "min":10,
    "max":40,
    "step":1,
    "label":"Subtitle Font Size",
    "unit":"px",
    "default": 13
    },
    {
    "type":"range",
    "id":"subtitle_lineheight",
    "min":1,
    "max":2,
    "step":0.1,
    "label":"Line Height",
    "unit":"em",
    "default":1.2
    },
    {
    "type":"select",
    "id": "subtitle_weight",
    "label": "Subtitle Weight",
    "options": [
    { "value": "100", "label": "Thin" },
    { "value": "300", "label": "Light" },
    { "value": "400", "label": "Regular" },
    { "value": "500", "label": "Medium" },
    { "value": "600", "label": "Semibold" },
    { "value": "700", "label": "Bold" },
    { "value": "800", "label": "Black" }
    ],
    "default":"600"
    },
    {
    "type":"select",
    "id":"subtitle_top",
    "label":"Subtitle Top Margin",
    "options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
    ],
    "default":"mt-0"
    },
    {
    "type":"color",
    "id":"subtitle_color",
    "label":"Subtitle Color"
    }
    ],
    "blocks":[
    {
    "type":"banner",
    "name":"Banner",
    "limit": 4,
    "settings":[
    {
    "type":"image_picker",
    "id":"image",
    "label":"Image"
    },
    {
    "type":"checkbox",
    "id":"enable",
    "label":"Enable",
    "default":true
    },
    {
    "type":"url",
    "id":"link",
    "label":"Collection link"
    },
    {
    "type":"select",
    "id":"link_target",
    "label":"Link Target",
    "default":"_self",
    "options":[
    {
    "value":"_blank",
    "label":"New page"
    },
    {
    "value":"_self",
    "label":"In current page"
    }
    ]
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "TITLE"
    },
    {
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle",
    "default": "Subtitle"
    }
    ]
    }
    ],
    "presets": [{
    "name": "Collections Grid 2x2",
    "category": "Collection",
    "blocks": [
    {
    "type": "banner"
    },
    {
    "type": "banner"
    },
    {
    "type": "banner"
    },
    {
    "type": "banner"
    }
    ]
    }]
    }
{% endschema %}