{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
        <div class="{% if section.settings.block_width == "boxed" %}container{% else %}container-fluid px-0{% endif %}">
            <div class="row vert-margin {% if section.settings.reversed %}flex-row-reverse{% endif %}">
                <div class="col">
                    <div class="title-wrap text-center">
                        <h2 class="lookbook-bnr-title1"{% unless section.settings.title1_color == '' or section.settings.title1_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title1_color }}" {% endunless %}>{{ section.settings.title1 }}</h2>
                        <h3 class="lookbook-bnr-title2"{% unless section.settings.title2_color == '' or section.settings.title2_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title2_color }}" {% endunless %}>{{ section.settings.title2 }}</h3>
                    </div>
                    <div class="lookbook-bnr">
                        {%- if section.settings.lookbook_image == blank -%}
                            {% include 'image-placeholder' width: '1920' height: '460' %}
                        {%- else -%}
                            {%- assign aspect_ratio = 1 | divided_by: section.settings.lookbook_image.aspect_ratio -%}
                            <div class="lookbook-bnr-image image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="fade-up lazyload w-100" data-src="{{ section.settings.lookbook_image | img_url: 'master' }}" alt="">
                            </div>
                        {%- endif -%}
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                <div class="lookbook-bnr-point" style="left: {{ block.settings.x_pos }}%; top: {{ block.settings.y_pos }}%;">
                                    <span data-toggle="popover" class="lookbook-popup-btn-lg"><i class="icon-close-bold"></i></span>
                                    <div class="lookbook-popup js-popover-content">
                                        {%- assign product = all_products[block.settings.product] -%}
                                        <div class="prd-lookbook d-flex flex-column">
                                            <a href="{{ product.url | within: collection }}" class="prd-img" title="{{ product.title | strip_html }}">
                                                <img src="{{ product.featured_image.src | img_url: '500x' }}"
                                                     alt="{{ product.featured_image.alt }}">
                                            </a>
                                            <div class="prd-info">
                                                <h2 class="prd-title"><a title="{{ product.title  | strip_html }}" href="{{ product.url | within: collection }}">{{ product.title  | strip_html  | truncate: settings.product_title_truncate }}</a></h2>
                                                <div class="prd-price">
                                                    {% render 'product-price' with product as product %}
                                                </div>
                                                <form method="post" action="{{ routes.cart_add_url }}">
                                                    {% render 'product-add-to-cart' with product as product %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
{
"name": "Lookbook + Headings",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Headings"
},
{
"type": "text",
"id": "title1",
"label": "Title 1",
"default": "UPGRADE YOUR PRODUCT"
},
{
"type": "color",
"id": "title1_color",
"label": "Title 1 color"
},
{
"type": "text",
"id": "title2",
"label": "Title 2",
"default": "2020"
},
{
"type": "color",
"id": "title2_color",
"label": "Title 2 color"
},
{
"type":"image_picker",
"id":"lookbook_image",
"label":"Lookbook Image"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type":      "range",
"id":        "x_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer X Position",
"default":   50
},
{
"type":      "range",
"id":        "y_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer Y Position",
"default":   50
}
]
}
],
"presets": [
{
"name": "Lookbook + Headings",
"category": "Lookbook"
}
]
}
{% endschema %}