<div class="holder {{ section.settings.outer_margin }} section-name-products-grid {% if section.settings.enable_bg %}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }} {% endif %}" id="holder-{{ section.id }}"
     {%- if section.settings.enable_bg -%}{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endunless %}{% endif %}>
    <div class="container">
        {%- if section.settings.enable_text -%}
            {% case section.settings.title_size %}
            {% when 'h-lg-style' %}
            {%- assign title_size = 'title-lg' -%}
            {% when 'h1-style' %}
            {%- assign title_size = 'title-md' -%}
            {% else %}
            {%- assign title_size = 'title-sm' -%}
            {% endcase %}
            <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %} {{ class }}">
                {%- unless section.settings.title == '' and section.settings.subtitle == '' -%}
                {%- if section.settings.title != '' -%}
                    {%- if collection.url != blank -%}
                        <h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}"><a href="{{ collection.url }}" title="{{ 'collections.general.view_all' | t }}">{{ section.settings.title }}</a></h2>
                    {%- else -%}
                        <h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>
                    {%- endif -%}
                {%- endif -%}
                {%- if section.settings.bgtitle != '' -%}
                    <div class="h-behind">{{ section.settings.bgtitle }}</div>
                {%- endif -%}
                {%- if section.settings.subtitle != '' -%}
                    <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
                {%- endif -%}
                {%- endunless -%}
            </div>
        {%- endif -%}
        {% case section.settings.tab_title_size %}
        {% when 'h-lg-style' %}
        {%- assign title_size = 'title-lg' -%}
        {% when 'h1-style' %}
        {%- assign title_size = 'title-md' -%}
        {% else %}
        {%- assign title_size = 'title-sm' -%}
        {% endcase %}
        {%- assign tags_enable = false -%}
        {%- for block in section.blocks -%}
        {%- if block.settings.tags_enable -%}{%- assign tags_enable = true -%}{%- endif -%}
        {%- endfor -%}
        <div class="title-wrap {{ title_size }} {% if tags_enable %}title-tabs--with-sub{% endif %} title-tabs-wrap text-{{ section.settings.text_alignment }}">
            <div class="title-tabs text-center">
                <div class="title-tabs-h h1-style mb-0 js-title-tabs">
                    {%- for block in section.blocks -%}
                        {%- assign collection = collections[block.settings.collection] -%}
                        <h2 class="{% if settings.color_heading_filter_lined %}h-lined-active{% endif %} {{ section.settings.tab_title_size }} {% if forloop.first %}active{% endif %} {% if section.settings.enable_icon %}h-title-tabs-icn{% endif %}">
                            <a {% if collection != blank %}href="{{ collection.url }}?view=load-section-grid" data-block-id="{{ block.id }}" data-grid-tab-title{% endif %} rel="nofollow">
                                {%- if section.settings.enable_icon -%}
                                    <span class="title-tabs-icn">
                                            {%- if block.settings.icon_type == 'svg' -%}
                                                {{ block.settings.svg }}
                                            {%- else -%}
                                                <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                                            {%- endif -%}
                                        </span>
                                {%- endif -%}
                                <span class="title-tabs-text heading-font">{{ block.settings.title | default:collection.title }}
                                    {%- if settings.color_heading_enable_filter_bg -%}
                                        <span class="title-tabs-bg"></span>
                                    {%- endif -%}
                                    </span>
                            </a>
                        </h2>
                    {%- endfor -%}
                </div>
                {%- if section.settings.bgtitle != '' -%}
                    <div class="h-behind">{{ section.settings.bgtitle }}</div>
                {%- endif -%}
                {%- for block in section.blocks -%}
                    {%- if block.settings.tags_enable and collection -%}
                        {%- assign collection = collections[block.settings.collection] -%}
                        <div class="h-sub maxW-825 {% if forloop.first %}active{% endif %}" data-block-id="{{ block.id }}" data-grid-tab-tags>
                            <a class="active" href="{{ collection.url }}/?view=load-section-grid" rel="nofollow" title="{{ 'theme.general.all_products' | t }}" data-grid-tab-tag>{{ 'theme.general.all_products' | t }}</a>
                            {% assign user_filter_tags = block.settings.tags | split:"," | uniq %}
                            {% for user_tag in user_filter_tags %}
                                {% assign tag_only_dawncase = user_tag | handle | strip %}
                                {% assign user_tag_title = user_tag | strip %}
                                <a href="{{ collection.url }}/{{ tag_only_dawncase }}/?view=load-section-grid" rel="nofollow" title="{{ user_tag_title }}" data-grid-tab-tag>
                                    {{ user_tag_title }}
                                </a>
                            {% endfor %}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
                {% comment %}
                {%- if section.settings.subtitle != '' -%}
                    <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
                {%- endif -%}
                {% endcomment %}
            </div>
        </div>
        <div class="prd-grid-wrap {% unless section.settings.showmore_yes %}hide-showmore{% endunless %}">
            <div class="prd-grid data-to-show-{{ section.settings.per_row_desktop }} data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-{{ section.settings.per_row_mobile }}" data-grid-tab-content></div>
            <div class="loader-horizontal-sm js-loader-horizontal-sm d-none" data-loader-horizontal><span></span></div>
        </div>
    </div>
</div>
<style>
    .title-wrap .title-tabs-text .title-tabs-bg {
        -webkit-mask: url({{ 'brush-shape.svg' | asset_url }}) no-repeat 50% 50%;
        mask: url({{ 'brush-shape.svg' | asset_url }}) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        mask-size: contain;
    }
</style>
<script>
	jQuery(document).ready(function () {
		$('#holder-{{ section.id }} .js-title-tabs').perfectScrollbar()
	})
</script>
{% schema %}
{
"name": "Products Grid with Tabs",
"class": "index-section",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type": "checkbox",
"id": "showmore_yes",
"label": "Add Show More Button",
"default": true
},
{
"type": "header",
"content": "Headings"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Title"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "header",
"content": "Tab Heading"
},
{
"type": "select",
"id": "tab_title_size",
"label": "Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" },
{ "value": "h3-style", "label": "XSmall" }
]
},
{
"type": "checkbox",
"id": "enable_icon",
"label": "Enable Icons for Tabs",
"default": false
},
{
"type":"color",
"id":"icon_color",
"label":"Icon Color"
},
{
"type": "header",
"content": "Products Per Row"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "5",
"options": [
{ "value": "4", "label": "4" },
{ "value": "5", "label": "5" },
{ "value": "6", "label": "6" }
],
"info": "products per row"
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
}
],
"blocks": [
{
"type": "tab",
"name": "Tab",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Tab name"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"type":      "checkbox",
"id":        "tags_enable",
"label":     "Enable fast collection filtering",
"default":   false
},
{
"type":      "textarea",
"id":        "tags",
"label":     "Filter by product Tags:",
"default":   "new,sale",
"info":      "write tags separated by coma, do not forget to assign the same tags to the products as for current collection"
},
{
"type": "header",
"content": "Tab Icon (if enabled)"
},
{
"type": "radio",
"id": "icon_type",
"label": "Icon Source",
"options":[
{"value":"theme","label":"Section Icons Set (recommended)"},
{"value":"name","label":"Custom Icon Name (Theme Icons Library)"},
{"value":"svg","label":"Custom SVG code"}
]
},
{
"type": "select",
"id": "icon",
"label": "Section Icons Set",
"default": "icon-box-1",
"options":[
{"value":"icon-box-1","label":"Box"},
{"value":"icon-call-center","label":"Call Center"},
{"value":"icon-speech-bubble","label":"Chat"},
{"value":"icon-watch","label":"Clock"},
{"value":"icon-credit-card-1","label":"Credit Card"},
{"value":"icon-delivery-truck","label":"Delivery Truck"},
{"value":"icon-shopping-1","label":"Hand"},
{"value":"icon-gift","label":"Gift"},
{"value":"icon-gift-card","label":"Gift Card"},
{"value":"icon-guarantee","label":"Guarantee"},
{"value":"icon-location","label":"Location"},
{"value":"icon-return","label":"Return"},
{"value":"icon-ribbon","label":"Ribbon"},
{"value":"icon-tag","label":"Tag"},
{"value":"icon-wallet","label":"Wallet"},          {"value":"icon-award","label":"Award"},          {"value":"icon-diplom","label":"Document"}
]
},
{
"type":"text",
"id":"icon_name",
"label":"Custom Icon Name",
"default": "icon-gift",
"info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
},
{
"type":"textarea",
"id":"svg",
"label":"Custom SVG code"
}
]}
],
"presets": [{
"name": "Products Grid with Tabs",
"category": "Products",
"blocks": [
{
"type": "tab"
},
{
"type": "tab"
},
{
"type": "tab"
}
]
}]
}
{% endschema %}