{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {% if section.settings.enable_bg %}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }}  bg-cover lazyload" data-expand="-500"
     {%- if section.settings.bg_image != blank -%}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{%- endif -%}
     {%- if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endif %}
        {%- else -%}"{%- endif -%}>
    <div class="{% if section.settings.block_width == "boxed" %}container{% else %}container-fluid px-0{% endif %}">
        {% include 'section-headings' %}
        <div class="row vert-margin">
            {% if section.settings.bnr1_enable %}
                <div class="col-md">
                    <a {% if section.settings.bnr1_link != blank %}href="{{ section.settings.bnr1_link }}"{% endif %} class="collection-grid-3-item {% if section.settings.hover != 'none' %}{{ section.settings.hover }}{% endif %}">
                        {%- assign _img = section.settings.bnr1_image -%}
                        {%- if _img -%}
                            {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                            {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <div class="collection-grid-3-item-img image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="lazyload fade-up w-100"
                                     data-src="{{ img_url }}"
                                     data-widths="[720, 900, 1080, 1296]"
                                     data-sizes="auto"
                                     alt="{{ block.settings.text1 }}">
                                <div class="foxic-loader"></div>
                            </div>
                        {%- else -%}
                            <div class="collection-grid-3-item-img">
                                {% include 'image-placeholder-aspect-ratio', width: '380' height: '450' %}
                            </div>
                        {%- endif -%}
                        <div class="collection-grid-3-caption mt-0">
                            <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ section.settings.bnr1_subtitle }}</h4>
                            <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ section.settings.bnr1_title }}</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="col-md">
                <div class="collection-grid-3-item">
                    <div class="collection-grid-3-item-img lookbook-bnr">
                        {%- assign _img = section.settings.bnr_image -%}
                        {%- if _img -%}
                            {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                            {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <div class="lookbook-bnr-image image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="lazyload fade-up w-100"
                                     data-src="{{ img_url }}"
                                     data-widths="[720, 900, 1080, 1296]"
                                     data-sizes="auto"
                                     alt="{{ block.settings.text1 }}">
                                <div class="foxic-loader"></div>
                            </div>
                        {%- else -%}
                            {% include 'image-placeholder-aspect-ratio' width: '380' height: '450' %}
                        {%- endif -%}
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                <div class="lookbook-bnr-point" style="left: {{ block.settings.x_pos }}%; top: {{ block.settings.y_pos }}%;">
                                    <span data-toggle="popover" class="lookbook-popup-btn"><i class="icon-close"></i></span>
                                    <div class="lookbook-popup js-popover-content">
                                        {%- assign product = all_products[block.settings.product] -%}
                                        <div class="prd-lookbook d-flex flex-column">
                                            <a href="{{ product.url | within: collection }}" class="prd-img" title="{{ product.title | strip_html }}">
                                                <img src="{{ product.featured_image.src | img_url: '500x' }}"
                                                     alt="{{ product.featured_image.alt }}">
                                            </a>
                                            <div class="prd-info">
                                                <h2 class="prd-title"><a title="{{ product.title  | strip_html }}" href="{{ product.url | within: collection }}">{{ product.title  | strip_html  | truncate: settings.product_title_truncate }}</a></h2>
                                                <div class="prd-price">
                                                    {% render 'product-price' with product as product %}
                                                </div>
                                                <form method="post" action="{{ routes.cart_add_url }}">
                                                    {% render 'product-add-to-cart' with product as product %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {%- if section.settings.bnr_link != blank -%}
                        <a href="{{ section.settings.bnr_link }}" class="collection-grid-3-caption d-block">
                            <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ section.settings.bnr_subtitle }}</h4>
                            <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ section.settings.bnr_title }}</h3>
                        </a>
                    {%- else -%}
                        <div class="collection-grid-3-caption mt-0">
                            <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ section.settings.bnr_subtitle }}</h4>
                            <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ section.settings.bnr_title }}</h3>
                        </div>
                    {%- endif -%}
                </div>
            </div>
            {% if section.settings.bnr2_enable %}
                <div class="col-md">
                    <a {% if section.settings.bnr2_link != blank %}href="{{ section.settings.bnr2_link }}"{% endif %} class="collection-grid-3-item {% if section.settings.hover != 'none' %}{{ section.settings.hover }}{% endif %}">
                        {%- assign _img = section.settings.bnr2_image -%}
                        {%- if _img -%}
                            {%- assign aspect_ratio = 1 | divided_by: _img.aspect_ratio -%}
                            {%- assign img_url = _img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <div class="collection-grid-3-item-img image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="lazyload fade-up w-100"
                                     data-src="{{ img_url }}"
                                     data-widths="[720, 900, 1080, 1296]"
                                     data-sizes="auto"
                                     alt="{{ block.settings.text1 }}">
                                <div class="foxic-loader"></div>
                            </div>
                        {%- else -%}
                            <div class="collection-grid-3-item-img">
                                {% include 'image-placeholder-aspect-ratio', width: '380' height: '450' %}
                            </div>
                        {%- endif -%}
                        <div class="collection-grid-3-caption mt-0">
                            <h4 class="collection-grid-3-subtitle {{ section.settings.subtitle_top }}">{{ section.settings.bnr2_subtitle }}</h4>
                            <h3 class="collection-grid-3-title {{ section.settings.title_top }}">{{ section.settings.bnr2_title }}</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{%- endif -%}
<style>
    #shopify-section-{{ section.id }} .collection-grid-3-title {
        font-size: {{ section.settings.title_bnr_size }}px;
        font-weight: {{ section.settings.title_weight }};
    {%- unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.title_color }};
    {%- endunless -%}
    }
    #shopify-section-{{ section.id }} .collection-grid-3-subtitle {
        font-size: {{ section.settings.subtitle_size }}px;
        line-height: {{ section.settings.subtitle_lineheight }}em;
        font-weight: {{ section.settings.subtitle_weight }};
    {%- unless section.settings.subtitle_color == '' or section.settings.subtitle_color contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.subtitle_color }};
    {%- endunless -%}
    }
</style>
{% schema %}
{
"name": "Lookbook + Collections",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type":"header",
"content":"Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type":"select",
"id":"outer_margin",
"label":"Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type":"checkbox",
"id":"nopads",
"label":"Remove padding between banners",
"default":false
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "header",
"content": "Lookbook Banner"
},
{
"type":"image_picker",
"id":"bnr_image",
"label":"Image"
},
{
"type":"url",
"id":"bnr_link",
"label":"Collection link"
},
{
"type":"select",
"id":"bnr_link_target",
"label":"Link Target",
"default":"_self",
"options":[
{
"value":"_blank",
"label":"New page"
},
{
"value":"_self",
"label":"In current page"
}
]
},
{
"type": "text",
"id": "bnr_title",
"label": "Title",
"default": "TITLE"
},
{
"type": "text",
"id": "bnr_subtitle",
"label": "Subtitle",
"default": "Subtitle"
},
{
"type": "header",
"content": "Collection 1 Banner"
},
{
"type":"checkbox",
"id":"bnr1_enable",
"label":"Enable",
"default":true
},
{
"type":"image_picker",
"id":"bnr1_image",
"label":"Image"
},
{
"type":"url",
"id":"bnr1_link",
"label":"Collection link"
},
{
"type":"select",
"id":"bnr1link_target",
"label":"Link Target",
"default":"_self",
"options":[
{
"value":"_blank",
"label":"New page"
},
{
"value":"_self",
"label":"In current page"
}
]
},
{
"type": "text",
"id": "bnr1_title",
"label": "Title",
"default": "TITLE"
},
{
"type": "text",
"id": "bnr1_subtitle",
"label": "Subtitle",
"default": "Subtitle"
},
{
"type": "header",
"content": "Collection 2 Banner"
},
{
"type":"checkbox",
"id":"bnr2_enable",
"label":"Enable",
"default":true
},
{
"type":"image_picker",
"id":"bnr2_image",
"label":"Image"
},
{
"type":"url",
"id":"bnr2_link",
"label":"Collection link"
},
{
"type":"select",
"id":"bnr2_link_target",
"label":"Link Target",
"default":"_self",
"options":[
{
"value":"_blank",
"label":"New page"
},
{
"value":"_self",
"label":"In current page"
}
]
},
{
"type": "text",
"id": "bnr2_title",
"label": "Title",
"default": "TITLE"
},
{
"type": "text",
"id": "bnr2_subtitle",
"label": "Subtitle",
"default": "Subtitle"
},
{
"type":"header",
"content":"Typography / Color"
},
{
"type":"range",
"id":"title_bnr_size",
"min":14,
"max":60,
"step":1,
"label":"Title Font Size",
"unit":"px",
"default": 18
},
{
"type":"select",
"id": "title_weight",
"label": "Title Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"700"
},
{
"type":"select",
"id":"title_top",
"label":"Title Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-1 mt-md-2"
},
{
"type":"color",
"id":"title_color",
"label":"Title Color"
},
{
"type":"range",
"id":"subtitle_size",
"min":10,
"max":40,
"step":1,
"label":"Subtitle Font Size",
"unit":"px",
"default": 13
},
{
"type":"range",
"id":"subtitle_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Line Height",
"unit":"em",
"default":1.2
},
{
"type":"select",
"id": "subtitle_weight",
"label": "Subtitle Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"600"
},
{
"type":"select",
"id":"subtitle_top",
"label":"Subtitle Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-0"
},
{
"type":"color",
"id":"subtitle_color",
"label":"Subtitle Color"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type":      "range",
"id":        "x_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer X Position",
"default":   50
},
{
"type":      "range",
"id":        "y_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer Y Position",
"default":   50
}
]
}
],
"presets": [
{
"name": "Lookbook + Collections",
"category": "Lookbook"
}
]
}
{% endschema %}