{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {%- if section.settings.enable_bg -%}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }} bg-cover lazyload" data-expand="-500"
    {%- if section.settings.bg_image != blank -%}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{%- endif -%}
    {%- if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{%- endif -%}
    {%- else -%}"{%- endif -%} id="holder-{{ section.id }}">
    <div class="container">
        {% include 'section-headings' %}
        <div class="testimonials-carousel-wrap {% unless section.settings.enable_bg %}py-3 py-md-5 py-lg-8{% endunless %}">
            <div class="testimonials-carousel testimonials-carousel-single container js-testimonials-carousel-single {% if settings.arrows_style == 'arrows-style2' %}carousel-arrows--bottom{% else %}slick-arrows-circle{% endif %}"
                 data-slick='{"slidesToShow": 1, "arrows": true, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 1, "arrows": false, "dots": true }},{"breakpoint": 480,"settings": {"slidesToShow": 1, "arrows": false, "dots": true}}]}'>
                {%- for block in section.blocks -%}
                    {%- if block.settings.enable -%}
                        <div class="testimonials-item-wrap">
                            <div class="testimonials-item p-0" style="max-width:{{ section.settings.maxwidth }}px" {{ block.shopify_attributes }}>
                                <div class="position-relative d-flex flex-column flex-sm-row align-items-center">
                                    {%- if section.settings.testimonials_photo -%}
                                        <div class="testimonials-item-photo mb-2 mb-sm-0">
                                            {%- if block.settings.image == blank -%}
                                                <span class="mx-auto">{% include 'image-placeholder' width: '280' height: '280', text: '280x280' %}</span>
                                            {%- else -%}
                                                <img class="lazyload w-100"
                                                     data-src="{{ block.settings.image | img_url: '300x', crop: 'center' }}"
                                                     data-aspectratio="1"
                                                     data-sizes="auto"
                                                     alt="{{ block.settings.name | escape }}">
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                    <div class="testimonials-item-text w-100 text-{{ section.settings.text_alignment_item }}" {%- if section.settings.testimonials_color != blank and section.settings.testimonials_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_color }}"{%- endif -%}>
                                        <h3 class="testimonials-item-name" {%- if section.settings.testimonials_author_color != blank and section.settings.testimonials_author_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_author_color }}"{%- endif -%}>{{ block.settings.author }}</h3>
                                        {{ block.settings.text }}
                                        {% assign justify = 'center' %}
                                        {% case section.settings.text_alignment_item %}
                                        {% when 'left' %}
                                        {% assign justify = 'start' %}
                                        {% when 'right' %}
                                        {% assign justify = 'end' %}
                                        {% endcase %}
                                        {%- if section.settings.enable_rating -%}
                                        <div class="prd-rating justify-content-{{ justify }} mt-3">
                                            <i class="icon-star{% if block.settings.rating > 0 %}-fill{% endif %}"></i>
                                            <i class="icon-star{% if block.settings.rating > 1 %}-fill{% endif %}"></i>
                                            <i class="icon-star{% if block.settings.rating > 2 %}-fill{% endif %}"></i>
                                            <i class="icon-star{% if block.settings.rating > 3 %}-fill{% endif %}"></i>
                                            <i class="icon-star{% if block.settings.rating > 4 %}-fill{% endif %}"></i>
                                        </div>
                                        {%- endif -%}
                                    </div>
                                  </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            {%- if settings.arrows_style == "arrows-style2" -%}<div class="carousel-arrows carousel-arrows--bottom"></div>{%- endif -%}
        </div>
    </div>
    </div>
{%- endif -%}
        <style>
            @media (min-width: 768px) {
                #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item-photo {
                    flex: 0 0 35%;
                    max-width: 35%;
                }
            }
            @media (max-width: 767px) {
                #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item-photo {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                #shopify-section-{{ section.id }} .slick-dots {
                    position: relative;
                    bottom: -15px;
                }
            }
            #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item-text {
                font-size: {{ section.settings.text_size }}px;
                line-height: {{ section.settings.text_lineheight }}em;
                font-weight: {{ section.settings.text_weight }};
            }
            {%- if section.settings.testimonials_rating_color != blank and section.settings.testimonials_rating_color != 'rgba(0,0,0,0)' -%}
                #shopify-section-{{ section.id }} .testimonials-carousel-single .prd-rating [class*='icon'] {
                    color: {{ section.settings.testimonials_rating_color }}
                }
            {%- endif -%}
            #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item-name {
                font-size: {{ section.settings.author_size }}px;
                font-weight: {{ section.settings.author_weight }};
            }
            #shopify-section-{{ section.id }} .testimonials-carousel-wrap {
                background-color: {{ section.settings.testimonials_bg }};
                padding-bottom: 20px;
            }
            #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item {
                background-color: {{ section.settings.testimonials_bg_inside }};
            }
            {%- unless section.settings.rounded -%}
            #shopify-section-{{ section.id }} .testimonials-carousel-single .testimonials-item {
                border-radius: 0;
            }
            {%- endunless -%}
        </style>
{% schema %}
{
"name": "Testimonials (1x) Style 2",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Section Background Image",
"info":"(Recommended size 1920x700 px)"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Happy Customers Testimonials"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "header",
"content": "Testimonial Item"
},
{
"type": "select",
"id": "text_alignment_item",
"label": "Text Alignment",
"default": "left",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "range",
"id": "maxwidth",
"label": "Item Max Width",
"min": 400,
"max": 1800,
"step": 20,
"unit": "px",
"default": 900
},
{
"type":"checkbox",
"id":"testimonials_photo",
"label":"Show Author Photo",
"default":true
},
{
"type": "checkbox",
"id": "enable_rating",
"label": "Show Star Rating",
"default": true
},
{
"type": "header",
"content": "Typography / Colors"
},
{
"type":"color",
"id":"testimonials_bg",
"label":"Outside Background",
"default":"#fafafa"
},
{
"type":"color",
"id":"testimonials_bg_inside",
"label":"Item Background",
"default":"#ffffff"
},
{
"type":"color",
"id":"testimonials_author_color",
"label":"Author's Name Color"
},
{
"type":"color",
"id":"testimonials_color",
"label":"Text Color"
},
{
"type":"color",
"id":"testimonials_rating_color",
"label":"Rating Color"
},
{
"type":"range",
"id":"text_size",
"min":14,
"max":24,
"step":1,
"label":"Text Font Size",
"unit":"px",
"default": 15
},
{
"type":"range",
"id":"text_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Text Line Height",
"unit":"em",
"default":1.6
},
{
"type":"select",
"id": "text_weight",
"label": "Item Text Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"400"
},
{
"type":"range",
"id":"author_size",
"min":14,
"max":24,
"step":1,
"label":"Author Name Font Size",
"unit":"px",
"default": 22
},
{
"type":"select",
"id": "author_weight",
"label": "Author Name Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"600"
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "author",
"label": "Author's name",
"default": "Author's name"
},
{
"type": "image_picker",
"id": "image",
"label": "Author's Photo",
"info":"Recommended size 200x200px"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Add customer reviews and testimonials</p>"
},
{
"type":"range",
"id":"rating",
"min":0,
"max":5,
"step":1,
"label":"Star Rating",
"unit":"★",
"default": 5
}
]
}],
"presets": [
{
"name": "Testimonials (1x) Style 2",
"category": "Info Blocks",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
}
]
}
]
}
{% endschema %}