{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="row vert-margin-small justify-content-md-center">
            {%- if section.settings.testimonials_show -%}
            <div class="{%- if section.settings.instagram_show -%}col-lg-9 d-lg-flex flex-lg-column{%- else -%}col-lg-18{%- endif -%}">
                <div class="title-with-arrows">
                    <h2 class="{{ section.settings.testimonials_heading_size }}">{{ section.settings.testimonials_heading }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="testimonials-carousel-wrap" style="background-color: {{ section.settings.testimonials_bg }};{%- if section.settings.instagram_show -%}height: 100%;{%- endif -%}">
                    {%- if section.settings.testimonials_decor -%}
                    <div class="circle_decor_wrap">
                        {%- assign classes = "circle_decor--tl" -%}
                        {%- assign translateX = "-81" -%}
                        {%- assign translateY = "-69" -%}
                        {%- assign rotate = "-50" -%}
                        {%- assign color = section.settings.decor_color -%}
                        {%- assign opacity = "0.5" -%}
                        {%- assign dwidth = "50" -%}
                        {%- assign target = 'testimonial' -%}
                        {%- if section.settings.instagram_show -%}{%- assign dwidth = "100" -%}{%- endif -%}
                        {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}

                        {%- assign classes = "circle_decor--br" -%}
                        {%- assign translateX = "81" -%}
                        {%- assign translateY = "69" -%}
                        {%- assign rotate = "-50" %}
                        {%- assign color = section.settings.decor_color -%}
                        {%- assign opacity = "0.5" -%}
                        {%- assign dwidth = "50" -%}
                        {%- assign target = 'testimonial' -%}
                        {%- if section.settings.instagram_show -%}{%- assign dwidth = "100" -%}{%- endif -%}
                        {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}
                    </div>
                    {%- endif -%}
                    <div class="testimonials-carousel js-testimonials-carousel"
                        {%- if section.settings.instagram_show -%} data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'
                        {%- else -%}data-slick='{"slidesToShow": 2, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'{%- endif -%}>
                        {%- for block in section.blocks -%}
                            {%- if block.settings.enable -%}
                                <div class="testimonials-item" {{ block.shopify_attributes }}>
                                    <div class="row vert-margin">
                                        <div class="col-sm-5 testimonials-item-photo text-center">
                                            {%- if block.settings.image == blank -%}
                                                <span class="rounded-circle">{% include 'image-placeholder' size: '170x170' %}</span>
                                            {%- else -%}
                                                <img class="lazyload rounded-circle mx-auto"
                                                     data-src="{{ block.settings.image | img_url: '170x170', crop: 'center' }}"
                                                     data-aspectratio="1"
                                                     data-sizes="auto"
                                                     alt="{{ block.settings.name | escape }}">
                                            {%- endif -%}
                                        </div>
                                        <div class="col-sm-13 testimonials-item-text" {%- if section.settings.testimonials_color != blank and section.settings.testimonials_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_color }}"{%- endif -%}>
                                            <h3 class="testimonials-item-name" {%- if section.settings.testimonials_color != blank and section.settings.testimonials_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_color }}"{%- endif -%}>{{ block.settings.author }}</h3>
                                            {{ block.settings.text }}
                                        </div>
                                    </div>
                                    {%- if section.settings.testimonials_quote -%}
                                    <div class="testimonials-item-quote">
                                        <i class="icon-quotes"></i>
                                    </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endif -%}
            {%- if section.settings.instagram_show -%}
            <div class="{%- if section.settings.testimonials_show -%}col-lg-9{%- else -%}col-lg-18{%- endif -%}">
                <h2 class="{{ section.settings.instagram_heading_size }}">{{ section.settings.instagram_heading }}</h2>
                <div class="instagram-grid instagram-grid--sm">
                    <div id="instafeed{{ section.id }}" class="js-instagram-feed" data-limit='{{ section.settings.insta_limit }}' data-{{ section.settings.insta_source }}='{{ section.settings.insta_source_text }}'></div>
                    {%- if section.settings.insta_button_show -%}
                        <div class="instagram-grid-btn">
                            <a href="{{ section.settings.insta_button_link }}" target="{{ section.settings.link_target }}" class="btn btn--xxl" {% unless  section.settings.bnr_button_theme %}style="background-color:{{ section.settings.button_bgcolor }}; color:{{ section.settings.button_color }};" data-color="{{ section.settings.button_color }}" data-hover-color="{{ section.settings.button_color_hover }}" data-bgcolor="{{ section.settings.button_bgcolor }}" data-hover-bgcolor="{{ section.settings.button_bgcolor_hover }}"{% endunless %}>{{ section.settings.insta_button_text }}</a>
                        </div>
                    {%- endif -%}
                </div>
            </div>
            {%- endif -%}
        </div>
    </div>
</div>
{%- endif -%}

{% schema %}
{
"name": "Testimonials - Instagram",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Testimonials"
},
{
"type":"checkbox",
"id":"testimonials_show",
"label":"Show Testimonials",
"default":true
},
{
"type": "text",
"id": "testimonials_heading",
"label": "Title",
"default":"OUR CLIENTS SAY ABOUT US"
},
{
"type": "select",
"id": "testimonials_heading_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type":"color",
"id":"testimonials_bg",
"label":"Background",
"default":"#fafafa"
},
{
"type":"color",
"id":"testimonials_color",
"label":"Text Color"
},
{
"type":"checkbox",
"id":"testimonials_quote",
"label":"Show Quote Icon",
"default":true
},
{
"type":"checkbox",
"id":"testimonials_decor",
"label":"Show Decor Circles",
"default":true
},
{
"type":"color",
"id":"decor_color",
"label":"Decor Circles Color"
},
{
"type": "header",
"content": "Instagram"
},
{
"type":"checkbox",
"id":"instagram_show",
"label":"Show Instagram",
"default":true
},
{
"type": "text",
"id": "instagram_heading",
"label": "Title",
"default":"INSTAGRAM"
},
{
"type": "select",
"id": "instagram_heading_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "radio",
"id": "insta_source",
"label": "From where to retrieve the feed",
"default":"tag",
"options":[
{"value":"username","label":"User Name"},
{"value":"tag","label":"Tag"}
]
},
{
"type": "text",
"id": "insta_source_text",
"label": "Username Or Tag",
"default":"envato"
},
{
"type": "range",
"id": "insta_limit",
"label": "Number of pictures",
"min": 1,
"max": 24,
"step": 1,
"default": 8,
"info":  "* Up to 12 for username, up to 24 for tags"
},
{
"type":"checkbox",
"id":"insta_button_show",
"label":"Show Button",
"default":true
},
{
"type": "text",
"id": "insta_button_link",
"label": "Button Link",
"default":"https://www.instagram.com/bigstepscenter/"
},
{
"type":"select",
"id":"link_target",
"label":"Link Target",
"default":"_self",
"options":[
{
"value":"_blank",
"label":"New page"
},
{
"value":"_self",
"label":"In current page"
}
]
},
{
"type": "text",
"id": "insta_button_text",
"label": "Button Text",
"default":"Follow Us"
},
{
"type": "select",
"id": "bnr_button_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "bnr_button_theme",
"default": true,
"label": "Use Theme Button Color"
},
{
"type":"color",
"id": "button_color",
"label": "Color"
},
{
"type":"color",
"id": "button_bgcolor",
"label": "Bg Color"
},
{
"type":"color",
"id": "button_color_hover",
"label": "Hover Color"
},
{
"type":"color",
"id": "button_bgcolor_hover",
"label": "Hover Bg Color"
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "author",
"label": "Author's name",
"default": "Author's name"
},
{
"type": "image_picker",
"id": "image",
"label": "Author's Photo",
"info":"Recommended size 200x200px"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Add customer reviews and testimonials</p>"
}
]
}],
"presets": [
{
"name": "Testimonials - Instagram",
"category": "Instagram",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
}
]
}
]
}
{% endschema %}