{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
        <div class="container">
            {%- if section.settings.enable_text -%}
                {%- unless section.settings.title == '' -%}
                {% case section.settings.title_size %}
                {% when 'h-lg-style' %}
                {%- assign title_size = 'title-lg' -%}
                {% when 'h1-style' %}
                {%- assign title_size = 'title-md' -%}
                {% else %}
                {%- assign title_size = 'title-sm' -%}
                {% endcase %}
                {%- if section.settings.text_alignment == 'center' -%}
                    <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %}">
                        <h2 class="{{ section.settings.title_size }} text-{{ section.settings.text_alignment }}">{{ section.settings.title }}</h2>
                        {%- if section.settings.bgtitle != '' -%}
                            <div class="h-behind">{{ section.settings.bgtitle }}</div>
                        {%- endif -%}
                        <div class="carousel-arrows"></div>
                    </div>
                    {%- elsif section.settings.text_alignment == 'left' -%}
                    <div class="title-with-arrows {{ title_size }} title-wrap text-{{ section.settings.text_alignment }}">
                        {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>{%- endif -%}
                        {%- if section.settings.bgtitle != '' -%}
                            <div class="h-behind">{{ section.settings.bgtitle }}</div>
                        {%- endif -%}
                        <div class="carousel-arrows"></div>
                    </div>
                {%- endif -%}
                {%- endunless -%}
            {%- endif -%}
            <div class="instagram-carousel">
                <div id="instafeed{{ section.id }}" class="instagram-feed-full js-instagram-feed" data-limit='{{ section.settings.insta_limit }}' data-{{ section.settings.insta_source }}='{{ section.settings.insta_source_text }}'></div>
            </div>
        </div>
    </div>
{%- endif -%}

{% schema %}
{
"name": "Instagram Carousel",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Headings"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Instagram"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "radio",
"id": "insta_source",
"label": "From where to retrieve the feed",
"options":[
{"value":"username","label":"User Name"},
{"value":"tag","label":"Tag"}
]
},
{
"type": "text",
"id": "insta_source_text",
"label": "Username Or Tag",
"default":"bigstepscenter"
},
{
"type": "range",
"id": "insta_limit",
"label": "Number of pictures to display",
"min": 1,
"max": 24,
"step": 1,
"default": 12,
"info":  "* Up to 12 for username, up to 24 for tags"
}
],
"presets": [
{
"name": "Instagram Carousel",
"category": "Instagram"
}
]
}
{% endschema %}
