{%- assign product = all_products[section.settings.featured_product] -%}
{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{% if product.price_varies %}
    {% capture price %}{{ product.price_min | money }}{% endcapture %}
{% else %}
    {% capture price %}{{ product.selected_or_first_available_variant.price | money }}{% endcapture %}
{% endif %}
 {%- if section.settings.image -%}
     {% assign width = section.settings.image.width %}
     {% assign height = section.settings.image.height %}
 {%- else -%}
     {% assign width = 1920 %}
     {% assign height = 800 %}
 {%- endif -%}
 {%- if section.settings.image_mobile -%}
     {% assign width_m = section.settings.image_mobile.width %}
     {% assign height_m = section.settings.image_mobile.height %}
 {%- else -%}
     {% assign width_m = 1000 %}
     {% assign height_m = 1000 %}
 {%- endif -%}
<!-- BN Slider -->
<div class="holder {{ section.settings.outer_margin }} {% if section.settings.block_width == 'fullboxed' or section.settings.block_width == 'fullwidth' %}fullwidth{% else %}boxed{% endif %} full-nopad">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-{{ section.id }}" data-start-width='{{ width }}' data-start-height='{{ height }}' data-start-mwidth='{{ width_m }}' data-start-mheight='{{ height_m }}'{%- if section.settings.enable_bg -%}{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endunless %}{% endif %}>
                <div class="bnslider-slide bnslider-slide-product-style5">
                    {% if section.settings.image_mobile %}
                        <div class="bnslider-image-mobile" style="background-image: url('{{ section.settings.image_mobile | img_url: 'master' }}')"></div>
                    {% endif %}
                    {%- if section.settings.image -%}
                        <div class="bnslider-image lazyload fade-up-fast" {% if section.settings.image != blank %}data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto"{% endif %}></div>
                    {% else %}
                        <div class="bnslider-image-placeholder bnslider-image">
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% endif %}
                    {%- if section.settings.decor -%}
                    <div class="bnr-decor" data-animation="fromLeftRubber" data-animation-delay="800">
                        {% capture decor_style1 %}
                            top: 44%; left: -25%; width: 39%; fill: {{ section.settings.decor_color }}; opacity: {{ section.settings.decor_opacity }}%; mix-blend-mode: {{ section.settings.decor_blend }};
                        {% endcapture %}
                        {% include 'decor' style: decor_style1 %}
                    </div>
                    <div class="bnr-decor" data-animation="fromRightRubber" data-animation-delay="1000">
                        {% capture decor_style2 %}
                            top: -44%; left: 85%; width: 39%; fill: {{ section.settings.decor_color }}; opacity: {{ section.settings.decor_opacity }}%; mix-blend-mode: {{ section.settings.decor_blend }};
                        {% endcapture %}
                        {% include 'decor' style: decor_style2 %}
                    </div>
                    {%- endif -%}
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle px-15 {% if section.settings.reversed %}txt-right{% else %}txt-left{% endif %}">
                            <div class="bnslider-text-content-flex {% if section.settings.block_width == 'fullboxed' %}container{% endif %} text-center align-items-center {% if section.settings.reversed %}align-items-sm-end{% else %}align-items-sm-start{% endif %}">
                                <div class="bnslider-vert {% if section.settings.reversed %}pr-lg-5 {% else %}pl-lg-5 {% endif %}{{ section.settings.text_alignment }}">
                                    <div class="bnslider-text bnslider-text--price-sale {{ section.settings.text_alignment }}">
                                        <span class="txt {% if section.settings.title1_font %}heading-font{% endif %}" {% unless section.settings.title1_color == '' or section.settings.title1_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title1_color }}"{% endunless %}>
                                            {{ section.settings.title }}
                                            <span {% unless section.settings.title1_color == '' or section.settings.title1_color contains 'rgba(0,0,0,0)' %}style="background-color: {{ section.settings.title1_color }}"{% endunless %}></span>
                                        </span>
                                        <span class="{% if section.settings.title2_font %}heading-font{% endif %}" {% unless section.settings.title2_color == '' or section.settings.title2_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title2_color }}"{% endunless %}>{{ section.settings.title_2 }}</span>
                                    </div>
                                    <div class="bnslider-text bnslider-product-text {% if section.settings.title3_font %}heading-font{% endif %}" {% unless section.settings.title3_color == '' or section.settings.title3_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title3_color }}"{% endunless %}>
                                        {{ section.settings.title_3 }}
                                    </div>
                                    {%- if section.settings.title_4 != blank -%}
                                    <div class="bnslider-text bnslider-product-text-lg {% if section.settings.title4_font %}heading-font{% endif %}" {% unless section.settings.title4_color == '' or section.settings.title4_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title4_color }}"{% endunless %}>
                                        {{ section.settings.title_4 }}
                                    </div>
                                    {%- endif -%}
                                    {%- if section.settings.button_yes -%}
                                    <div class="btn-wrap mt-lg">
                                        <a href="{{ section.settings.button_link | default:'#' }}" target="{{ section.settings.link_target }}"class="btn {{ section.settings.button_size }}"
                                           data-color="{{ section.settings.button_color }}" data-bgcolor="{{ section.settings.button_bg }}" data-hover-color="{{ section.settings.button_hover_color }}" data-hover-bgcolor="{{ section.settings.button_hover_bg }}" style="color:{{ section.settings.button_color }}; background-color:{{ section.settings.button_bg }}">
                                            {{ section.settings.button_txt }}
                                        </a>
                                    </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //BN Slider -->

{% schema %}
{
  "name": "Sale Product Offer",
  "class": "index-section",
  "presets": [
    {
      "name": "Sale Product Offer",
      "category": "Banners"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "outer_margin",
      "label": "Outer top margin",
      "options": [
        {
          "value": "mt-0",
          "label": "None"
        },
        {
          "value": "holder-mt-xsmall",
          "label": "XSmall"
        },
        {
          "value": "holder-mt-small",
          "label": "Small"
        },
        {
          "value": "holder-mt-medium",
          "label": "Medium (default)"
        },
        {
          "value": "holder-mt-large",
          "label": "Large"
        }
      ],
      "default": "holder-mt-medium"
    },
    {
        "type":"select",
        "id":"block_width",
        "label":"Width",
        "options":[
        {"value":"boxed","label":"Boxed"},
        {"value":"fullboxed","label":"FullBoxed"},
        {"value":"fullwidth","label":"Fullwidth"}
        ],
        "default":"fullboxed"
    },
    {
        "type": "checkbox",
        "id": "reversed",
        "label": "Reversed",
        "default": false
    },
    {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "text-center justify-content-center",
        "options": [
        { "value": "text-left justify-content-start", "label": "Left" },
        { "value": "text-center justify-content-center", "label": "Center" },
        { "value": "text-right justify-content-end", "label": "Right" }
        ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title 1",
      "default": "UP TO"
    },
{
"type": "checkbox",
"id": "title1_font",
"label": "Use Headings Font",
"default": false
},
{
        "type": "color",
        "id": "title1_color",
        "label": "Title 1 Color"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": "40%"
    },
{
"type": "checkbox",
"id": "title2_font",
"label": "Use Headings Font",
"default": false
},
    {
        "type": "color",
        "id": "title2_color",
        "label": "Title 2 Color"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3",
      "default": "BRANDY SALE"
    },
{
"type": "checkbox",
"id": "title3_font",
"label": "Use Headings Font",
"default": false
},
    {
        "type": "color",
        "id": "title3_color",
        "label": "Title 3 Color"
    },
    {
        "type": "text",
        "id": "title_4",
        "label": "Title 4"
    },
    {
        "type": "color",
        "id": "title4_color",
        "label": "Title 4 Color"
    },
{
"type": "checkbox",
"id": "title4_font",
"label": "Use Headings Font",
"default": false
},
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product image",
      "info": "Recommended size is 1920x900px"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Product image (mobile)",
      "info": "Recommended size is 750x730px"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
        "type": "checkbox",
        "id": "button_yes",
        "label": "Enabled",
        "default": true
    },
    {
      "type": "text",
      "id": "button_txt",
      "label": "Button text",
      "default": "BUY NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        {
          "value": "btn",
          "label": "Normal"
        },
        {
          "value": "btn--lg",
          "label": "Medium"
        },
        {
          "value": "btn--xl",
          "label": "Large"
        },
        {
          "value": "btn--xxl",
          "label": "Extra Large"
        }
      ],
      "default": "btn--lg"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color"
    },
    {
      "type": "color",
      "id": "button_hover_bg",
      "label": "Button Hover Background"
    },
    {
    "type": "header",
    "content": "Circle Decor"
    },
    {
    "type": "checkbox",
    "id": "decor",
    "default": true,
    "label": "Enable"
    },
    {
    "type": "color",
    "id": "decor_color",
    "label": "Color"
    },
    {
    "type": "select",
    "id": "decor_blend",
    "label": "Blend Mode",
    "options": [
    {
    "value": "normal",
    "label": "normal"
    },
    {
    "value": "darken",
    "label": "darken"
    },
    {
    "value": "multiple",
    "label": "multiple"
    },
    {
    "value": "soft-light",
    "label": "soft light"
    }
    ],
    "default": "normal"
    },
    {
    "type": "range",
    "id": "decor_opacity",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "%",
    "label": "Opacity",
    "default": 75
    }
  ]
}
{% endschema %}