{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {% if section.settings.enable_bg %}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }} {% endif %}" {%- if section.settings.enable_bg -%}{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endunless %}{% endif %}>
        <div class="container">
            {%- if section.settings.enable_text -%}
            {% case section.settings.title_size %}
            {% when 'h-lg-style' %}
            {%- assign title_size = 'title-lg' -%}
            {% when 'h1-style' %}
            {%- assign title_size = 'title-md' -%}
            {% else %}
            {%- assign title_size = 'title-sm' -%}
            {% endcase %}
            {%- if section.settings.blog != blank -%}
            {%- assign blog_url = blogs[section.settings.blog].url -%}
            {%- endif -%}

            {% case section.settings.text_alignment_item %}
            {% when 'left align-items-start' %}
            {%- assign alignment = 'justify-content-start' -%}
            {% when 'right align-items-end' %}
            {%- assign alignment = 'justify-content-end' -%}
            {% else %}
            {%- assign alignment = 'justify-content-center' -%}
            {% endcase %}
            {%- if section.settings.text_alignment == 'center' -%}
                <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %}">
                    <h2 class="{{ section.settings.title_size }} text-{{ section.settings.text_alignment }}">{%- if blog_url -%}<a href="{{ blog_url }}" title="{{ 'collections.general.view_all' | t }}">{%- endif -%}{{ section.settings.title }}{%- if blog_url -%}</a>{%- endif -%}</h2>
                    {%- if section.settings.bgtitle != '' -%}
                        <div class="h-behind">{{ section.settings.bgtitle }}</div>
                    {%- endif -%}
                    {%- if section.settings.subtitle != '' -%}
                        <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
                    {%- endif -%}
                    {% include 'section-headings-line' %}
                    {% if settings.arrows_style == 'arrows-style1' %}<div class="carousel-arrows"></div>{% endif %}
                </div>
                {%- elsif section.settings.text_alignment == 'left' -%}
                <div class="title-with-arrows title-wrap {{ title_size }} text-{{ section.settings.text_alignment }}">
                    {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{%- if blog_url -%}<a href="{{ blog_url }}" title="{{ 'collections.general.view_all' | t }}">{%- endif -%}{{ section.settings.title }}{%- if blog_url -%}</a>{%- endif -%}</h2>{%- endif -%}
                    {%- if section.settings.bgtitle != '' -%}
                        <div class="h-behind">{{ section.settings.bgtitle }}</div>
                    {%- endif -%}
                    {%- if section.settings.subtitle != '' -%}
                        <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
                    {%- endif -%}
                    {% if settings.arrows_style == 'arrows-style1' %}<div class="carousel-arrows"></div>{% endif %}
                </div>
            {%- endif -%}
            {%- endif -%}
            {%- if section.settings.blog != blank -%}
            {%- assign blog = blogs[section.settings.blog] -%}
            {%- unless blog.articles_count == 0 -%}
            <div class="post-prws post-prws-carousel post-prws--row js-post-prws-carousel post-prws-carousel--style{{ section.settings.style }}"
                 data-slick='{"slidesToShow": {{ section.settings.per_row_desktop }}, {% if settings.arrows_style == "arrows-style3" %}"arrows": false, "dots": true, {% endif %} "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": {{ section.settings.per_row_tablet }} }},{"breakpoint": 480,"settings": {"slidesToShow": {{ section.settings.per_row_mobile }} }}]}'>
                {%- for article in blog.articles limit: section.settings.blog_limit -%}
                    <div class="post-prw-vert col text-{{ section.settings.text_alignment_item }}">
                        {%- if article.image -%}
                            {%- if section.settings.proportion_yes -%}
                                {%- capture proportion -%}{{ section.settings.proportion_w }}x{{ section.settings.proportion_h }}{%- endcapture -%}
                                <a href="{{ article.url }}" class="post-prw-img image-hover-scale">
                                    <img src="{{ article.image | img_url: proportion, crop: 'center' }}"
                                         alt="{{ article.title }}">
                                </a>
                            {%- else -%}
                            {%- if section.settings.style == '2' -%}
                                <a href="{{ article.url }}" class="post-prw-img image-hover-scale">
                                    <img src="{{ article.image | img_url: '450x400', crop: 'center' }}"
                                         alt="{{ article.title }}">
                                </a>
                            {%- elsif section.settings.style == '3' -%}
                                <a href="{{ article.url }}" class="post-prw-img image-hover-scale">
                                    <img src="{{ article.image | img_url: '450x490', crop: 'center' }}"
                                         alt="{{ article.title }}">
                                </a>
                            {%- else -%}
                            {%- assign aspect_ratio = 1 | divided_by: article.image.aspect_ratio -%}
                            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <a href="{{ article.url }}" class="post-prw-img image-hover-scale image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="lazyload fade-up w-100"
                                     data-widths="[360, 540, 720]"
                                     data-src="{{ img_url }}"
                                     data-sizes="auto"
                                     alt="{{ article.title }}">
                            </a>
                            {%- endif -%}
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.settings.style == '2' -%}<div class="post-prw-info-wrap">{%- endif -%}
                        {%- if section.settings.meta_under -%}
                            {%- if section.settings.blog_show_date or section.settings.blog_show_author or section.settings.blog_show_comments -%}
                                <div class="post-prw-links {{ alignment }} {% if section.settings.typography_yes %}{{ section.settings.meta_top }}{% endif %}">
                                    {%- if section.settings.blog_show_date -%}
                                        <div class="post-prw-date"><i class="icon-calendar1"></i>{{ article.published_at | time_tag: format: 'date' }}</div>
                                    {%- endif -%}
                                    {%- if section.settings.blog_show_author -%}
                                        <a href="#" class="post-prw-author">{{ 'blogs.article.by_author' | t: author: article.author }}</a>
                                    {%- endif -%}
                                    {%- if section.settings.blog_show_comments -%}
                                        <a href="#" class="post-prw-comments"><i class="icon-chat"></i>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                        <h4 class="{%- if section.settings.style == '3'-%}h2-style{%- else -%} {% if section.settings.typography_yes %}{{ section.settings.title_top }}{% endif %} post-prw-title{%- endif -%}"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                        {%- unless section.settings.meta_under -%}
                            {%- if section.settings.blog_show_date or section.settings.blog_show_author or section.settings.blog_show_comments -%}
                                <div class="post-prw-links {{ alignment }} {% if section.settings.typography_yes %}{{ section.settings.meta_top }}{% endif %}">
                                    {%- if section.settings.blog_show_date -%}
                                        <div class="post-prw-date"><i class="icon-calendar1"></i>{{ article.published_at | time_tag: format: 'date' }}</div>
                                    {%- endif -%}
                                    {%- if section.settings.blog_show_author -%}
                                        <a href="#" class="post-prw-author">{{ 'blogs.article.by_author' | t: author: article.author }}</a>
                                    {%- endif -%}
                                    {%- if section.settings.blog_show_comments -%}
                                        <a href="#" class="post-prw-comments"><i class="icon-chat"></i>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endunless -%}
                        {%- if section.settings.blog_show_teaser -%}
                        <div class="post-prw-teaser {% if section.settings.typography_yes %}{{ section.settings.subtitle_top }}{% endif %}">
                            {%- if article.excerpt.size > 0 -%}
                                {{ article.excerpt }}
                            {%- else -%}
                                {{ article.content | strip_html | truncate: section.settings.teaser }}
                            {%- endif -%}
                        </div>
                        {%- endif -%}
                            {%- if section.settings.button_yes -%}
                                <div class="btn-wrap mt-2 mt-lg-3">
                                    <a href="{{ article.url }}" class="btn {{ section.settings.button_size }}">
                                        {{ section.settings.button_txt }}
                                    </a>
                                </div>
                            {%- endif -%}
                        {%- if section.settings.style == '2' -%} </div>{%- endif -%}
                    </div>
                {%- endfor -%}
            </div>
            {%- if settings.arrows_style == "arrows-style2" -%}<div class="carousel-arrows carousel-arrows--bottom"></div>{%- endif -%}
            {%- endunless -%}
            {%- else -%}
                <div class="row">
                <div class="alert alert-warning col-lg-9 mx-auto">
                    To add posts:<br>
                    1. Open 'Blog Post Carousel' section in the admin panel<br>
                    2. Add Blog category<br>
                    3. Save
                </div>
                </div>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}
<style>
    {%- if section.settings.style == '2' -%}
    #shopify-section-{{ section.id }} .post-prw-info-wrap {
        position: relative;
        z-index: 1;
        background-color: {{ section.settings.bg_color_item }};
        color: {{ section.settings.color_item }};
        margin: -55px 32px 0;
        padding: 40px 25px;
    }
    @media (max-width: 991px) {
        #shopify-section-{{ section.id }} .post-prw-info-wrap {
            margin: -45px 25px 0;
            padding: 30px 25px;
        }
    }
    #shopify-section-{{ section.id }} .post-prw-title {
        font-size: 21px;
        font-weight: 700;
    }
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-teaser {
        font-size: 16px;
        line-height: 24px;
    }
    {%- endif -%}
    {%- unless section.settings.color_item == '' or section.settings.color_item contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .post-prw-info-wrap,
    #shopify-section-{{ section.id }} .post-prw-info-wrap a:not(.btn),
    #shopify-section-{{ section.id }} .post-prw-vert,
    #shopify-section-{{ section.id }} .post-prw-vert a:not(.btn),
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-teaser {
        color: {{ section.settings.color_item }};
    }
    {%- endunless -%}
    {%- unless section.settings.color_item_title == '' or section.settings.color_item_title contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-title,
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-title a,
    #shopify-section-{{ section.id }} .post-prw-vert .h2-style,
    #shopify-section-{{ section.id }} .post-prw-vert .h2-style a {
        color: {{ section.settings.color_item_title }};
    }
    {%- endunless -%}
    {%- unless section.settings.color_item_light == '' or section.settings.color_item_light contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-links,
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-links a {
        color: {{ section.settings.color_item_light }};
    }
    {%- endunless -%}

    {%- if section.settings.style == '3' -%}
    #shopify-section-{{ section.id }} .post-prw-vert:nth-child(even) {
        display: flex !important;
    }
    #shopify-section-{{ section.id }} .post-prw-vert:nth-child(odd) .post-prw-img {
        margin-bottom: 30px;
    }
    #shopify-section-{{ section.id }} .post-prw-vert:nth-child(even) .post-prw-img {
        order: 10;
        width: 100%;
        margin-top: 40px;
    }
    #shopify-section-{{ section.id }} .post-prw-vert:nth-child(even) {
        padding-top: 30px;
    }
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-teaser {
        margin-top: 0;
        font-size: 16px;
        line-height: 24px;
    }
    {%- endif -%}
    {%- if section.settings.typography_yes -%}
    #shopify-section-{{ section.id }} .post-prw-vert,
    #shopify-section-{{ section.id }} .post-prw-vert a:not(.post-prw-comments):not(.post-prw-author),
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-teaser {
        font-size: {{ section.settings.subtitle_size }}px;
        line-height: {{ section.settings.subtitle_lineheight }}em;
        font-weight: {{ section.settings.subtitle_weight }};
    }
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-title,
    #shopify-section-{{ section.id }} .post-prw-vert .post-prw-title a:not(.post-prw-comments):not(.post-prw-author) {
        font-size: {{ section.settings.title_item_size }}px;
        line-height: {{ section.settings.title_lineheight }}em;
        font-weight: {{ section.settings.title_item_weight }};
    }
    {%- endif -%}
</style>
{% schema %}
{
"name": "Blog Post Carousel",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
    {
    "type": "checkbox",
    "id": "enable_bg",
    "label": "Add background",
    "default": false
    },
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
    {
    "type":"color",
    "id":"bg_color",
    "label":"Section Background Color",
    "default":"#f8f8f8"
    },
{
"type": "select",
"id": "style",
"label": "Design Style",
"options": [
{ "value": "1", "label": "Style 1" },
{ "value": "2", "label": "Style 2" },
{ "value": "3", "label": "Style 3" }
],
"default": "1"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"From Blog"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" }
]
},
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading",
    "default": "Sub Heading"
    },
    {
    "type": "text",
    "id": "bgtitle",
    "label": "Background Heading"
    },
{
"type": "header",
"content": "Blog Posts per row"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "3",
"options": [
{ "value": "4", "label": "4" },
{ "value": "3", "label": "3" },
{ "value": "2", "label": "2" }
]
},
{
"type": "select",
"id": "per_row_tablet",
"label": "Tablet:",
"default": "2",
"options": [
{ "value": "4", "label": "4" },
{ "value": "3", "label": "3" },
{ "value": "2", "label": "2" }
]
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "1",
"options": [
{ "value": "2", "label": "2" },
{ "value": "1", "label": "1" }
]
},
{
"type": "blog",
"id": "blog",
"label": "Blog category"
},
{
"type": "range",
"id": "blog_limit",
"label": "Limit posts",
"min": 3,
"max": 12,
"step": 1,
"default": 3
},
{
"type": "checkbox",
"id": "meta_under",
"label": "Place meta links under Title",
"default": false
},
{
"type":"checkbox",
"id":"blog_show_date",
"label":"Show date",
"default":true
},
{
"type":"checkbox",
"id":"blog_show_author",
"label":"Show author",
"default":false
},
{
"type":"checkbox",
"id":"blog_show_comments",
"label":"Show comments",
"default":false
},
{
"type":"checkbox",
"id":"blog_show_teaser",
"label":"Show teasers",
"default":true
},
{
"type": "range",
"id": "teaser",
"min": 20,
"max": 500,
"step": 10,
"label": "Truncate teaser after",
"default": 150,
"info": "letters"
},
{
"type": "checkbox",
"id": "button_yes",
"label": "Show 'Read More' button",
"default": false
},
{
"type": "text",
"id": "button_txt",
"label": "Button text",
"default": "Read More"
},
{
"type": "select",
"id": "button_size",
"label": "Button Size",
"options": [
{
"value": "btn",
"label": "Normal"
},
{
"value": "btn--lg",
"label": "Medium"
},
{
"value": "btn--xl",
"label": "Large"
},
{
"value": "btn--xxl",
"label": "Extra Large"
}
],
"default": "btn"
},
{
"type":"header",
"content":"Typography"
},
{
"type": "select",
"id": "text_alignment_item",
"label": "Text Alignment",
"default": "center align-items-center",
"options": [
{ "value": "left align-items-start", "label": "Left" },
{ "value": "center align-items-center", "label": "Center" },
{ "value": "right align-items-end", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "typography_yes",
"label": "Use Custom Typography",
"default": false
},
{
"type":"range",
"id":"title_item_size",
"min":14,
"max":60,
"step":1,
"label":"Item Caption Title Font Size",
"unit":"px",
"default": 18
},
{
"type":"range",
"id":"title_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Item Caption Title Line Height",
"unit":"em",
"default":1.5
},
{
"type":"select",
"id": "title_item_weight",
"label": "Item Caption Title Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"700"
},
{
"type":"select",
"id":"title_top",
"label":"Item Caption Title Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-1 mt-md-2"
},
{
"type":"range",
"id":"subtitle_size",
"min":10,
"max":40,
"step":1,
"label":"Item Caption Text Font Size",
"unit":"px",
"default": 13
},
{
"type":"range",
"id":"subtitle_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Item Caption Text Line Height",
"unit":"em",
"default":1.2
},
{
"type":"select",
"id": "subtitle_weight",
"label": "Item Caption Text Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"600"
},
{
"type":"select",
"id":"subtitle_top",
"label":"Teaser Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-0"
},
{
"type":"select",
"id":"meta_top",
"label":"Meta Links Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-0 mt-md-1","label":"Small"},
{"value":"mt-1 mt-md-2","label":"Medium"},
{"value":"mt-15 mt-md-3","label":"Large"},
{"value":"mt-2 mt-md-4","label":"Extra Large"}
],
"default":"mt-0"
},
{
"type":"header",
"content":"Preview Image Proportion"
},
{
"type": "checkbox",
"id": "proportion_yes",
"label": "Use Custom Image Proportion",
"default": false
},
{
"type":"range",
"id":"proportion_w",
"min":100,
"max":1000,
"step":10,
"label":"Preview Image Width",
"unit":"px",
"default": 300
},
{
"type":"range",
"id":"proportion_h",
"min":100,
"max":1000,
"step":10,
"label":"Preview Image Height",
"unit":"px",
"default": 300
},
{
"type":"header",
"content":"Colors"
},
{
"type":"color",
"id":"color_item_title",
"label":"Item Caption Title Color",
"default":"#000000"
},
{
"type":"color",
"id":"color_item",
"label":"Item Caption Text Color",
"default":"#fafafa"
},
{
"type":"color",
"id":"color_item_light",
"label":"Item Caption Meta Color",
"default":"#a5a6ac"
},
{
"type":"color",
"id":"bg_color_item",
"label":"Item Caption Background Color",
"default":"#fafafa",
"info": "* only for Style 2"
}
],
"presets": [
{
"name": "Blog Post Carousel",
"category": "Blog"
}
]
}
{% endschema %}