{%- assign product = all_products[section.settings.featured_product] -%}
{% assign on_sale = false %}
{%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
    {%- assign on_sale = true -%}
{%- endif -%}
{%- if product.price_varies -%}
    {%- capture price -%}{{ product.price_min | money }}{%- endcapture -%}
{%- else -%}
    {%- capture price -%}{{ product.selected_or_first_available_variant.price | money }}{%- endcapture -%}
{%- endif -%}
 {%- if section.settings.image -%}
     {% assign width = section.settings.image.width %}
     {% assign height = section.settings.image.height %}
 {%- else -%}
     {% assign width = 1920 %}
     {% assign height = 800 %}
 {%- endif -%}
 {%- if section.settings.image_mobile -%}
     {% assign width_m = section.settings.image_mobile.width %}
     {% assign height_m = section.settings.image_mobile.height %}
 {%- else -%}
     {% assign width_m = 750 %}
     {% assign height_m = 740 %}
 {%- endif -%}
<div class="holder {{ section.settings.outer_margin }} fullwidth full-nopad">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-{{ section.id }}" data-start-width='{{ width }}' data-start-height='{{ height }}' data-start-mwidth='{{ width_m }}' data-start-mheight='{{ height_m }}'>
                <div class="bnslider-slide bnslider-slide-product-style3" style="background: {{ section.settings.image_bg }}">
                    {% if section.settings.image_mobile %}
                      <div class="bnslider-image-mobile" style="background-image: url('{{ section.settings.image_mobile | img_url: 'master' }}')"></div>
                    {% endif %}
                    {%- if section.settings.image -%}
                        <div class="bnslider-image lazyload fade-up-fast" {% if section.settings.image != blank %}data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto"{% endif %}></div>
                    {% else %}
                        <div class="bnslider-image-placeholder bnslider-image" style="background: {{ section.settings.image_bg }}">
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% endif %}
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle {% if section.settings.reversed %}txt-right{% else %}txt-left{% endif %}">
                            <div class="bnslider-text-content-flex container text-center">
                                <div class="bnslider-vert w-s-50 w-ms-70">
                                    {%- if section.settings.title_yes -%}
                                      <div class="bnslider-text bnslider-product-name {% if section.settings.title_font %}heading-font{% endif %}" {% unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title_color }}"{% endunless %}>
                                        <a href="{{ product.url }}" title="{{ section.settings.title }}">
                                            {{ section.settings.title }}
                                        </a>
                                      </div>
                                    {%- endif -%}
                                    <div class="bnslider-text bnslider-text--price">
                                        {%- if section.settings.info_yes -%}
                                          <div class="bnslider-text bnslider-text--price-text {% if section.settings.caption_2_font %}heading-font{% endif %}" {% unless section.settings.info_color == '' or section.settings.info_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.info_color }}"{% endunless %}>
                                              {{ section.settings.caption_2 }}
                                          </div>
                                        {%- endif -%}
                                        {%- if section.settings.price_yes -%}
                                          <div class="bnslider-text bnslider-text--price-new {% if section.settings.price_font %}heading-font{% endif %}" {% unless section.settings.price_color == '' or section.settings.price_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.price_color }}"{% endunless %}>
                                              {{ price }}
                                          </div>
                                        {%- endif -%}
                                    </div>
                                    {%- if section.settings.button_yes -%}
                                    <div class="btn-wrap mt-lg">
                                        {%- if section.settings.featured_product != blank -%}
                                            {% capture btn_style %}
                                              data-color="{{ section.settings.button_color }}" data-bgcolor="{{ section.settings.button_bg }}" data-hover-color="{{ section.settings.button_hover_color }}" data-hover-bgcolor="{{ section.settings.button_hover_bg }}" style="color:{{ section.settings.button_color }};background-color: {{ section.settings.button_bg }}"
                                            {% endcapture %}
                                          <form method="post" action="{{ routes.cart_add_url }}">
                                              {% render 'product-add-to-cart' with product as product, class: section.settings.button_size, style: btn_style %}
                                          </form>
                                        {%- endif -%}
                                    </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- if section.settings.block_yes -%}
<div class="holder show-above-slider mt-0 lazyload fade-up-fast" {% if section.settings.block_bg != blank %}style="background-color: {{ section.settings.block_bg | color_modify: 'alpha', 0.75 }}"{% endif %}>
    <div class="container">
        <div class="text-icn-blocks-bg-row justify-content-{{ section.settings.block_alignment }}">
        {%- for block in section.blocks -%}
        {%- if block.settings.enable -%}
            <div class="text-icn-block-bg-white">
                <div class="icn" {% unless section.settings.icons_color == '' or section.settings.icons_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.icons_color }}"{% endunless %}>
                    {%- if block.settings.icon_type == 'svg' -%}
                        {{ block.settings.svg }}
                    {%- else -%}
                        <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                    {%- endif -%}
                </div>
                <div class="text" {% unless section.settings.block_color == '' or section.settings.block_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.block_color }}"{% endunless %}>
                    <h4  {% unless section.settings.block_color == '' or section.settings.block_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.block_color }}"{% endunless %}>{{ block.settings.text1 }}</h4>
                    {{ block.settings.text2 }}
                </div>
            </div>
        {%- endif -%}
        {%- endfor -%}
        </div>
    </div>
</div>
{%- endif -%}
{% schema %}
{
  "name": "Featured Product 2",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "outer_margin",
      "label": "Outer top margin",
      "options": [
        {
          "value": "mt-0",
          "label": "None"
        },
        {
          "value": "holder-mt-xsmall",
          "label": "XSmall"
        },
        {
          "value": "holder-mt-small",
          "label": "Small"
        },
        {
          "value": "holder-mt-medium",
          "label": "Medium (default)"
        },
        {
          "value": "holder-mt-large",
          "label": "Large"
        }
      ],
      "default": "holder-mt-medium"
    },
    {
      "type": "checkbox",
      "id": "reversed",
      "label": "Reversed",
      "default": false
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product image",
      "info": "Recommended size is 1920x856px"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Product image (mobile)",
      "info": "Recommended size is 750x740px"
    },
    {
      "type": "color",
      "id": "image_bg",
      "label": "Image Background",
      "default": "#000000"
    },
    {
    "type": "header",
    "content": "Title"
    },
    {
    "type": "checkbox",
    "id": "title_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "SPORT ROMPER"
    },
{
"type": "checkbox",
"id": "title_font",
"label": "Use Headings Font",
"default": false
},
    {
    "type": "color",
    "id": "title_color",
    "label": "Title Color"
    },
    {
    "type": "header",
    "content": "Info"
    },
    {
    "type": "checkbox",
    "id": "info_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "text",
    "id": "caption_2",
    "label": "Product info",
    "default": "BEST PRICE"
    },
{
"type": "checkbox",
"id": "caption_2_font",
"label": "Use Headings Font",
"default": false
},
    {
    "type": "color",
    "id": "info_color",
    "label": "Info Color"
    },
    {
    "type": "header",
    "content": "Price"
    },
    {
    "type": "checkbox",
    "id": "price_yes",
    "label": "Enabled",
    "default": true
    },
{
"type": "checkbox",
"id": "price_font",
"label": "Use Headings Font",
"default": false
},
    {
    "type": "color",
    "id": "price_color",
    "label": "Price Color"
    },
    {
    "type": "header",
    "content": "Button"
    },
    {
    "type": "checkbox",
    "id": "button_yes",
    "label": "Enabled",
    "default": true
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        {
          "value": "btn",
          "label": "Normal"
        },
        {
          "value": "btn--lg",
          "label": "Medium"
        },
        {
          "value": "btn--xl",
          "label": "Large"
        },
        {
          "value": "btn--xxl",
          "label": "Extra Large"
        }
      ],
      "default": "btn--lg"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background",
      "default": "#fb317d"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color",
      "default": "#fb317d"
    },
    {
      "type": "color",
      "id": "button_hover_bg",
      "label": "Button Hover Background",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Bottom Blocks Settings"
    },
    {
    "type": "checkbox",
    "id": "block_yes",
    "label": "Enabled",
    "default": true
    },
    {
      "type": "color",
      "id": "block_bg",
      "label": "Blocks Background"
    },
    {
      "type": "select",
      "id": "block_alignment",
      "label": "Blocks Alignment",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "block_color",
      "label": "Blocks Text Color"
    },
    {
      "type": "color",
      "id": "icons_color",
      "label": "Icons Color"
    }
    ],
  "blocks": [
    {
      "type": "text",
      "name": "Icon + Text",
      "limit": 4,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable",
          "default": true
        },
        {
          "type": "textarea",
          "id": "text1",
          "label": "Heading",
          "default": "Fast Shipping"
        },
        {
          "type": "textarea",
          "id": "text2",
          "label": "Text",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "radio",
          "id": "icon_type",
          "label": "Icon Source",
          "options": [
            {
              "value": "theme",
              "label": "Section Icons Set (recommended)"
            },
            {
              "value": "name",
              "label": "Custom Icon Name (Theme Icons Library)"
            },
            {
              "value": "svg",
              "label": "Custom SVG code"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Section Icons Set",
          "default": "icon-box-1",
          "options": [
            {
              "value": "icon-box-1",
              "label": "Box"
            },
            {
              "value": "icon-call-center",
              "label": "Call Center"
            },
            {
              "value": "icon-speech-bubble",
              "label": "Chat"
            },
            {
              "value": "icon-watch",
              "label": "Clock"
            },
            {
              "value": "icon-credit-card-1",
              "label": "Credit Card"
            },
            {
              "value": "icon-delivery-truck",
              "label": "Delivery Truck"
            },
            {
              "value": "icon-shopping-1",
              "label": "Hand"
            },
            {
              "value": "icon-gift",
              "label": "Gift"
            },
            {
              "value": "icon-gift-card",
              "label": "Gift Card"
            },
            {
              "value": "icon-guarantee",
              "label": "Guarantee"
            },
            {
              "value": "icon-location",
              "label": "Location"
            },
            {
              "value": "icon-return",
              "label": "Return"
            },
            {
              "value": "icon-ribbon",
              "label": "Ribbon"
            },
            {
              "value": "icon-tag",
              "label": "Tag"
            },
            {
              "value": "icon-wallet",
              "label": "Wallet"
            }
          ]
        },
        {
          "type": "text",
          "id": "icon_name",
          "label": "Custom Icon Name",
          "default": "icon-gift",
          "info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
        },
        {
          "type": "textarea",
          "id": "svg",
          "label": "Custom SVG code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Product 2",
      "category": "Products",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}