{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {{ section.settings.block_width }} {% if section.settings.block_width == 'fullwidth' %}full-nopad{% endif %}  {%- if section.settings.enable_bg -%}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }}  bg-cover lazyload"
        {% if section.settings.bg_image != blank %}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{% endif %}
        {% if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' %}style="background-color: {{ section.settings.bg_color }}"{% endif %}
        {%- else -%}"{%- endif -%}>
    {%- assign outside = false -%}
    {%- assign icons = false -%}
    {%- assign numbers = false -%}
    {%- assign numbers2 = false -%}
    {%- assign headings = true -%}
    {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'image' -%}
        {%- if block.settings.image_outside and block.settings.enable -%}{%- assign outside = true -%}{%- endif -%}
        {%- when 'numbers2' -%}
        {%- if block.settings.enable -%}{%- assign numbers2 = true -%}{%- endif -%}
        {%- endcase -%}
    {%- endfor -%}
    <div class="{% if outside %}container-fluid px-0{% else %}container{% endif %}" {% if section.settings.block_width == 'boxed' and  section.settings.maxwidth_yes %}style="max-width:{{ section.settings.maxwidth }}px"{% endif %}>
        {%- unless section.settings.title_inside -%}
        {% include 'section-headings' %}
        {%- endunless -%}
        <div class="row justify-content-md-{{ section.settings.alignment }}">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    {%- case block.type -%}
                    {%- when 'image' -%}
                    <div {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}" class="d-flex align-items-center {% if outside %}{% if forloop.index == 1 %}justify-content-start{% else %}justify-content-end{% endif %}{% else %}justify-content-center{% endif %} {% if block.settings.image_parallax %}overflow-hidden{% endif %} col-{{ block.settings.col }} col-md-{{ block.settings.col_md }} {% if forloop.index != 1 %}mt-3 mt-md-0{% endif %} text-center bg-center-all lazyload"
                            {% if block.settings.bg_image != blank %}data-bgset="{% include 'bgset', image: block.settings.bg_image %}" data-sizes="auto"{% endif %}>
                        {%- if block.settings.image -%}
                            <img class="{% if block.settings.image_parallax %}parallaxed{% endif %} lazyload fade-up"
                                 src="{{ block.settings.image | img_url: '100x' }}"
                                 data-src="{{ block.settings.image | img_url: '1200x' }}"
                                 alt="{{ block.settings.image.alt }}"/>
                        {%- else -%}
                            {%- render 'image-placeholder-aspect-ratio', width: 100, height: 50, text: 'image' -%}
                        {%- endif -%}
                    </div>
                    {%- when 'numbers2' -%}
                    <div {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}" class="col-{{ block.settings.col }} col-md-{{ block.settings.col_md }} {% if forloop.index != 1 %}mt-3 mt-md-0{% endif %} text-{{ block.settings.text_alignment }} {{ block.settings.text_alignment_v }} py-3">
                        {%- if outside -%}
                        <div class="d-flex {% if forloop.index == 1 %}justify-content-end{% endif %}">
                            <div class="outside-text">
                                {%- endif -%}
                                {%- if section.settings.title_inside and headings -%}
                                    {% include 'section-headings' %}
                                    {%- assign headings = false -%}
                                {%- endif -%}
                                {%- if block.settings.text != blank -%}
                                    {{ block.settings.text }}
                                {%- endif -%}
                                <div class="row vert-margin-small custom-text-number2-row {% if block.settings.text != blank %}pt-2{% endif %}">
                                    {%- for i in (1..4) -%}
                                        {% capture enable %}enable_{{ i }}{% endcapture %}
                                        {% capture text1 %}text1_{{ i }}{% endcapture %}
                                        {% capture text2 %}text2_{{ i }}{% endcapture %}
                                        {% capture text3 %}text3_{{ i }}{% endcapture %}
                                        {% if block.settings[enable] %}
                                            <div class="col-18 col-sm-auto">
                                                <div class="custom-text-number2">
                                                    <div class="custom-text-number2-num custom-color">{{ block.settings[text1] }}</div>
                                                    <div class="custom-text-number2-text">
                                                        <div class="custom-text-number2-text1 custom-color">{{ block.settings[text2] }}</div>
                                                        <div class="custom-text-number2-text2">{{ block.settings[text3] }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>
                                {%- if outside -%}
                            </div>
                        </div>
                        {%- endif -%}
                    </div>
                    {%- endcase -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    </div>
{%- endif -%}

<style>
    {%- if numbers2 -%}
    .custom-text-number2-row {
        justify-content: center;
        margin-left: -30px;
        margin-right: -30px;
    }
    .custom-text-number2-row > * {
        padding-left: 30px;
        padding-right: 30px;
    }
    .custom-text-number2 {
        display: inline-flex;
    }

    .custom-text-number2-num {
        font-size: 84px;
        line-height: 1em;
    }
    .custom-text-number2-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 5px;
    }
    .custom-text-number2-text1 {
        font-size: 18px;
        line-height: 22px;
    }
   .custom-text-number2-text2 {
        font-size: 18px;
        line-height: 36px;
    }
    @media (max-width: 575px) {
        .custom-text-number2-row > * {
            display: flex;
            justify-content: center;
        }
    }
    @media (max-width: 767px) {
        .custom-text-number2-num {
            font-size: 60px;
        }
        .custom-text-number2-text1 {
            font-size: 14px;
            line-height: 18px;
        }
        .custom-text-number2-text2 {
            font-size: 14px;
            line-height: 28px;
        }
    }
    {%- endif -%}

    {%- for block in section.blocks -%}
    {%- unless block.settings.color == '' or block.settings.color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }}, #shopify-block-{{ block.id }} h2, #shopify-block-{{ block.id }} h3, #shopify-block-{{ block.id }} p, #shopify-block-{{ block.id }} a, #shopify-block-{{ block.id }} a:hover {
        color: {{ block.settings.color }};
    }
    {%- endunless -%}
    {%- unless block.settings.title_color == '' or block.settings.title_color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }} h2, #shopify-block-{{ block.id }} h3 {
        color: {{ block.settings.title_color }};
    }
    {%- endunless -%}
    {%- case block.type -%}
    {%- when 'numbers2' -%}
    {%- unless block.settings.num_color == '' or block.settings.num_color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }} .custom-text-number2-num {
        color: {{ block.settings.num_color }};
    }
    {%- endunless -%}
    {%- unless block.settings.text1_color == '' or block.settings.text1_color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }} .custom-text-number2-text1 {
        color: {{ block.settings.text1_color }};
    }
    {%- endunless -%}
    {%- unless block.settings.text2_color == '' or block.settings.text2_color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }} .custom-text-number2-text2 {
        color: {{ block.settings.text2_color }};
    }
    {%- endunless -%}
    {%- endcase -%}
    {%- endfor -%}

    @media (min-width: 768px) {
    {%- if outside -%}
    {%- for block in section.blocks -%}
        #shopify-block-{{ block.id }} .outside-text {
            max-width: {{ settings.maxwidth | divided_by: 18 | times: block.settings.col_md | minus: 26 }}px;
        }

    {%- endfor -%}
    {%- endif -%}
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'image' -%}
    {%- if block.settings.margin_top != 0 or block.settings.margin_bottom != 0 -%}
        #shopify-block-{{ block.id }} img {
            margin-top: -{{ block.settings.margin_top }}%;
            margin-bottom: -{{ block.settings.margin_bottom }}%;
            z-index: 1;
        }

    {%- endif -%}
    {%- endcase -%}
    {%- endfor -%}
    }
</style>
{% schema %}
{
"name": "Text + Numbers + Image 2",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type": "checkbox",
"id": "maxwidth_yes",
"label": "Enable Max Width",
"default": false,
"info": "* only for boxed"
},
{
"type": "range",
"id": "maxwidth",
"label": "Max Width",
"min": 800,
"max": 2400,
"step": 20,
"unit": "px",
"default": 1600
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Section Background Image",
"info":"(Recommended size 1920x700 px)"
},
{
"type": "select",
"id": "alignment",
"label": "Columns Horizontal Alignment",
"default": "center",
"options": [
{ "value": "start", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "end", "label": "Right" }
]
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "checkbox",
"id": "title_inside",
"label": "Place Title in the Text block",
"default": false
}
],
"blocks":[
{
"type":"image",
"name":"Image",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"image_picker",
"id":"image",
"label":"Image"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Image Background"
},
{
"type":"checkbox",
"id":"image_parallax",
"label":"Enable mouseover effect",
"default":false
},
{
"type":"checkbox",
"id":"image_outside",
"label":"Outside Shift",
"default":false
},
{
"type":"range",
"id":"margin_top",
"min":0,
"max":100,
"step":1,
"label":"Negative Margin Top",
"unit":"%",
"default": 0
},
{
"type":"range",
"id":"margin_bottom",
"min":0,
"max":100,
"step":1,
"label":"Negative Margin Bottom",
"unit":"%",
"default": 0
}
]
},
{
"type":"numbers2",
"name":"Text + Numbers",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"textarea",
"id":"text",
"label":"Text"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "left",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "select",
"id": "text_alignment_v",
"label": "Text Vertical Alignment",
"options":[
{"value":"align-self-start","label":"Top"},
{"value":"align-self-center","label":"Center"},
{"value":"align-self-end","label":"Bottom"}
],
"default": "align-self-center"
},
{
"type": "color",
"id": "color",
"label": "Text Color"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color"
},
{
"type": "header",
"content": "Number Colors"
},
{
"type":"color",
"id":"num_color",
"label":"Number Color"
},
{
"type":"color",
"id":"text1_color",
"label":"Text 1 Color"
},
{
"type":"color",
"id":"text2_color",
"label":"Text 2 Color"
},
{
"type": "header",
"content": "Number Block 1"
},
{
"type":"checkbox",
"id":"enable_1",
"label":"Enable",
"default":true
},
{
"type":"text",
"id":"text1_1",
"label":"Number",
"default": "3100"
},
{
"type":"text",
"id":"text2_1",
"label":"Text 1",
"default": "Text here"
},
{
"type":"text",
"id":"text3_1",
"label":"Text 2",
"default": "Text here"
},
{
"type": "header",
"content": "Number Block 2"
},
{
"type":"checkbox",
"id":"enable_2",
"label":"Enable",
"default":true
},
{
"type":"text",
"id":"text1_2",
"label":"Number",
"default": "3100"
},
{
"type":"text",
"id":"text2_2",
"label":"Text 1",
"default": "Text here"
},
{
"type":"text",
"id":"text3_2",
"label":"Text 2",
"default": "Text here"
},
{
"type": "header",
"content": "Number Block 3"
},
{
"type":"checkbox",
"id":"enable_3",
"label":"Enable",
"default":false
},
{
"type":"text",
"id":"text1_3",
"label":"Number",
"default": "3100"
},
{
"type":"text",
"id":"text2_3",
"label":"Text 1",
"default": "Text here"
},
{
"type":"text",
"id":"text3_3",
"label":"Text 2",
"default": "Text here"
},
{
"type": "header",
"content": "Number Block 4"
},
{
"type":"checkbox",
"id":"enable_4",
"label":"Enable",
"default":false
},
{
"type":"text",
"id":"text1_4",
"label":"Number",
"default": "3100"
},
{
"type":"text",
"id":"text2_4",
"label":"Text 1",
"default": "Text here"
},
{
"type":"text",
"id":"text3_4",
"label":"Text 2",
"default": "Text here"
}
]
}
],
"presets": [
{
"name": "Text + Numbers + Image 2",
"category": "Text",
"blocks":[
{
"type":"numbers2"
},
{
"type":"image"
}
]
}
]
}
{% endschema %}
