{%- if section.settings.enable -%}
<div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
    <div class="container">
         {% include 'section-headings' %}
         <div class="shop-info-compact-row row vert-margin-small">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    <div class="shop-info-compact col">
                        <div class="shop-info-compact-icon" {% unless section.settings.icons_color == '' or section.settings.icons_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.icons_color }}"{% endunless %}>
                            {%- if block.settings.icon_type == 'svg' -%}
                                {{ block.settings.svg }}
                            {%- else -%}
                                <i class="{% if block.settings.icon_type == 'theme' %}{{ block.settings.icon }}{% else %}{{ block.settings.icon_name }}{% endif %}"></i>
                            {%- endif -%}
                        </div>
                        <div class="shop-info-compact-text">
                            {{ block.settings.text }}
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </div>
        {%- assign _img = section.settings.image -%}
        {%- if _img -%}
        <div class="mt-3 text-center">
            <img class="lazyload fade-up"
                 src="{{ _img | img_url: '100x' }}"
                 data-src="{{ _img | img_url: '1800x' }}"
                 alt="#"/>
        </div>
        {%- endif -%}
    </div>
</div>
<style>
    #shopify-section-{{ section.id }} .shop-info-compact-icon {
        {%- unless section.settings.icons_bg1 == '' or section.settings.icons_bg1 contains 'rgba(0,0,0,0)' -%}
            {%- if section.settings.icons_bg2 == '' or section.settings.icons_bg2 contains 'rgba(0,0,0,0)' -%}
                background: {{ section.settings.icons_bg1 }};
            {%- else -%}
                background: linear-gradient(0deg, {{ section.settings.icons_bg1 }} 0%, {{ section.settings.icons_bg2 }} 100%);
            {%- endif -%}
        {%- endunless -%}
    }
</style>
{%- endif -%}

{% schema %}
    {
    "name": "Shop Info Compact BG",
    "settings": [
    {
    "type": "checkbox",
    "id": "enable",
    "label": "Enable",
    "default": true
    },
    {
    "type": "header",
    "content": "Layout"
    },
    {
    "type": "select",
    "id": "outer_margin",
    "label": "Outer top margin",
    "options":[
    {"value":"mt-0","label":"None"},
    {"value":"holder-mt-xsmall","label":"XSmall"},
    {"value":"holder-mt-small","label":"Small"},
    {"value":"holder-mt-medium","label":"Medium (default)"},
    {"value":"holder-mt-large","label":"Large"}
    ],
    "default": "holder-mt-medium"
    },
    {
    "type": "header",
    "content": "Heading"
    },
    {
    "type": "checkbox",
    "id": "enable_text",
    "label": "Enable",
    "default": false
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default":"Heading"
    },
    {
    "type": "select",
    "id": "title_size",
    "label": "Title Font Size",
    "default": "h2-style",
    "options": [
    { "value": "h-lg-style", "label": "Large" },
    { "value": "h1-style", "label": "Normal" },
    { "value": "h2-style", "label": "Small" }
    ]
    },
    {
    "type": "select",
    "id": "text_alignment",
    "label": "Text Alignment",
    "default": "center",
    "options": [
    { "value": "left", "label": "Left" },
    { "value": "center", "label": "Center" },
    { "value": "right", "label": "Right" }
    ]
    },
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading",
    "default": "Sub Heading"
    },
    {
    "type": "text",
    "id": "bgtitle",
    "label": "Background Heading"
    },
    {
    "type": "header",
    "content": "Image"
    },
    {
    "type":"image_picker",
    "id":"image",
    "label":"Image"
    },
    {
    "type": "header",
    "content": "Blocks Settings"
    },
    {
    "type":"color",
    "id":"icons_bg1",
    "label":"Icons Background"
    },
    {
    "type":"color",
    "id":"icons_bg2",
    "label":"Icons Second Background (for gradient)"
    },
    {
    "type":"color",
    "id":"icons_color",
    "label":"Icons Color"
    }
    ],
    "blocks":[
    {
    "type":"text",
    "name":"Icon + Text",
    "limit": 5,
    "settings":[
    {
    "type":"checkbox",
    "id":"enable",
    "label":"Enable",
    "default":true
    },
    {
    "type":"textarea",
    "id":"text",
    "label":"Text",
    "default": "Add your text here"
    },
    {
    "type": "radio",
    "id": "icon_type",
    "label": "Icon Source",
    "options":[
    {"value":"theme","label":"Section Icons Set (recommended)"},
    {"value":"name","label":"Custom Icon Name (Theme Icons Library)"},
    {"value":"svg","label":"Custom SVG code"}
    ]
    },
    {
    "type": "select",
    "id": "icon",
    "label": "Section Icons Set",
    "default": "icon-box-1",
    "options":[
    {"value":"icon-box-1","label":"Box"},
    {"value":"icon-call-center","label":"Call Center"},
    {"value":"icon-speech-bubble","label":"Chat"},
    {"value":"icon-watch","label":"Clock"},
    {"value":"icon-credit-card-1","label":"Credit Card"},
    {"value":"icon-delivery-truck","label":"Delivery Truck"},
    {"value":"icon-shopping-1","label":"Hand"},
    {"value":"icon-gift","label":"Gift"},
    {"value":"icon-gift-card","label":"Gift Card"},
    {"value":"icon-guarantee","label":"Guarantee"},
    {"value":"icon-location","label":"Location"},
    {"value":"icon-return","label":"Return"},
    {"value":"icon-ribbon","label":"Ribbon"},
    {"value":"icon-tag","label":"Tag"},
    {"value":"icon-wallet","label":"Wallet"},
    {"value":"icon-award","label":"Award"},
    {"value":"icon-diplom","label":"Document"}
    ]
    },
    {
    "type":"text",
    "id":"icon_name",
    "label":"Custom Icon Name",
    "default": "icon-gift",
    "info": "Select icon name here [Theme Icons Library](http://big-skins.com/frontend/foxic-html-demo/icon-foxic/demo.html)"
    },
    {
    "type":"textarea",
    "id":"svg",
    "label":"Custom SVG code"
    }
    ]
    }],
    "presets": [{
    "name": "Shop Info Compact BG",
    "category": "Info Blocks",
    "blocks": [
    {
    "type": "text"
    },
    {
    "type": "text"
    },
    {
    "type": "text"
    },
    {
    "type": "text"
    },
    {
    "type": "text"
    }
    ]
    }]
    }
{% endschema %}