{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
        <div class="container">
            <div class="row vert-margin-small {% if section.settings.reversed %}flex-row-reverse{% endif %}">
                <div class="col-md">
                    <div class="lookbook-bnr">
                        {%- if section.settings.lookbook_image == blank -%}
                            {% include 'image-placeholder-aspect-ratio' width: '600' height: '600' %}
                        {%- else -%}
                            {%- assign aspect_ratio = 1 | divided_by: section.settings.lookbook_image.aspect_ratio -%}
                            <div class="lookbook-bnr-image image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="fade-up lazyload w-100" data-src="{{ section.settings.lookbook_image | img_url: 'master' }}" alt="">
                            </div>
                        {%- endif -%}
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                <div class="lookbook-bnr-point js-lookbook-bnr-point" data-product="{{ block.id }}" style="left: {{ block.settings.x_pos }}%; top: {{ block.settings.y_pos }}%;">
                                    <span class="lookbook-popup-btn {% if forloop.first %}active{% endif %}"><i class="icon-close"></i></span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    {% for block in section.blocks %}
                        {% if block.settings.enable %}
                             <div class="lookbook-product prd-grid data-to-show-1 js-lookbook-product {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">
                                    {%- assign product = all_products[block.settings.product] -%}
                                    {% include 'product-card' %}
                             </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
<style>
    .lookbook-product {
        transition: opacity .2s ease;
    }
    @media (min-width: 768px){
        .lookbook-product {
            width: 100%;
        }
    }
    .lookbook-product:not(.active) {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;
    }
    .lookbook-product.active {
        position: relative;
        opacity: 1;
    }
    .lookbook-product .prd-img-area {
        max-width: {{ section.settings.maxwidth }}px;
        margin: auto;
    }
    .lookbook-popup-btn {
        font-size: 18px;
        width: 30px;
        height: 30px;
        box-shadow: none;
        {%- unless section.settings.p_color == '' or section.settings.p_color contains 'rgba(0,0,0,0)' -%}
            color: {{ section.settings.p_color }};
        {%- endunless -%}
        {%- unless section.settings.p_bg == '' or section.settings.p_bg contains 'rgba(0,0,0,0)' -%}
            background: {{ section.settings.p_bg }};
        {%- endunless -%}
    }
    .lookbook-popup-btn.active:after {
        content: '';
        position: absolute;
        left: -12px;
        right: -12px;
        width: calc(100% + 24px);
        height: calc(100% + 24px);
        border-radius: 50%;
        border: 2px solid {{ section.settings.p_bg | default: '#ffffff' }};
        animation: pulse-animation 1s infinite;
    }
    .lookbook-popup-btn:hover, .lookbook-popup-btn.active {
        box-shadow: none;
    {%- unless section.settings.p_hover_color == '' or section.settings.p_hover_color contains 'rgba(0,0,0,0)' -%}
        color: {{ section.settings.p_hover_color }};
    {%- endunless -%}
    {%- unless section.settings.p_hover_bg == '' or section.settings.p_hover_bg contains 'rgba(0,0,0,0)' -%}
        background: {{ section.settings.p_hover_bg }};
    {%- endunless -%}
    }
    .lookbook-popup-btn:hover:after {
        border-color: {{ section.settings.p_bg | default: '#ffffff' }};
    }
    @keyframes pulse-animation {
        0% {
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        100% {
            left: -20px;
            right: -20px;
            width: calc(100% + 40px);
            height: calc(100% + 40px);
            opacity: 0;
        }
    }
</style>
<script>
	jQuery(document).ready(function () {
		$('.js-lookbook-bnr-point').on('mouseenter', function (e) {
			var $this = $(this),
				$parent = $this.closest('.holder');
			$parent.find('.js-lookbook-product').removeClass('active');
			$parent.find('.lookbook-popup-btn').removeClass('active');
			$parent.find('[data-id="'+ $this.data('product') +'"]').addClass('active');
			$this.find('.lookbook-popup-btn').addClass('active');
			e.preventDefault();
		});
	})
</script>
{% schema %}
{
"name": "Lookbook + Product Card",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "reversed",
"label": "Reversed",
"default": false
},
{
"type":"image_picker",
"id":"lookbook_image",
"label":"Lookbook Image"
},
{
"type": "range",
"id": "maxwidth",
"label": "Product Image Max Width",
"min": 100,
"max": 800,
"step": 10,
"unit": "px",
"default": 300
},
{
"type": "header",
"content": "Pointer Colors"
},
{
"type":"color",
"id":"p_color",
"label":"Color"
},
{
"type":"color",
"id":"p_bg",
"label":"Background"
},
{
"type":"color",
"id":"p_hover_color",
"label":"Hover Color"
},
{
"type":"color",
"id":"p_hover_bg",
"label":"Hover Background"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type":      "range",
"id":        "x_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer X Position",
"default":   50
},
{
"type":      "range",
"id":        "y_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer Y Position",
"default":   50
}
]
}
],
"presets": [
{
"name": "Lookbook + Product Card",
"category": "Lookbook"
}
]
}
{% endschema %}