{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
        <div class="{% if section.settings.block_width == "boxed" %}container{% else %}container-fluid px-0{% endif %}">
            <div class="d-md-none">{% include 'section-headings' %}</div>
            <div class="row vert-margin {% if section.settings.reversed %}flex-row-reverse{% endif %}">
                <div class="col">
                    <div class="lookbook-bnr d-flex justify-content-center align-items-center">
                        <div class="lookbook-bnr-text d-none d-md-block">
                            {%- if section.settings.enable_text -%}
                                {%- unless section.settings.title == '' and section.settings.subtitle == '' -%}
                                <div class="title-wrap text-{{ section.settings.text_alignment }} {% if bottom >= 0 %}mb-{{ section.settings.heading_bottom | divided_by: 10 }}{% endif %} {% if section.settings.bgtitle != '' %}title-with-behind{% endif %} {{ class }}">
                                    {%- if section.settings.title != '' -%}
                                        <h2 class="{{ section.settings.title_size_desktop }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>
                                    {%- endif -%}
                                    {%- if section.settings.bgtitle != '' -%}
                                        <div class="h-behind">{{ section.settings.bgtitle }}</div>
                                    {%- endif -%}
                                    {% include 'section-headings-line' %}
                                    {%- if section.settings.subtitle != '' -%}
                                        <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
                                    {%- endif -%}
                                </div>
                                {%- endunless -%}
                            {%- endif -%}
                            <div class="text-{{ section.settings.text_alignment }}">
                                {%- if section.settings.text != blank -%}{{ section.settings.text }}{%- endif -%}
                                {%- if section.settings.button_yes -%}
                                    <div class="btn-wrap {% if section.settings.text != blank %}mt-3 mt-lg-4{% endif %}">
                                        <a href="{{ section.settings.button_link | default:'#' }}" target="{{ section.settings.link_target }}" class="btn {{ section.settings.button_size }}">
                                            {{ section.settings.button_txt }}
                                        </a>
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if section.settings.lookbook_image == blank -%}
                            {% include 'image-placeholder' width: '1920' height: '460' %}
                        {%- else -%}
                            {%- assign aspect_ratio = 1 | divided_by: section.settings.lookbook_image.aspect_ratio -%}
                            <div class="lookbook-bnr-image image-container w-100" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                <img class="fade-up lazyload w-100" data-src="{{ section.settings.lookbook_image | img_url: 'master' }}" alt="">
                            </div>
                        {%- endif -%}
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                <div class="lookbook-bnr-point" style="left: {{ block.settings.x_pos }}%; top: {{ block.settings.y_pos }}%;">
                                    <span data-toggle="popover" class="lookbook-popup-btn-lg"><i class="icon-close-bold"></i></span>
                                    <div class="lookbook-popup js-popover-content">
                                        {%- assign product = all_products[block.settings.product] -%}
                                        <div class="prd-lookbook d-flex flex-column">
                                            <a href="{{ product.url | within: collection }}" class="prd-img" title="{{ product.title | strip_html }}">
                                                <img src="{{ product.featured_image.src | img_url: '500x' }}"
                                                     alt="{{ product.featured_image.alt }}">
                                            </a>
                                            <div class="prd-info">
                                                <h2 class="prd-title"><a title="{{ product.title  | strip_html }}" href="{{ product.url | within: collection }}">{{ product.title  | strip_html  | truncate: settings.product_title_truncate }}</a></h2>
                                                <div class="prd-price">
                                                    {% render 'product-price' with product as product %}
                                                </div>
                                                <form method="post" action="{{ routes.cart_add_url }}">
                                                    {% render 'product-add-to-cart' with product as product %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center d-md-none">
                {%- if section.settings.button_yes -%}
                    <div class="btn-wrap mt-3">
                        <a href="{{ section.settings.button_link | default:'#' }}" target="{{ section.settings.link_target }}" class="btn {{ section.settings.button_size }}">
                            {{ section.settings.button_txt }}
                        </a>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
<style>
    .lookbook-bnr-text {
        position: absolute;
        z-index: 1;
    }
    {%- unless section.settings.text_color == '' or section.settings.text_color contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .lookbook-bnr-text {
        color: {{ section.settings.text_color }};
    }
    {%- endunless -%}

    {%- unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .lookbook-bnr-text .title-wrap h2 {
        color: {{ section.settings.title_color }};
    }
    {%- endunless -%}

    {%- unless section.settings.subtitle_color == '' or section.settings.subtitle_color contains 'rgba(0,0,0,0)' -%}
    #shopify-section-{{ section.id }} .lookbook-bnr-text .title-wrap .h-sub {
        color: {{ section.settings.subtitle_color }};
    }
    {%- endunless -%}

    {%- if section.settings.button_yes -%}
    {%- unless section.settings.bnr_button_theme -%}
    #shopify-section-{{ section.id }} .lookbook-bnr-text .btn:not(.hovered):not(:hover) {
    {%- if section.settings.button_bgcolor != blank and section.settings.button_bgcolor != 'rgba(0,0,0,0)' -%} background-color: {{ section.settings.button_bgcolor }};
    {%- endif -%} {%- if section.settings.button_color != blank and section.settings.button_color != 'rgba(0,0,0,0)' -%} color: {{ section.settings.button_color }};
    {%- endif -%}
    }
    #shopify-section-{{ section.id }} .lookbook-bnr-text .btn:hover {
    {%- if section.settings.button_bgcolor_hover != blank and section.settings.button_bgcolor_hover != 'rgba(0,0,0,0)' -%} background-color: {{ section.settings.button_bgcolor_hover }} !important;
    {%- endif -%} {%- if section.settings.button_color_hover != blank and section.settings.button_color_hover != 'rgba(0,0,0,0)' -%} color: {{ section.settings.button_color_hover }} !important;
    {%- endif -%}
    }
    {%- endunless -%}
    {%- endif -%}

</style>
{% schema %}
{
"name": "Lookbook + Inside Text",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type":"image_picker",
"id":"lookbook_image",
"label":"Lookbook Image"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "color",
"id": "title_color",
"label": "Title color"
},
{
"type": "select",
"id": "title_size_desktop",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size (mobile)",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "range",
"id": "heading_bottom",
"min": 0,
"max": 80,
"step": 5,
"unit": "px",
"label": "Space under Title",
"default": 40
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "color",
"id": "subtitle_color",
"label": "Sub Heading color"
},
{
"type": "textarea",
"id": "text",
"label": "Text"
},
{
"type": "color",
"id": "text_color",
"label": "Text color"
},
{
"type": "header",
"content": "Button"
},
{
"type": "checkbox",
"id": "button_yes",
"label": "Enabled",
"default": false
},
{
"type": "text",
"id": "button_txt",
"label": "Button text",
"default": "Read More"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "select",
"id": "button_size",
"label": "Button Size",
"options": [
{
"value": "btn",
"label": "Normal"
},
{
"value": "btn--lg",
"label": "Medium"
},
{
"value": "btn--xl",
"label": "Large"
},
{
"value": "btn--xxl",
"label": "Extra Large"
}
],
"default": "btn--lg"
},
{
"type": "checkbox",
"id": "bnr_button_theme",
"default": true,
"label": "Use Theme Button Color"
},
{
"type": "color",
"id": "button_color",
"label": "Button Color"
},
{
"type": "color",
"id": "button_bg",
"label": "Button Background"
},
{
"type": "color",
"id": "button_hover_color",
"label": "Button Hover Color"
},
{
"type": "color",
"id": "button_hover_bg",
"label": "Button Hover Background"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type":      "range",
"id":        "x_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer X Position",
"default":   50
},
{
"type":      "range",
"id":        "y_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer Y Position",
"default":   50
}
]
}
],
"presets": [
{
"name": "Lookbook + Inside Text",
"category": "Lookbook"
}
]
}
{% endschema %}