{%- assign collection = collections[section.settings.collection] -%}
{% if section.settings.limit != blank %}
    {%- assign product_limit = section.settings.limit -%}
{% endif %}
{%- assign collection = collections[section.settings.collection] -%}
    <div class="holder {{ section.settings.outer_margin }} {%- if section.settings.enable_bg -%}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }} bg-cover lazyload" data-expand="-500"
        {%- if section.settings.bg_image != blank -%}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{%- endif -%}
        {%- if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{%- endif -%}
        {%- else -%}"{%- endif -%} id="holder-{{ section.id }}">
    <div class="container">
        {% include 'section-headings' %}
        <div class="prd-grid prd-promo-carousel js-prd-promo-carousel data-to-show-{{ section.settings.per_row_desktop }}">
            {% for product in collection.products limit:product_limit %}{% include 'product-card-large' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
"name": "Products Carousel Big",
"class": "index-section",
"presets": [
{
"name": "Products Carousel Big",
"category": "Products"
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Section Background Image",
"info":"(Recommended size 1920x700 px)"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h-lg-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading",
    "default": "Sub Heading"
    },
    {
    "type": "text",
    "id": "bgtitle",
    "label": "Background Heading"
    },
{
"type": "header",
"content": "General"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"id": "limit",
"type": "text",
"label": "Products limit",
"default":"5"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "3",
"options": [
{ "value": "3", "label": "3" },
{ "value": "4", "label": "4" }
],
"info": "products per row"
}
]
}
{% endschema %}