{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {{ section.settings.block_width }} {% if section.settings.block_width == 'fullwidth' %}full-nopad{% endif %}  {%- if section.settings.enable_bg -%}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }}  bg-cover lazyload"
        {% if section.settings.bg_image != blank %}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{% endif %}
        {% if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' %}style="background-color: {{ section.settings.bg_color }}"{% endif %}
        {%- else -%}"{%- endif -%}>
    {%- assign outside = false -%}
    {%- assign headings = true -%}
    {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'image' -%}
        {%- if block.settings.image_outside and block.settings.enable -%}{%- assign outside = true -%}{%- endif -%}
        {%- when 'icons' -%}
        {%- if block.settings.enable -%}{%- assign icons = true -%}{%- endif -%}
        {%- when 'numbers' -%}
        {%- if block.settings.enable -%}{%- assign numbers = true -%}{%- endif -%}
        {%- when 'numbers2' -%}
        {%- if block.settings.enable -%}{%- assign numbers2 = true -%}{%- endif -%}
        {%- endcase -%}
    {%- endfor -%}
    <div class="{% if outside %}container-fluid px-0 {% else %}container{% endif %}" {% if section.settings.block_width == 'boxed' and  section.settings.maxwidth_yes %}style="max-width:{{ section.settings.maxwidth }}px"{% endif %}>
        {%- unless section.settings.title_inside -%}
        {% include 'section-headings' bottom: section.settings.heading_bottom %}
        {%- endunless -%}
        <div class="row justify-content-md-{{ section.settings.alignment }} {% if section.settings.reverse %}flex-column-reverse flex-md-row{% endif %} {% if section.settings.nopads %}no-gutters{% endif %}">
            {%- for block in section.blocks -%}
                {%- if block.settings.enable -%}
                    {%- case block.type -%}
                    {%- when 'image' -%}
                    <div {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}" class="d-flex align-items-center {% if outside %}{% if forloop.index == 1 %}justify-content-start{% else %}justify-content-end{% endif %}{% else %}justify-content-center{% endif %} {% if block.settings.image_parallax %}overflow-hidden{% endif %} col-{{ block.settings.col }} col-md-{{ block.settings.col_md }} {% if forloop.index != 1 %}mt-3 mt-md-0{% endif %} text-center bg-center-all lazyload"
                            {% if block.settings.bg_image != blank %}data-bgset="{% include 'bgset', image: block.settings.bg_image %}" data-sizes="auto"{% endif %}>
                        {%- if block.settings.image -%}
                            <img class="{% if block.settings.image_parallax %}parallaxed{% endif %} lazyload fade-up"
                                 src="{{ block.settings.image | img_url: '100x' }}"
                                 data-src="{{ block.settings.image | img_url: '1200x' }}"
                                 alt="{{ block.settings.image.alt }}"/>
                        {%- else -%}
                            {%- render 'image-placeholder-aspect-ratio', width: 100, height: 50, text: 'image' -%}
                        {%- endif -%}
                    </div>
                    {%- when 'html' -%}
                    <div {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}" class="col-{{ block.settings.col }} col-md-{{ block.settings.col_md }} {% if section.settings.reverse %}mt-3 mt-md-0{% elsif forloop.index != 1 %}mt-3 mt-md-0{% endif %} text-{{ block.settings.text_alignment }} {{ block.settings.text_alignment_v }}">
                        <div class="w-100" style="padding: {{ block.settings.bnr_text_paddingv }}% {{ block.settings.bnr_text_paddingh }}%;">
                        {%- if outside -%}
                        <div class="d-flex {% if forloop.index == 1 %}justify-content-end{% endif %}">
                            <div class="outside-text">
                                {%- endif -%}
                                {%- if section.settings.title_inside and headings -%}
                                    {% include 'section-headings' %}
                                    {%- assign headings = false -%}
                                {%- endif -%}
                                {{ block.settings.text }}
                                {%- if outside -%}
                            </div>
                        </div>
                        {%- endif -%}
                        </div>
                    </div>
                    {%- when 'text' -%}
                    <div {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}" class="col-{{ block.settings.col }} col-md-{{ block.settings.col_md }} {% if section.settings.reverse %}{% if block.settings.bnr_text_paddingv == 0 %}mt-3{% endif %} mt-md-0{% elsif forloop.index != 1 %}{% if block.settings.bnr_text_paddingv == 0 %}mt-3{% endif %} mt-md-0{% endif %} text-{{ block.settings.text_alignment }} {{ block.settings.text_alignment_v }}">
                        <div class="w-100" style="padding: {{ block.settings.bnr_text_paddingv }}% {{ block.settings.bnr_text_paddingh }}%;">
                        {%- if outside -%}
                        <div class="d-flex {% if forloop.index == 1 %}justify-content-end{% endif %}">
                            <div class="outside-text">
                                {%- endif -%}
                                {%- if section.settings.title_inside and headings -%}
                                    {% include 'section-headings' bottom: section.settings.heading_bottom %}
                                    {%- assign headings = false -%}
                                {%- endif -%}
                                {{ block.settings.text }}
                                {%- if block.settings.button_yes -%}
                                    <div class="btn-wrap mt-3">
                                        <a href="{{ block.settings.button_link | default:'#' }}" target="{{ section.settings.link_target }}" class="btn {{ block.settings.button_size }}">
                                            {{ block.settings.button_txt }}
                                        </a>
                                    </div>
                                {%- endif -%}
                                {%- if outside -%}
                            </div>
                        </div>
                        {%- endif -%}
                        </div>
                    </div>
                    {%- endcase -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    </div>
{%- endif -%}

<style>
    #shopify-section-{{ section.id }} .title-wrap + p {
        margin-top: 0;
    }
    {%- if outside -%}
    @media (max-width: 767px) {
        #shopify-section-{{ section.id }} [class*='col'] > .w-100 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    {%- endif -%}
    {% if section.settings.reverse %}
    @media (max-width: 767px) {
        #shopify-section-{{ section.id }} .container > .row > *:last-child, #shopify-section-{{ section.id }} .container-fluid > .row > *:last-child {
            margin-top: 0 !important;
        }
    }
    {% endif %}
    {%- for block in section.blocks -%}
    {%- unless block.settings.bg_color == '' or block.settings.bg_color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }} {
        background-color: {{ block.settings.bg_color }};
    }
    {%- endunless -%}
    {%- unless block.settings.color == '' or block.settings.color contains 'rgba(0,0,0,0)' -%}
    #shopify-block-{{ block.id }}, #shopify-block-{{ block.id }} h2, #shopify-block-{{ block.id }} h3, #shopify-block-{{ block.id }} p, #shopify-block-{{ block.id }} a:not(.btn), #shopify-block-{{ block.id }} a:not(.btn):hover {
        color: {{ block.settings.color }};
    }
    {%- endunless -%}
    {%- unless block.settings.title_color == '' or block.settings.title_color contains 'rgba(0,0,0,0)' -%}
     #shopify-block-{{ block.id }} h2, #shopify-block-{{ block.id }} h3 {
        color: {{ block.settings.title_color }};
     }
    {%- endunless -%}
    {%- endfor -%}
    @media (min-width: 768px) {
    {%- if outside -%}
    {%- for block in section.blocks -%}
        #shopify-block-{{ block.id }} .outside-text {
            max-width: {{ settings.maxwidth | divided_by: 18 | times: block.settings.col_md | minus: 26 }}px;
            width: {{ settings.maxwidth | divided_by: 18 | times: block.settings.col_md | minus: 26 }}px;
        }

    {%- endfor -%}
    {%- endif -%}
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'image' -%}
    {%- if block.settings.margin_top != 0 or block.settings.margin_bottom != 0 -%}
        #shopify-block-{{ block.id }} img {
            margin-top: -{{ block.settings.margin_top }}%;
            margin-bottom: -{{ block.settings.margin_bottom }}%;
            z-index: 1;
        }

    {%- endif -%}
    {%- endcase -%}
    {%- endfor -%}
    }

    {%- for block in section.blocks -%}
    {%- if block.settings.button_yes -%}
    {%- unless block.settings.bnr_button_theme -%}
    #shopify-block-{{ block.id }} .btn:not(.hovered):not(:hover) {
    {%- if block.settings.button_bgcolor != blank and block.settings.button_bgcolor != 'rgba(0,0,0,0)' -%} background-color: {{ block.settings.button_bgcolor }};
    {%- endif -%} {%- if block.settings.button_color != blank and block.settings.button_color != 'rgba(0,0,0,0)' -%} color: {{ block.settings.button_color }};
    {%- endif -%}
    }

    {%- endunless -%}
    #shopify-block-{{ block.id }} .btn:hover {
    {%- if block.settings.button_bgcolor_hover != blank and block.settings.button_bgcolor_hover != 'rgba(0,0,0,0)' -%} background-color: {{ block.settings.button_bgcolor_hover }} !important;
    {%- endif -%} {%- if block.settings.button_color_hover != blank and block.settings.button_color_hover != 'rgba(0,0,0,0)' -%} color: {{ block.settings.button_color_hover }} !important;
    {%- endif -%}
    }

    {%- endif -%}
    {%- endfor -%}

</style>
{% schema %}
{
"name": "Custom Text + Image",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type": "checkbox",
"id": "maxwidth_yes",
"label": "Enable Max Width",
"default": false,
"info": "* only for boxed"
},
{
"type": "range",
"id": "maxwidth",
"label": "Max Width",
"min": 800,
"max": 2400,
"step": 20,
"unit": "px",
"default": 1600
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Section Background Image",
"info":"(Recommended size 1920x700 px)"
},
{
"type": "select",
"id": "alignment",
"label": "Columns Horizontal Alignment",
"default": "center",
"options": [
{ "value": "start", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "end", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "reverse",
"label": "Reverse Columns for Mobile",
"default": false
},
{
"type":"checkbox",
"id":"nopads",
"label":"Remove padding between blocks",
"default":false
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "checkbox",
"id": "title_inside",
"label": "Place Title in the Text block",
"default": false
},
{
"type": "range",
"id": "heading_bottom",
"min": 0,
"max": 80,
"step": 5,
"unit": "px",
"label": "Space under Title",
"default": 40
}
],
"blocks":[
{
"type":"image",
"name":"Image",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"9"
},
{
"type":"image_picker",
"id":"image",
"label":"Image"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Image Background"
},
{
"type":"checkbox",
"id":"image_parallax",
"label":"Enable mouseover effect",
"default":false
},
{
"type":"checkbox",
"id":"image_outside",
"label":"Outside Shift",
"default":false
},
{
"type":"range",
"id":"margin_top",
"min":0,
"max":100,
"step":1,
"label":"Negative Margin Top",
"unit":"%",
"default": 0
},
{
"type":"range",
"id":"margin_bottom",
"min":0,
"max":100,
"step":1,
"label":"Negative Margin Bottom",
"unit":"%",
"default": 0
}
]
},
{
"type":"text",
"name":"Text + Button",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"9"
},
{
"type":"range",
"id":"bnr_text_paddingh",
"min":0,
"max":20,
"step":1,
"label":"Text Offset Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"bnr_text_paddingv",
"min":0,
"max":20,
"step":1,
"label":"Text Offset Vertical",
"unit":"%",
"default":0
},
{
"type":"richtext",
"id":"text",
"label":"Text",
"default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius laoreet imperdiet. Nullam iaculis odio ac urna blandit tempor. Etiam libero dui, tempor et turpis ut, venenatis varius odio.</p>"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "left",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "select",
"id": "text_alignment_v",
"label": "Text Vertical Alignment",
"options":[
{"value":"d-flex align-items-start","label":"Top"},
{"value":"d-flex align-items-center","label":"Center"},
{"value":"d-flex align-items-end","label":"Bottom"}
],
"default": "d-flex align-items-center"
},
{
"type": "color",
"id": "color",
"label": "Text Color"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color"
},
{
"type":"color",
"id":"bg_color",
"label":"Background Color"
},
{
"type": "header",
"content": "Button"
},
{
"type": "checkbox",
"id": "button_yes",
"label": "Enabled",
"default": false
},
{
"type": "text",
"id": "button_txt",
"label": "Button text",
"default": "Read More"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "select",
"id": "button_size",
"label": "Button Size",
"options": [
{
"value": "btn",
"label": "Normal"
},
{
"value": "btn--lg",
"label": "Medium"
},
{
"value": "btn--xl",
"label": "Large"
},
{
"value": "btn--xxl",
"label": "Extra Large"
}
],
"default": "btn--lg"
},
{
"type": "checkbox",
"id": "bnr_button_theme",
"default": true,
"label": "Use Theme Button Color"
},
{
"type": "color",
"id": "button_color",
"label": "Button Color"
},
{
"type": "color",
"id": "button_bg",
"label": "Button Background"
},
{
"type": "color",
"id": "button_hover_color",
"label": "Button Hover Color"
},
{
"type": "color",
"id": "button_hover_bg",
"label": "Button Hover Background"
}
]
},
{
"type":"html",
"name":"HTML Code",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/18"},
{"value":"3","label":"3/18"},
{"value":"4","label":"4/19"},
{"value":"5","label":"5/18"},
{"value":"6","label":"6/18"},
{"value":"7","label":"7/18"},
{"value":"8","label":"8/18"},
{"value":"9","label":"9/18"},
{"value":"10","label":"10/18"},
{"value":"11","label":"11/18"},
{"value":"12","label":"12/18"},
{"value":"18","label":"1"}
],
"default":"9"
},
{
"type":"range",
"id":"bnr_text_paddingh",
"min":0,
"max":20,
"step":1,
"label":"Text Offset Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"bnr_text_paddingv",
"min":0,
"max":20,
"step":1,
"label":"Text Offset Vertical",
"unit":"%",
"default":0
},
{
"type":"textarea",
"id":"text",
"label":"Text",
"default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius laoreet imperdiet. Nullam iaculis odio ac urna blandit tempor. Etiam libero dui, tempor et turpis ut, venenatis varius odio.</p>"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "left",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "select",
"id": "text_alignment_v",
"label": "Text Vertical Alignment",
"options":[
{"value":"d-flex align-items-start","label":"Top"},
{"value":"d-flex align-items-center","label":"Center"},
{"value":"d-flex align-items-end","label":"Bottom"}
],
"default": "d-flex align-items-center"
},
{
"type": "color",
"id": "color",
"label": "Text Color"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color"
},
{
"type":"color",
"id":"bg_color",
"label":"Background Color"
}
]
}
],
"presets": [
{
"name": "Custom Text + Image",
"category": "Text",
"blocks":[
{
"type":"image"
},
{
"type":"text"
}
]
}
]
}
{% endschema %}
