{%- assign product = all_products[section.settings.featured_product] -%}
{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{% if product.price_varies %}
    {% capture price %}{{ product.price_min | money }}{% endcapture %}
{% else %}
    {% capture price %}{{ product.selected_or_first_available_variant.price | money }}{% endcapture %}
{% endif %}
{%- assign grid_image_width = '500x' -%}
<div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-{{ section.id }}"{% if section.settings.keep_scale_width %}data-start-width='{{ section.settings.keep_scale_width }}'{% endif %}  {% if section.settings.keep_scale_height %}data-start-height='{{ section.settings.keep_scale_height }}'{% endif %} {% if section.settings.keep_scale_mwidth %}data-start-mwidth='{{ section.settings.keep_scale_mwidth }}'{% endif %}  {% if section.settings.keep_scale_mheight %}data-start-mheight='{{ section.settings.keep_scale_mheight }}'{% endif %} {% if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' %}style="background-color: {{ section.settings.bg_color }}"{% endif %}>
                <div class="bnslider-slide bnslider-slide-product-style1 d-flex justify-content-center {% if section.settings.reversed %}flex-row-reverse{% endif %}">
                    {%- if section.settings.featured_product != blank -%}
                        <div class="bnslider-image-wrap">
                            <img class="lazyload fade-up-fast" data-src="{{ product.featured_image.src | img_url: grid_image_width }}" data-srcset="{{ product.featured_image.src | img_url: grid_image_width }} 1x, {{ product.featured_image.src | img_url: grid_image_width, scale:grid_image_scale }} 2x" alt="{{ product.featured_image.alt | escape }}">
                        </div>
                    {%- else -%}
                        <div class="w-50">
                            {%- render 'image-placeholder-aspect-ratio', width: 200, height: 130, text: 'image' -%}
                        </div>
                    {%- endif -%}
                    <div class="bnslider-text-wrap bnslider-overlay lazyload fade-up-fast">
                        <div class="bnslider-text-content txt-middle txt-center position-relative">
                            <div class="bnslider-text-content-flex text-center">
                                <div class="bnslider-vert">
                                    {%- if section.settings.price_yes -%}
                                        <div class="bnslider-text bnslider-text--price">
                                            {%- if product.selected_or_first_available_variant.compare_at_price != blank -%}
                                                <div class="bnslider-text bnslider-text--price-old through-hor" {% unless section.settings.price_old_color == '' or section.settings.price_old_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.price_old_color }}"{% endunless %}>
                                                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                                                </div>
                                            {%- endif -%}
                                            <div class="bnslider-text bnslider-text--price-new custom-color" {% unless section.settings.price_color == '' or section.settings.price_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.price_color }}"{% endunless %}>
                                                {{ price }}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                    {%- if section.settings.title_yes -%}
                                        <div class="bnslider-text bnslider-product-name" {% unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title_color }}"{% endunless %}>
                                            <a href="{{ product.url }}" title="{{ section.settings.title }}">
                                                {{ section.settings.title }}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                    {%- if section.settings.info_yes -%}
                                        <div class="bnslider-text bnslider-product-text" {% unless section.settings.info_color == '' or section.settings.info_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.info_color }}"{% endunless %}>
                                            {{ section.settings.caption_2 }}
                                        </div>
                                    {%- endif -%}
                                    {%- if section.settings.button_yes -%}
                                        <div class="btn-wrap mt-lg">
                                            {%- if section.settings.featured_product != blank %}
                                                {% capture btn_style %}
                                                data-color="{{ section.settings.button_color }}" data-bgcolor="{{ section.settings.button_bg }}" data-hover-color="{{ section.settings.button_hover_color }}" data-hover-bgcolor="{{ section.settings.button_hover_bg }}" style="color:{{ section.settings.button_color }};background-color: {{ section.settings.button_bg }}"
                                                {% endcapture %}
                                                <form method="post" action="{{ routes.cart_add_url }}">
                                                    {% render 'product-add-to-cart' with product as product, class: section.settings.button_size, style: btn_style %}
                                                </form>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Featured Product",
    "class": "index-section",
    "presets": [
    {
    "name": "Featured Product",
    "category": "Products"
    }
    ],
    "settings": [
    {
    "type": "header",
    "content": "Layout"
    },
    {
    "type": "select",
    "id": "outer_margin",
    "label": "Outer top margin",
    "options": [
    {
    "value": "mt-0",
    "label": "None"
    },
    {
    "value": "holder-mt-xsmall",
    "label": "XSmall"
    },
    {
    "value": "holder-mt-small",
    "label": "Small"
    },
    {
    "value": "holder-mt-medium",
    "label": "Medium (default)"
    },
    {
    "value": "holder-mt-large",
    "label": "Large"
    }
    ],
    "default": "mt-0"
    },
    {
    "type": "checkbox",
    "id": "reversed",
    "label": "Reversed",
    "default": false
    },
    {
    "type":"color",
    "id":"bg_color",
    "label":"Background Color"
    },
    {
    "type": "paragraph",
    "content": "Custom section size"
    },
    {
    "type": "text",
    "id": "keep_scale_width",
    "label": "Slider width",
    "default": "1920"
    },
    {
    "type": "text",
    "id": "keep_scale_height",
    "label": "Slider height",
    "default": "700"
    },
    {
    "type": "paragraph",
    "content": "Only For Mobile (max 768px):"
    },
    {
    "type": "text",
    "id": "keep_scale_mwidth",
    "label": "Slider width",
    "default": "960"
    },
    {
    "type": "text",
    "id": "keep_scale_mheight",
    "label": "Slider height",
    "default": "550"
    },
    {
    "type": "header",
    "content": "Product"
    },
    {
    "type": "product",
    "id": "featured_product",
    "label": "Product"
    },
    {
    "type": "header",
    "content": "Title"
    },
    {
    "type": "checkbox",
    "id": "title_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Featured Product"
    },
    {
    "type": "color",
    "id": "title_color",
    "label": "Title Color"
    },
    {
    "type": "header",
    "content": "Info"
    },
    {
    "type": "checkbox",
    "id": "info_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "text",
    "id": "caption_2",
    "label": "Product info",
    "default": "AVAILABLE UNLOCKED"
    },
    {
    "type": "color",
    "id": "info_color",
    "label": "Info Color"
    },
    {
    "type": "header",
    "content": "Price"
    },
    {
    "type": "checkbox",
    "id": "price_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "color",
    "id": "price_old_color",
    "label": "Price Color"
    },
    {
    "type": "color",
    "id": "price_color",
    "label": "Sale Price Color"
    },
    {
    "type": "header",
    "content": "Button"
    },
    {
    "type": "checkbox",
    "id": "button_yes",
    "label": "Enabled",
    "default": true
    },
    {
    "type": "select",
    "id": "button_size",
    "label": "Button Size",
    "options": [
    {
    "value": "btn",
    "label": "Normal"
    },
    {
    "value": "btn--lg",
    "label": "Medium"
    },
    {
    "value": "btn--xl",
    "label": "Large"
    },
    {
    "value": "btn--xxl",
    "label": "Extra Large"
    }
    ],
    "default": "btn--xl"
    },
    {
    "type": "color",
    "id": "button_color",
    "label": "Button Color"
    },
    {
    "type": "color",
    "id": "button_bg",
    "label": "Button Background"
    },
    {
    "type": "color",
    "id": "button_hover_color",
    "label": "Button Hover Color"
    },
    {
    "type": "color",
    "id": "button_hover_bg",
    "label": "Button Hover Background"
    }
    ]
    }
{% endschema %}