{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {{ section.settings.block_width }} {% if section.settings.block_width == 'fullwidth' %}full-nopad{% endif %}">
        <div class="container">
            {% include 'section-headings' %}
            <div class="row no-gutters vert-margin">
                {%- for block in section.blocks -%}
                    {%- if block.settings.enable -%}
                        <div class="col-18 col-md-9 catalog-download-item">
                            <div class="row">
                                <div class="col-9">
                                    {%- if block.settings.image != blank -%}
                                        {%- assign aspect_ratio = 1 | divided_by: block.settings.image.aspect_ratio -%}
                                        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                        <div class="image-container image-hover-scale" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                                            <img id="img-{{ block.settings.image.id }}"
                                                 class="lazyload fade-up"
                                                 data-src="{{ img_url }}"
                                                 data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512]"
                                                 data-sizes="auto"
                                                 alt="{{ block.settings.title | escape }}">
                                        </div>
                                    {%- else -%}
                                        {% include 'image-placeholder' size: '280x345' %}
                                    {%- endif -%}
                                </div>
                                <div class="col-9 pl-0 pl-sm-15">
                                    <div class="catalog-download-item-text py-sm-2">
                                        {%- if block.settings.title != blank -%}<h5 class="catalog-download-item-title">{{ block.settings.title }}</h5>{%- endif -%}
                                        {%- if block.settings.subtitle != blank -%}<h6 class="catalog-download-item-subtitle">{{ block.settings.subtitle }}</h6>{%- endif -%}
                                        {%- if block.settings.text != blank -%}<p>{{ block.settings.text }}</p>{%- endif -%}
                                        {%- if block.settings.button_yes -%}
                                            <div class="btn-wrap mt-15 mt-sm-3 mt-lg-5">
                                                <a href="{{ block.settings.button_link | default:'#' | replace: 'https:/', '' |  replace: 'http:/', '' }}" target="{{ section.settings.link_target }}" class="btn" {% if block.settings.download %}download{% endif %}>
                                                    {{ block.settings.button_txt }}
                                                </a>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}
<style>
    #shopify-section-{{ section.id }} .catalog-download-item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: 991px){
        #shopify-section-{{ section.id }} .catalog-download-item-text {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (max-width: 575px) {
        .catalog-download-item p {
            margin-top: 10px;
        }
    }
    #shopify-section-{{ section.id }} .catalog-download-item {
    {%- unless section.settings.bg == '' or section.settings.bg contains 'rgba(0,0,0,0)' -%}
        background-color:{{ section.settings.bg }};
    {%- endunless -%}
    {%- unless section.settings.text_color == '' or section.settings.text_color contains 'rgba(0,0,0,0)' -%}
        color:{{ section.settings.text_color }};
    {%- endunless -%}
    }
    #shopify-section-{{ section.id }} .catalog-download-item-title {
        font-size: 18px;
        line-height: 28px;
    {%- unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' -%}
        color:{{ section.settings.title_color }};
    {%- endunless -%}
    }
    #shopify-section-{{ section.id }} .catalog-download-item-subtitle {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    {%- unless section.settings.subtitle_color == '' or section.settings.subtitle_color contains 'rgba(0,0,0,0)' -%}
        color:{{ section.settings.subtitle_color }};
    {%- endunless -%}
    }
    {%- for block in section.blocks -%}
    {%- if block.settings.enable -%}
    #shopify-section-{{ section.id }} .catalog-download-item:nth-child({{ forloop.index }}) .catalog-download-item-title {
        {%- if block.settings.subtitle != blank -%}margin-bottom: 5px;{%- else -%}margin-bottom: 15px;{%- endif -%}
    }
    @media (max-width: 575px){
        #shopify-section-{{ section.id }} .catalog-download-item:nth-child({{ forloop.index }}) .catalog-download-item-title {
            {%- if block.settings.subtitle != blank -%}margin-bottom: 0;{%- else -%}margin-bottom: 10px;{%- endif -%}
        }
    }
    {%- endif -%}
    {%- endfor -%}
</style>
{% schema %}
{
"name": "Catalog Download",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type":"select",
"id":"block_width",
"label":"Width",
"options":[
{"value":"boxed","label":"Boxed"},
{"value":"fullwidth","label":"Fullwidth"}
],
"default":"boxed"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Headings"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default":"Web Catalog"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h1-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "header",
"content": "Item Colors"
},
{
"type":"color",
"id":"bg",
"label":"Background"
},
{
"type":"color",
"id":"title_color",
"label":"Title Color"
},
{
"type":"color",
"id":"subtitle_color",
"label":"Subtitle Color"
},
{
"type":"color",
"id":"text_color",
"label":"Text Color"
}
],
"blocks": [
{
"type": "item",
"name": "Item",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Title"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitle",
"default": "Subtitle"
},
{
"type": "textarea",
"id": "text",
"label": "Text",
"default": "Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmd tempor"
},
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info":"Recommended size 280x345px"
},
{
"type": "header",
"content": "Button"
},
{
"type": "checkbox",
"id": "button_yes",
"label": "Enabled",
"default": true
},
{
"type": "text",
"id": "button_txt",
"label": "Button text",
"default": "Download"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "checkbox",
"id": "download",
"label": "Download link",
"default": true
}
]
}],
"presets": [
{
"name": "Catalog Download",
"category": "Info Blocks",
"blocks": [
{
"type": "item"
},
{
"type": "item"
}
]
}
]
}
{% endschema %}