{%- assign product = all_products[section.settings.featured_product] -%}
{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{% if product.price_varies %}
    {% capture price %}{{ product.price_min | money }}{% endcapture %}
{% else %}
    {% capture price %}{{ product.selected_or_first_available_variant.price | money }}{% endcapture %}
{% endif %}
 {%- if section.settings.image -%}
     {% assign width = section.settings.image.width %}
     {% assign height = section.settings.image.height %}
 {%- else -%}
     {% assign width = 1920 %}
     {% assign height = 800 %}
 {%- endif -%}
 {%- if section.settings.image_mobile -%}
     {% assign width_m = section.settings.image_mobile.width %}
     {% assign height_m = section.settings.image_mobile.height %}
 {%- else -%}
     {% assign width_m = 750 %}
     {% assign height_m = 740 %}
 {%- endif -%}
<!-- BN Slider -->
<div class="holder {{ section.settings.outer_margin }} fullwidth full-nopad">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-{{ section.id }}" data-start-width='{{ width }}' data-start-height='{{ height }}' data-start-mwidth='{{ width_m }}' data-start-mheight='{{ height_m }}'{%- if section.settings.enable_bg -%}{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endunless %}{% endif %}>
                <div class="bnslider-slide bnslider-slide-product-style2" style="background: #f8f8f8">
                    {% if section.settings.image_mobile %}
                        <div class="bnslider-image-mobile" style="background-image: url('{{ section.settings.image_mobile | img_url: 'master' }}')"></div>
                    {% endif %}
                    {%- if section.settings.image -%}
                        <div class="bnslider-image lazyload fade-up-fast" {% if section.settings.image != blank %}data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto"{% endif %}></div>
                    {% else %}
                        <div class="bnslider-image-placeholder bnslider-image">
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% endif %}
                    {%- if section.settings.decor -%}
                    <div class="bnr-decor">
                        {%- unless section.settings.reversed -%}
                            {% capture decor_style %}
                               top: 5%; left: -13%; width: 42%; fill: {{ section.settings.decor_color }}; opacity: {{ section.settings.decor_opacity }}%; mix-blend-mode: {{ section.settings.decor_blend }};
                            {% endcapture %}
                                {% include 'decor' style: decor_style %}
                            {%- else -%}
                            {% capture decor_style %}
                               top: 5%; left: 70%; width: 42%; fill: {{ section.settings.decor_color }}; opacity: {{ section.settings.decor_opacity }}%; mix-blend-mode: {{ section.settings.decor_blend }};
                            {% endcapture %}
                                {% include 'decor' style: decor_style %}
                        {%- endunless -%}
                    </div>
                    {%- endif -%}
                    <div class="bnslider-text-wrap bnslider-overlay lazyload fade-up-fast">
                        {%- if section.settings.countdown_enable -%}
                            <div class="bnslider-countdown countdown-box countdown-box-full-text1" style="{% unless section.settings.reversed %}top: 60%; left: 31%;{% else %}top: 60%; left: 69%;{% endunless %} border-color: {{ section.settings.countdown_border_color }}">
                                {% assign countdown = product.metafields.c_f.countdown %}
                                {%- if countdown != blank -%}
                                    <div class="countdown js-countdown" data-countdown="{{ countdown }}" style="color: {{ section.settings.countdown_color }};"></div>
                                {%- endif -%}
                                <div class="countdown-box-bg" style="background: {{ section.settings.countdown_bg }}; opacity: {{ section.settings.countdown_opacity }}%"></div>
                            </div>
                        {%- endif -%}
                        <div class="bnslider-text-content txt-middle {% if section.settings.reversed %}txt-left{% else %}txt-right{% endif %}">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert w-50">
                                    {%- if section.settings.vendor_yes -%}
                                    <div class="bnslider-text bnslider-product-text" {% unless section.settings.vendor_color == '' or section.settings.vendor_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.vendor_color }}"{% endunless %}>
                                        {{ product.vendor }}
                                    </div>
                                    {%- endif -%}
                                    {%- if section.settings.title_yes -%}
                                        <div class="bnslider-text bnslider-product-name" {% unless section.settings.title_color == '' or section.settings.title_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.title_color }}"{% endunless %}>
                                            <a href="{{ product.url }}" title="{{ product.title }}">
                                                {{ product.title | default:'Select Product' }}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                    {% assign introtext = product.metafields.c_f.introtext %}
                                    {%- if section.settings.info_yes -%}
                                        <div class="bnslider-text bnslider-text--description {% if section.settings.info_hide_mobile %}d-none d-md-block{% endif %}" {% unless section.settings.info_color == '' or section.settings.info_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.info_color }}"{% endunless %}>
                                            {{ introtext }}
                                        </div>
                                    {%- endif -%}
                                    {%- if section.settings.price_yes -%}
                                        <div class="bnslider-text bnslider-text--price">
                                            {%- if product.selected_or_first_available_variant.compare_at_price != blank -%}
                                            <div class="bnslider-text bnslider-text--price-old through-diag" {% unless section.settings.price_old_color == '' or section.settings.price_old_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.price_old_color }}"{% endunless %}>
                                                {{ product.selected_or_first_available_variant.compare_at_price | money }}
                                            </div>
                                            {%- endif -%}
                                            <div class="bnslider-text bnslider-text--price-new" {% unless section.settings.price_color == '' or section.settings.price_color contains 'rgba(0,0,0,0)' %}style="color: {{ section.settings.price_color }}"{% endunless %}>
                                                {{ price }}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                    {%- if section.settings.button_yes -%}
                                    <div class="btn-wrap mt-xl">
                                        {%- if section.settings.featured_product != blank %}
                                            {% capture btn_style %}
                                            data-color="{{ section.settings.button_color }}" data-bgcolor="{{ section.settings.button_bg }}" data-hover-color="{{ section.settings.button_hover_color }}" data-hover-bgcolor="{{ section.settings.button_hover_bg }}" style="color:{{ section.settings.button_color }};background-color: {{ section.settings.button_bg }}"
                                            {% endcapture %}
                                            <form method="post" action="{{ routes.cart_add_url }}">
                                                {% render 'product-add-to-cart' with product as product, class: section.settings.button_size, style: btn_style %}
                                            </form>
                                        {%- endif -%}
                                    </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //BN Slider -->
{% schema %}
{
  "name": "Featured Product 5",
  "class": "index-section",
  "presets": [
    {
      "name": "Featured Product 5",
      "category": "Products"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "outer_margin",
      "label": "Outer top margin",
      "options": [
        {
          "value": "mt-0",
          "label": "None"
        },
        {
          "value": "holder-mt-xsmall",
          "label": "XSmall"
        },
        {
          "value": "holder-mt-small",
          "label": "Small"
        },
        {
          "value": "holder-mt-medium",
          "label": "Medium (default)"
        },
        {
          "value": "holder-mt-large",
          "label": "Large"
        }
      ],
      "default": "mt-0"
    },
    {
        "type": "checkbox",
        "id": "reversed",
        "label": "Reversed",
        "default": false
    },
    {
        "type": "header",
        "content": "Product"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product image",
      "info": "Recommended size is 1920x800px"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Product image (mobile)",
      "info": "Recommended size is 750x740px"
    },
    {
        "type": "header",
        "content": "Title"
    },
    {
        "type": "checkbox",
        "id": "title_yes",
        "label": "Enabled",
        "default": true
    },
    {
        "type": "color",
        "id": "title_color",
        "label": "Title Color"
    },
    {
        "type": "header",
        "content": "Vendor"
    },
    {
        "type": "checkbox",
        "id": "vendor_yes",
        "label": "Enabled",
        "default": true
    },
    {
        "type": "color",
        "id": "vendor_color",
        "label": "Vendor Color"
    },
    {
        "type": "header",
        "content": "Description"
    },
    {
        "type": "checkbox",
        "id": "info_yes",
        "label": "Enabled",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "info_hide_mobile",
        "label": "Hide On Mobile device",
        "default": true
    },
    {
        "type": "color",
        "id": "info_color",
        "label": "Description Color"
    },
    {
        "type": "header",
        "content": "Price"
    },
    {
        "type": "checkbox",
        "id": "price_yes",
        "label": "Enabled",
        "default": true
    },
    {
        "type": "color",
        "id": "price_old_color",
        "label": "Price Color"
    },
    {
        "type": "color",
        "id": "price_color",
        "label": "Sale Price Color"
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
        "type": "checkbox",
        "id": "button_yes",
        "label": "Enabled",
        "default": true
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        {
          "value": "btn",
          "label": "Normal"
        },
        {
          "value": "btn--lg",
          "label": "Medium"
        },
        {
          "value": "btn--xl",
          "label": "Large"
        },
        {
          "value": "btn--xxl",
          "label": "Extra Large"
        }
      ],
      "default": "btn--lg"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color"
    },
    {
      "type": "color",
      "id": "button_hover_bg",
      "label": "Button Hover Background"
    },
    {
    "type": "header",
    "content": "Countdown"
    },
    {
    "type": "checkbox",
    "id": "countdown_enable",
    "label": "Enable",
    "default": true
    },
    {
    "type": "color",
    "id": "countdown_color",
    "label": "Countdown Color",
    "default": "#282828"
    },
    {
    "type": "color",
    "id": "countdown_bg",
    "label": "Countdown Background",
    "default": "#ffffff"
    },
    {
    "type": "color",
    "id": "countdown_border_color",
    "label": "Countdown Border Color"
    },
    {
    "type": "range",
    "id": "countdown_opacity",
    "min": 0,
    "max": 100,
    "step": 10,
    "unit": "%",
    "label": "Countdown Background Opacity",
    "default": 70
    },
    {
    "type": "header",
    "content": "Circle Decor"
    },
    {
    "type": "checkbox",
    "id": "decor",
    "default": false,
    "label": "Enable"
    },
    {
    "type": "color",
    "id": "decor_color",
    "label": "Color"
    },
    {
    "type": "select",
    "id": "decor_blend",
    "label": "Blend Mode",
    "options": [
    {
    "value": "normal",
    "label": "normal"
    },
    {
    "value": "darken",
    "label": "darken"
    },
    {
    "value": "multiple",
    "label": "multiple"
    },
    {
    "value": "soft-light",
    "label": "soft light"
    }
    ],
    "default": "darken"
    },
    {
    "type": "range",
    "id": "decor_opacity",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "%",
    "label": "Opacity",
    "default": 75
    }
  ]
}
{% endschema %}