{%- assign collection = collections[section.settings.collection] -%}
{% if section.settings.limit != blank %}
    {%- assign product_limit = section.settings.limit -%}
{% endif %}
{%- assign collection = collections[section.settings.collection] -%}
<div class="holder {{ section.settings.outer_margin }}" id="holder-{{ section.id }}">
    <div class="container">
        {%- unless section.settings.title == '' and section.settings.subtitle == '' -%}
        {%- if section.settings.subtitle == '' -%}
            <h2 class="{{ section.settings.title_size }} text-{{ section.settings.text_alignment }}">{{ section.settings.title }}</h2>
        {%- else -%}
            {% case section.settings.title_size %}
            {% when 'h-lg-style' %}
            {%- assign title_size = 'title-lg' -%}
            {% when 'h1-style' %}
            {%- assign title_size = 'title-md' -%}
            {% else %}
            {%- assign title_size = 'title-sm' -%}
            {% endcase %}
        <div class="title-wrap {{ title_size }} text-{{ section.settings.text_alignment }}">
            {%- if section.settings.title != '' -%}<h2 class="{{ section.settings.title_size }}{% if settings.heading_sub_first %} mb-0{% endif %}">{{ section.settings.title }}</h2>{%- endif -%}
            {%- if section.settings.subtitle != '' -%}
                <div class="h-sub maxW-825{% if settings.heading_sub_first %} h-sub--first{% endif %}">{{ section.settings.subtitle }}</div>
            {%- endif -%}
        </div>
        {%- endif -%}
        {%- endunless -%}
        <div class="prd-grid data-to-show-{{ section.settings.per_row_desktop }} data-to-show-md-2 data-to-show-sm-2 data-to-show-xs-1">
            {% for product in collection.products limit: product_limit %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
"name": "Products Grid Horizontal",
"class": "index-section",
"presets": [
{
"name": "Products Grid Horizontal",
"category": "Products"
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "General"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"id": "limit",
"type": "text",
"label": "Products limit",
"default":"10"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "3",
"options": [
{ "value": "3", "label": "3" },
{ "value": "4", "label": "4" }
],
"info": "products per row"
}
]
}
{% endschema %}