{%- assign collection = collections[section.settings.collection] -%}
{% if section.settings.limit != blank %}
    {%- assign product_limit = section.settings.limit -%}
{% endif %}
{%- assign collection = collections[section.settings.collection] -%}
{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }} {% if section.settings.enable_bg %}holder-with-bg {{ section.settings.padding-t }} {{ section.settings.padding-b }}  bg-cover lazyload" data-expand="-500"
{%- if section.settings.bg_image != blank -%}data-bgset="{% include 'bgset', image: section.settings.bg_image %}" data-sizes="auto"{%- endif -%}
{%- if section.settings.bg_color != blank and section.settings.bg_color != 'rgba(0,0,0,0)' -%}style="background-color: {{ section.settings.bg_color }}"{% endif %}
{%- else -%}"{%- endif -%}>
    <div class="container">
        <div class="row vert-margin {% if section.settings.reversed %}flex-row-reverse{% endif %}">
            <div class="col lookbook-bnr-wrap {% if section.settings.dark %}lookbook-popup-btn--dark{% endif %}">
                <div class="lookbook-bnr">
                    {%- if section.settings.lookbook_image == blank -%}
                        {% include 'image-placeholder-aspect-ratio' width: '1920' height: '1160' %}
                    {%- else -%}
                        {%- assign aspect_ratio = 1 | divided_by: section.settings.lookbook_image.aspect_ratio -%}
                        <div class="lookbook-bnr-image image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
                            <img class="fade-up lazyload w-100" data-src="{{ section.settings.lookbook_image | img_url: 'master' }}" alt="">
                        </div>
                    {%- endif -%}
                    {% for block in section.blocks %}
                        {% if block.settings.enable %}
                            <div class="lookbook-bnr-point" style="left: {{ block.settings.x_pos }}%; top: {{ block.settings.y_pos }}%;">
                                <span data-toggle="popover" class="lookbook-popup-btn-lg"><i class="icon-close"></i></span>
                                <div class="lookbook-popup js-popover-content">
                                    {%- assign product = all_products[block.settings.product] -%}
                                    <div class="prd-lookbook d-flex flex-column">
                                        <a href="{{ product.url | within: collection }}" class="prd-img" title="{{ product.title | strip_html }}">
                                            <img src="{{ product.featured_image.src | img_url: '500x' }}"
                                                 alt="{{ product.featured_image.alt }}">
                                        </a>
                                        <div class="prd-info">
                                            <h2 class="prd-title"><a title="{{ product.title  | strip_html }}" href="{{ product.url | within: collection }}">{{ product.title  | strip_html  | truncate: settings.product_title_truncate }}</a></h2>
                                            <div class="prd-price">
                                                {% render 'product-price' with product as product %}
                                            </div>
                                            <form method="post" action="{{ routes.cart_add_url }}">
                                                {% render 'product-add-to-cart' with product as product %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if section.settings.carousel_enable %}
                <div class="col lookbook-carousel-wrap">
                    <div class="title-with-arrows mb-md-4">
                        <h2>{{ section.settings.title }}</h2>
                        {%- if settings.arrows_style == "arrows-style1" -%}<div class="carousel-arrows"></div>{%- endif -%}
                    </div>
                    <div class="prd-grid prd-carousel js-prd-carousel data-to-show-{{ section.settings.per_row_desktop }} data-to-show-lg-{{ section.settings.per_row_desktop }} data-to-show-md-{{ section.settings.per_row_tablet }} data-to-show-sm-{{ section.settings.per_row_tablet }} data-to-show-xs-{{ section.settings.per_row_mobile }}" {% if settings.arrows_style == "arrows-style3" %}data-slick='{"arrows": false, "dots": true}'{% endif %}>
                        {% for product in collection.products limit: product_limit %}{% include 'product-card' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                    </div>
                    {%- if settings.arrows_style == "arrows-style2" -%}<div class="carousel-arrows carousel-arrows--bottom"></div>{%- endif -%}
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{%- endif -%}
<style>
    @media (max-width: 991px) {
        .lookbook-bnr-wrap {
            flex: 0 0 100%;
            max-width:  100%;
        }
        .lookbook-carousel-wrap {
            flex: 0 0 100%;
            max-width:  100%;
        }
    }
    @media (min-width: 992px) {
        #shopify-section-{{ section.id }} .lookbook-bnr-wrap {
            flex: 0 0 {{ section.settings.maxwidth }}%;
            max-width: {{ section.settings.maxwidth }}%;
        }

        #shopify-section-{{ section.id }} .lookbook-carousel-wrap {
            flex: 0 0 calc(100% - {{ section.settings.maxwidth }}%);
            max-width: calc(100% - {{ section.settings.maxwidth }}%);
        }
    }
</style>
{% schema %}
{
"name": "Lookbook + Products",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "enable_bg",
"label": "Add background",
"default": false
},
{
"type": "select",
"id": "padding-t",
"label": "Top Padding",
"options":[
{"value":"pt-0","label":"None"},
{"value":"holder-pt-xsmall","label":"XSmall"},
{"value":"holder-pt-small","label":"Small"},
{"value":"holder-pt-medium","label":"Medium (default)"},
{"value":"holder-pt-large","label":"Large"}
],
"default": "holder-pt-medium"
},
{
"type": "select",
"id": "padding-b",
"label": "Bottom Padding",
"options":[
{"value":"pb-0","label":"None"},
{"value":"holder-pb-xsmall","label":"XSmall"},
{"value":"holder-pb-small","label":"Small"},
{"value":"holder-pb-medium","label":"Medium (default)"},
{"value":"holder-pb-large","label":"Large"}
],
"default": "holder-pb-medium"
},
{
"type":"color",
"id":"bg_color",
"label":"Section Background Color",
"default":"#f8f8f8"
},
{
"type": "checkbox",
"id": "reversed",
"label": "Reversed",
"default": false
},
{
"type": "header",
"content": "Lookbook"
},
{
"type":"image_picker",
"id":"lookbook_image",
"label":"Lookbook Image"
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"xs-quarter","label":"1/4"},
{"value":"6","label":"1/3"},
{"value":"9","label":"1/2"},
{"value":"12","label":"2/3"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type": "range",
"id": "maxwidth",
"label": "Max Width for Desktop",
"min": 40,
"max": 80,
"step": 5,
"unit": "%",
"default": 70
},
{
"type": "checkbox",
"id": "dark",
"label": "Dark Circle",
"default": true
},
{
"type": "header",
"content": "Products Carousel"
},
{
"type": "checkbox",
"id": "carousel_enable",
"label": "Enable",
"default": true
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"id": "limit",
"type": "text",
"label": "Products limit",
"default":"8"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
},
{
"type": "select",
"id": "per_row_tablet",
"label": "Tablet:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type":      "range",
"id":        "x_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer X Position",
"default":   50
},
{
"type":      "range",
"id":        "y_pos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Pointer Y Position",
"default":   50
}
]
}
],
"presets": [
{
"name": "Lookbook + Products",
"category": "Lookbook"
}
]
}
{% endschema %}