{%- if section.settings.enable -%}
    <div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="row vert-margin-small justify-content-md-center">
            {%- if section.settings.testimonials_show -%}
            <div class="{%- if section.settings.blog_show -%}col-lg-9{%- else -%}col-lg-18{%- endif -%}">
                <div class="title-with-arrows">
                    <h2 class="{{ section.settings.testimonials_heading_size }}">{{ section.settings.testimonials_heading }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="testimonials-carousel-wrap" style="background-color: {{ section.settings.testimonials_bg }};">
                    {%- if section.settings.testimonials_decor -%}
                    <div class="circle_decor_wrap">
                        {%- assign classes = "circle_decor--tl" -%}
                        {%- assign translateX = "-81" -%}
                        {%- assign translateY = "-69" -%}
                        {%- assign rotate = "-50" -%}
                        {%- assign color = section.settings.decor_color -%}
                        {%- assign opacity = "0.5" -%}
                        {%- assign dwidth = "50" -%}
                        {%- assign target = 'testimonial' -%}
                        {%- if section.settings.blog_show -%}{%- assign dwidth = "100" -%}{%- endif -%}
                        {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}

                        {%- assign classes = "circle_decor--br" -%}
                        {%- assign translateX = "81" -%}
                        {%- assign translateY = "69" -%}
                        {%- assign rotate = "-50" %}
                        {%- assign color = section.settings.decor_color -%}
                        {%- assign opacity = "0.5" -%}
                        {%- assign dwidth = "50" -%}
                        {%- assign target = 'testimonial' -%}
                        {%- if section.settings.blog_show -%}{%- assign dwidth = "100" -%}{%- endif -%}
                        {%- render 'decor-circle-1', dwidth: dwidth, translateX: translateX, translateY: translateY, rotate: rotate, color: color, opacity: opacity, target: target, classes: classes, top: top, left: left, bottom: bottom, right: right -%}
                    </div>
                    {%- endif -%}
                    <div class="testimonials-carousel js-testimonials-carousel"
                        {%- if section.settings.blog_show -%} data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'
                        {%- else -%}data-slick='{"slidesToShow": 2, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'{%- endif -%}>
                        {%- for block in section.blocks -%}
                            {%- if block.settings.enable -%}
                                <div class="testimonials-item" {{ block.shopify_attributes }}>
                                    <div class="row vert-margin">
                                        <div class="col-sm-5 testimonials-item-photo text-center">
                                            {%- if block.settings.image == blank -%}
                                                <span class="rounded-circle">{% include 'image-placeholder' size: '170x170' %}</span>
                                            {%- else -%}
                                                <img class="lazyload rounded-circle mx-auto"
                                                     data-src="{{ block.settings.image | img_url: '170x170', crop: 'center' }}"
                                                     data-aspectratio="1"
                                                     data-sizes="auto"
                                                     alt="{{ block.settings.name | escape }}">
                                            {%- endif -%}
                                        </div>
                                        <div class="col-sm-13 testimonials-item-text" {%- if section.settings.testimonials_color != blank and section.settings.testimonials_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_color }}"{%- endif -%}>
                                            <h3 class="testimonials-item-name" {%- if section.settings.testimonials_color != blank and section.settings.testimonials_color != 'rgba(0,0,0,0)' -%}style="color:{{ section.settings.testimonials_color }}"{%- endif -%}>{{ block.settings.author }}</h3>
                                            {{ block.settings.text }}
                                        </div>
                                    </div>
                                    {%- if section.settings.testimonials_quote -%}
                                    <div class="testimonials-item-quote">
                                        <i class="icon-quotes"></i>
                                    </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endif -%}
            {%- if section.settings.blog_show -%}
                <div class="{%- if section.settings.testimonials_show -%}col-lg-9{%- else -%}col-lg-18{%- endif -%}">
                <div class="title-with-arrows">
                    <h2 class="{{ section.settings.blog_heading_size }}">{{ section.settings.blog_heading }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                    {%- assign blog = blogs[section.settings.blog] -%}
                    {%- unless blog.articles_count == 0 -%}
                    <div class="post-prws post-prws-carousel {% unless section.settings.testimonials_show %}post-prws-carousel--single{% endunless %} js-post-prws-carousel"
                         {%- if section.settings.testimonials_show -%}data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'
                         {%- else -%}data-slick='{"slidesToShow": 2, "responsive": [{"breakpoint": 1200,"settings": {"slidesToShow": 2}},{"breakpoint": 1024,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'{%- endif -%}>
                    {%- for article in blog.articles limit: section.settings.blog_limit -%}
                            <div class="post-prw js-post-prw-adaptive">
                                <div class="row {% unless article.image %}mx-0{% endunless %}">
                                    {%- if article.image -%}
                                    <div class="post-prw-img col-sm-9">
                                        <a href="{{ article.url }}">
                                            <img src="{{ article.image | img_url: '540x540', crop: 'center' }}"
                                                 alt="{{ article.title }}">
                                        </a>
                                    </div>
                                    {%- endif -%}
                                    <div class="post-prw-text {% if article.image %}col-sm-9{% else %}col-sm-18 px-0{% endif %}">
                                        <h4 class="post-prw-title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                                        {%- if section.settings.blog_show_date -%}
                                            <div class="post-prw-links">
                                                <div class="post-prw-date"><i class="icon-calendar1"></i>{{ article.published_at | time_tag: format: 'date' }}</div>
                                            </div>
                                        {%- endif -%}
                                        <div class="post-prw-teaser">
                                            {%- if article.excerpt.size > 0 -%}
                                            {{ article.excerpt }}
                                            {%- else -%}
                                                {{ article.content | strip_html | truncate: section.settings.teaser }}
                                            {%- endif -%}
                                        </div>
                                        {%- if section.settings.blog_show_readmore -%}
                                        <div class="post-prw-btn">
                                            <a href="{{ article.url }}" class="btn btn--md">{{ "blogs.article.read_more" | t }}</a>
                                        </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                    {%- endunless -%}
            </div>
            {%- endif -%}
        </div>
    </div>
</div>
{%- endif -%}

{% schema %}
{
"name": "Testimonials - Blog",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "Testimonials"
},
{
"type":"checkbox",
"id":"testimonials_show",
"label":"Show Testimonials",
"default":true
},
{
"type": "text",
"id": "testimonials_heading",
"label": "Title",
"default":"OUR CLIENTS SAY ABOUT US"
},
{
"type": "select",
"id": "testimonials_heading_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type":"color",
"id":"testimonials_bg",
"label":"Background",
"default":"#fafafa"
},
{
"type":"color",
"id":"testimonials_color",
"label":"Text Color"
},
{
"type":"checkbox",
"id":"testimonials_quote",
"label":"Show Quote Icon",
"default":true
},
{
"type":"checkbox",
"id":"testimonials_decor",
"label":"Show Decor Circles",
"default":true
},
{
"type":"color",
"id":"decor_color",
"label":"Decor Circles Color"
},
{
"type": "header",
"content": "Blog"
},
{
"type":"checkbox",
"id":"blog_show",
"label":"Show Blog Posts",
"default":true
},
{
"type": "text",
"id": "blog_heading",
"label": "Title",
"default":"FROM OUR BLOG"
},
{
"type": "select",
"id": "blog_heading_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "blog",
"id": "blog",
"label": "Blog category"
},
{
"type": "range",
"id": "blog_limit",
"label": "Limit posts",
"min": 3,
"max": 12,
"step": 1,
"default": 3
},
{
"type":"checkbox",
"id":"blog_show_date",
"label":"Show date",
"default":true
},
{
"type": "range",
"id": "teaser",
"min": 20,
"max": 500,
"step": 5,
"label": "Truncate teaser after",
"default": 150,
"info": "letters"
},
{
"type":"checkbox",
"id":"blog_show_readmore",
"label":"Show 'Read More' Button",
"default":true
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "author",
"label": "Author's name",
"default": "Author's name"
},
{
"type": "image_picker",
"id": "image",
"label": "Author's Photo",
"info":"Recommended size 200x200px"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Add customer reviews and testimonials</p>"
}
]
}],
"presets": [
{
"name": "Testimonials - Blog",
"category": "Blog",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
}
]
}
]
}
{% endschema %}