<div class="holder">
    <div class="container">
        <div class="page-title text-center">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="empty-wishlist js-empty-wishlist text-center py-3 py-sm-5 d-none" style="opacity: 0">
            <h2>{{ 'theme.general.wishlist.empty_wishlist' | t }}</h2>
            <div class="mt-5">
                <a href="/" class="btn">{{ 'cart.general.continue_shopping' | t }}</a>
            </div>
        </div>
        <div class="prd-grid prd-grid--wishlist data-to-show-{{ section.settings.per_row_desktop }} data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-{{ section.settings.per_row_mobile }} js-category-grid" data-wishlist-grid data-product-style="{{ settings.product_previews_style }}"></div>
    </div>
</div>
{% schema %}
{
"name": "Wishlist",
"settings": [
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "6",
"options": [
{ "value": "4", "label": "4" },
{ "value": "5", "label": "5" },
{ "value": "6", "label": "6" }
],
"info": "products per row"
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
}
]
}
{% endschema %}