{% layout none %}
{%- assign settings_options_style = settings.qw_options_style -%}
{%- assign settings_color_options_name = settings.qw_color_options_name -%}
{%- assign settings_color_swatches_style = settings.qw_color_swatches_style -%}
{%- assign settings_swatches_width = settings.qw_swatches_width -%}

{% assign on_sale = false %}
{% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign previews = false %}
{% if settings.qw_gallery_previews and product.images.size > 1 %}
    {%- for image in product.images -%} {%- if image.alt == "MAIN" or image.alt == "HOVER" or forloop.first -%} {% continue %} {%- endif -%} {% assign previews = true %} {% break %} {%- endfor -%}
{% endif %}

{%- assign settings_gallery_width = settings.qw_gallery_width -%}

{%- assign sectionId = 'modalQuickView' -%}
<div class="modal--quickview modal-quickview--{{ settings.qw_style }} {% unless previews %}{% if settings.qw_style == 'classic' %}modal-quickview--no-previews{% endif %}{% endunless %}" id="modalQuickView" style="display: none;" data-section-id="{{ sectionId }}" data-section-type="product">
    <div class="modal-content {% unless previews %}modal-content--compact{% endunless %}">
        <div class="prd-block {% if previews %}{% if settings.qw_style == 'classic' %}prd-block--prv-bottom{% else %}prd-block--prv-right{% endif %}{% else %}prd-block--no-previews{% endif %}" id="prdGalleryModal" >
            <div class="clearfix"></div>
            <div class="row no-gutters">
                <div class="quickview-gallery {% if previews and settings.qw_style == 'creative' %}col-lg-9{% else %}col-lg-9 col-lg-qw-custom{% endif %}">
                    <!-- Product Gallery -->
                    <div class="prd-block_main-image mt-0">
                        <div class="prd-block_main-image-holder">
                            {%- assign image_width = '600x' -%}
                            <div class="product-main-carousel js-product-main-zoom-container {% if product.images.size > 1 %}js-product-main-carousel-qw{% endif %}" data-zoom-position="inner">
                                {%- for image in product.media -%}
                                    {%- if image.media_type == "external_video" -%}
                                        <div data-image-id="{{ image.id }}" class="external-video js-external-video">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                {{ image | external_video_url: autoplay: "0" |  external_video_tag }}
                                            </div>
                                        </div>
                                        {%- elsif image.media_type == "video" -%}
                                        <div data-image-id="{{ image.id }}" class="inner-video js-inner-video">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                {{ image | video_tag: controls: true, image_size: image_width }}
                                            </div>
                                        </div>
                                    {%- else -%}
                                        {%- if image.alt == "MAIN" or image.alt == "HOVER" -%} {% continue %} {%- endif -%}
                                        {%- assign aspect_ratio = 1 | divided_by: image.aspect_ratio -%}
                                        <div data-image-id="{{ image.id }}">{% if settings.equal_height %}<span><span>{% else %}<span class="image-container" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">{% endif %}<img data-aspectratio="{{ image.aspect_ratio }}" data-src="{{ image.src | img_url: image_width }} 1x,{{ image.src | img_url: image_width, scale:2 }} 2x" class="lazypreload lazyload {% if settings.qw_gallery_zoom %}elzoom{% endif %}" alt="" data-image-width="{{ image.width }}" data-zoom-image="{{ image.src | img_url: 'master' }}" /><i class="foxic-loader"></i>{% if settings.equal_height %}</span></span>{% else %}</span>{% endif %}</div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            {%- assign new = false %}
                            {%- for tag in product.tags -%}{% if tag == 'new' or tag == 'NEW' or tag == 'New' %}{% assign new = true %}{% endif %}{% endfor -%}
                            {%- assign not_sale = true -%}
                            {%- if on_sale and settings.qw_show_label_sale -%}
                                {%- assign not_sale = false -%}
                            {%- endif -%}
                            {%- if settings.product_labels_style == 'prd-big-squared-labels' -%}{%- assign style = '-squared' -%}{%- endif -%}
                            {% if new and settings.qw_show_label_new %}<div class="prd-block_label-new{{ style }} align-items-center {% if new and not_sale %}prd-block_label--single{% endif %}" data-new-label><span>{{ 'theme.general.new' | t }}</span></div>{% endif %}
                            <div class="prd-block_label-outstock{{ style }} justify-content-center align-items-center {% if product.selected_or_first_available_variant.available %}d-none{% endif %}" data-sold-out-label><span>{{ 'products.product.sold_out' | t }}</span></div>
                            <div class="prd-block_label-sale{{ style }} justify-content-center align-items-center {% unless on_sale and settings.qw_show_label_sale %}d-none{% endunless %} {% unless product.selected_or_first_available_variant.available %}d-none{% endunless %}" data-sale-label>
                                {% assign percent = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by:product.selected_or_first_available_variant.compare_at_price | times: 100 | divided_by: 100 | floor %}
                                {%- if settings.qw_label_sale_style == 'all' -%}
                                    <span data-price>-<span data-percent>{{ percent }}</span>%</span>
                                    <span>{{ 'products.product.on_sale' | t }}</span>
                                    {%- elsif settings.qw_label_sale_style == 'text' -%}
                                    <span>{{ 'products.product.on_sale' | t }}</span>
                                {%- else -%}
                                    <span data-price>-<span data-percent>{{ percent }}</span>%</span>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if settings.qw_promo_view_enable or settings.qw_real_time_users -%}
                        <div class="prd-block_viewed-wrap">
                            {%- if settings.qw_promo_view_enable -%}
                                {% include 'product-block-viewed' %}
                            {%- endif -%}
                            {%- if settings.qw_real_time_users -%}
                            <div class="prd-block_viewed prd-block_viewed--real-time">
                                <i class="icon-user"></i>
                                {% include 'product-users-now' %}
                            </div>
                            {%- endif -%}
                        </div>
                        {%- endif -%}
                    </div>
                    {%- if previews -%}
                        <div class="product-previews-wrapper {% if settings.qw_style == 'classic-' %}d-none{% endif %}">
                            <div class="product-previews-carousel js-product-previews-carousel-qw"
                                 data-slick='{"slidesToShow": {{ settings.qw_per_row_desktop }}, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": {{ settings.qw_per_row_desktop }} }},{"breakpoint": 480,"settings": {"slidesToShow": {{ settings.qw_per_row_mobile }} }}]}'>
                                {%- assign count = product.media.size -%}
                                {%- for image in product.media -%}
                                    {%- if image.media_type == "external_video" or image.media_type == "video" -%}
                                        {%- if settings.qw_video_preview != 'none' -%}
                                            <a href="#" title={{ image.alt }} data-value="{{ image.src | split:'products/' | last | split:'.' | first }}"  data-image-id="{{ image.id }}" class="prd-block_video-link video-slide {% if featured_image == image %}class="active{% endif %}"><span><span>
                                        {%- if settings.qw_video_preview == 'icon' -%}<i class="icon icon-play"></i>{%- endif -%}
                                                    <img class="lazyload" data-aspectratio="{{ image.aspect_ratio }}" src="{{ image | img_url: '100x' }}" data-srcset="{{ image | img_url: '200x' }} 1x,{{ image | img_url: '200x', scale:2 }} 2x" alt="{{ featured_image.alt | escape }}" />
                                                    </span></span></a>
                                            {%- endif -%}
                                        {%- else -%}
                                        {% if forloop.index0 == 0 %}{%- assign image_aspect = 1 | divided_by:image.aspect_ratio -%}{% endif %}
                                        {%- if image.alt == "MAIN" or image.alt == "HOVER" -%} {% continue %} {%- endif -%}
                                        <a href="{{ image.src | img_url: 'master' }}" title={{ image.alt }} data-value="{{ image.src | split:'products/' | last | split:'.' | first }}"  data-image-id="{{ image.id }}" {% if featured_image == image %}class="active"{% endif %}><span><span><img class="lazyload" data-aspectratio="{{ image.aspect_ratio }}" src="{{ image.src | img_url: '100x' }}" data-srcset="{{ image.src | img_url: '200x' }} 1x,{{ image.src | img_url: '200x', scale:2 }} 2x" alt="{{ featured_image.alt | escape }}" /></span></span></a>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                        </div>
                    {%- endif -%}
                    <!-- /Product Gallery -->
                    <div class="corner-modal"></div>
                </div>
                <div class="quickview-info {% if previews and settings.qw_style == 'creative' %}col-lg-9{% else %}col-lg{% endif %}">
                    <div class="prd-block_info prd-block_info--style2" data-prd-handle="{{ product.url }}">
                        {% include 'product-countdown', modal: true %}
                        <div class="prd-block_title-wrap">
                            {%- assign product_title_truncate = settings.product_title_truncate -%}
                            <h1 class="prd-block_title">{{ product.title | strip_html | truncate: product_title_truncate }}</h1>
                        </div>
                        <div class="prd-block_price" data-price>
                            {% render 'product-price-2' with product as product  %}
                        </div>
                        {%- assign introtext = product.metafields.c_f.introtext -%}
                        {%- if introtext != blank -%}
                            {%- if introtext != '-' -%}
                                <div class="prd-block_description prd-block_info_item">
                                    {{ introtext }}
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                        {%- assign show_attrs = true -%}
                        {%- if countdown != blank  -%}
                            {%- unless product.has_only_default_variant -%}
                                {%- assign show_attrs = false -%}
                            {%- endunless -%}
                        {%- endif -%}
                        {%- if show_attrs -%}
                        <div class="prd-block_details">
                            <div class="prd-block_info-box prd-block_info_item d-none">
                                <div class="two-column">
                                    {%- if settings.qw_product_availability -%}
                                        <p>{{'theme.general.availability' | t }}:
                                            {% if product.selected_or_first_available_variant.available -%}
                                                <span class="prd-in-stock" data-stock-status>{{ 'theme.general.in_stock' | t }}</span>
                                            {%- else -%}
                                                <span class="prd-sold-out" data-stock-status>{{ 'products.product.sold_out' | t }}</span>
                                            {%- endif -%}
                                        </p>
                                    {%- endif -%}
                                    {%- if settings.qw_tax_included -%}
                                        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                                            <p class="prd-taxes">
                                                <span>
                                                    {%- if shop.taxes_included -%}
                                                        {{ 'products.product.include_taxes' | t }}
                                                    {%- endif -%}
                                                    {%- if shop.shipping_policy.body != blank -%}
                                                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                                    {%- endif -%}
                                                </span>
                                            </p>
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- if product.collections.size > 0 and settings.qw_collections-%}
                                        <p>{{ 'theme.product.collections' | t }}: <span>{% assign collection_last = product.collections | last %} <a href="{{ collection_last.url }}" title="{{ 'collections.general.view_all' | t }}" data-toggle="tooltip" data-placement="top">{{ collection_last.title }}</a></span></p>
                                    {%- endif -%}
                                    {%- if settings.qw_product_sku -%}
                                        <p>{{ 'customer.order.sku' | t }}: <span data-sku>{% if product.selected_or_first_available_variant.sku.size > 0 %}{{ product.selected_or_first_available_variant.sku }}{% else %}-{% endif %}</span></p>
                                    {%- endif -%}
                                    {%- if settings.qw_vendor and product.vendor != blank -%}
                                        <p>{{ 'products.product.vendor' | t }}: <span>{{ product.vendor }}</span></p>
                                    {%- endif -%}
                                    {%- assign barcode  = product.selected_or_first_available_variant.barcode | default:product.barcode -%}
                                    {%- if barcode != blank and settings.qw_barcode-%}
                                        <p>{{ 'theme.product.barcode' | t }}: <span>{{ barcode }}</span></p>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                        {%- endif -%}
                        {%- if section.settings.show_inform -%}
                        <div class="prd-block_info_item mb-n-10 {% if product.selected_or_first_available_variant.available %}d-none{% endif %}">
                            <div class="prd-block_links prd-block_links mx-0 d-inline-flex" data-when-arrives>
                                <i class="icon-email-1"></i>
                                <div><a href="#" data-follow-up data-name="{{ product.title | strip_html }}" class="modal-info-link-qw prd-in-stock" data-src="#whenArrives">{{ 'theme.product.item_arrives' | t }}</a></div>
                            </div>
                        </div>
                        {%- endif -%}
                        {% form 'product', product, novalidate: 'novalidate' %}
                        {% include 'product-options' with product as product, sectionId:sectionId %}
                        <div class="prd-block_actions {% if settings.wishlist_yes %}prd-block_actions--wishlist{% endif %}">
                            {%- if settings.qw_show_quantity_selector -%}
                                {% render 'product-qty' %}
                            {%- endif -%}
                            <div class="btn-wrap">
                                {% render 'product-add-to-cart' with product as product, class:'btn--add-to-cart', in_the_product:true %}
                            </div>
                            {%- if settings.wishlist_yes -%}
                                <div class="btn-wishlist-wrap">
                                    <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--add js-add-wishlist" title="{{ 'theme.general.wishlist.add_to_wishlist' | t }}"><i class="icon-heart-stroke"></i></a>
                                    <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--off js-remove-wishlist" title="{{ 'theme.general.wishlist.remove_from_wishlist' | t }}"><i class="icon-heart-hover"></i></a>
                                </div>
                            {%- endif %}
                        </div>
                        {% endform %}
                        <div class="prd-block_shopping-info-wrap-compact">
                            {%- if settings.qw_sharing_left_side != blank %}<div class="prd-block_shopping-info-compact">{{ settings.qw_sharing_left_side }}</div>{%- endif -%}
                            {%- if settings.qw_sharing_center_side != blank %}<div class="prd-block_shopping-info-compact">{{ settings.qw_sharing_center_side }}</div>{%- endif -%}
                            {%- if settings.qw_sharing_right_side != blank %}<div class="prd-block_shopping-info-compact">{{ settings.qw_sharing_right_side }}</div>{%- endif -%}
                        </div>
                        <div class="prd-block_info_item mt-3 row row--sm-pad vert-margin-middle">
                            <div class="col"><a href="{{ product.url | within: collection }}" class="btn btn--grey w-100">{{ 'theme.product.view_full_info' | t }}</a></div>
                            <div class="col"><a href="{{ product.url | within: collection }}" class="btn btn--grey w-100" data-fancybox-close>Close</a></div>
                        </div>
                    </div>
                </div>
                <div class="prd-block_info-bottom"></div>
                <div class="prd-block_info-top"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal--quickview .prd-block--prv-bottom .product-previews-carousel {
        padding: 0;
    }
    body:not(.equal-height) .modal--quickview .product-previews-carousel a > span {
        display: block;
        position: relative;
        border: 0;
        height: 0;
        overflow: hidden;
        padding-bottom: {{ image_aspect  | times: 100 | floor }}%;
    }
    body:not(.equal-height) .modal--quickview .product-previews-carousel a > span > span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    body:not(.equal-height) .modal--quickview .product-previews-carousel a > span img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .modal--quickview.modal-quickview--classic .product-previews-carousel {
        height: 0;
        position: relative;
        transition: 0s;
    }
    @media (min-width: 480px) {
    {%- assign previews_padding = image_aspect | times: 22  -%}
    {%- if settings.qw_per_row_desktop == "3" -%}
    {%- assign previews_padding = image_aspect | times: 29.5  -%}
    {%- elsif settings.qw_per_row_desktop == "2" -%}
    {%- assign previews_padding = image_aspect | times: 44  -%}
    {%- endif -%}
        .modal--quickview.modal-quickview--classic .product-previews-carousel {
            padding-bottom: calc({{ previews_padding }}% + 10px);
        }
    }
    @media (max-width: 479px) {
    {%- assign previews_padding = image_aspect | times: 22  -%}
    {%- if settings.qw_per_row_mobile == "3" -%}
    {%- assign previews_padding = image_aspect | times: 29.5  -%}
    {%- elsif settings.qw_per_row_mobile == "2" -%}
    {%- assign previews_padding = image_aspect | times: 44  -%}
    {%- endif -%}
        .modal--quickview.modal-quickview--classic .product-previews-carousel {
            padding-bottom: calc({{ previews_padding }}% + 10px);
        }
    }
    @media (min-width: 992px) {
        .col-lg-qw-custom {
            max-width: {{ settings_gallery_width }}%;
            flex: 0 0 {{ settings_gallery_width }}%;
        }
        .modal--quickview .prd-block--no-previews .prd-block_info-bottom, .modal--quickview .prd-block--no-previews .prd-block_info-top {
            width: calc(100% - {{ settings_gallery_width }}% - 20px);
        }
        .modal--quickview.modal-quickview--classic .prd-block_info-bottom {
            width: calc(100% - {{ settings_gallery_width }}% - 20px);
        }
        .modal--quickview.modal-quickview--classic .quickview-info {
            min-height: 65vh;
        }
    }
</style>
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ sectionId }}">{{ product | json }}</script>
{% endunless %}
