{% paginate search.results by 10 %}
<div class="holder">
  <div class="container">
    <div class="page-title text-center" data-collection-title>
      <h1> {% if search.performed == false %} {{ 'general.search.title' | t }} {% else %}{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }} {% endif %} </h1>
    </div>
      <div class="row">
        <div class="col-lg aside">
          <div class="prd-grid-wrap">
            <div class="prd-grid product-listing data-to-show-5 data-to-show-md-3 data-to-show-sm-2 js-category-grid" data-product-listing>
                {%- for item in search.results -%}
                    {% if item.object_type == 'product' %}
                        {% include 'product-card', product: item %}
                        {% elsif item.object_type == 'page' or item.object_type == 'article' %}
                      <div class="prd card">
                        <div class="card-body">
                          <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                          <p>{{ item.content | strip_html | escape | truncate: 100 }}...</p>
                          <a class="btn mt-15" href="{{ item.url }}">{{ "blogs.article.read_more" | t }}</a>
                        </div>
                      </div>
                    {% endif %}
                {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
      {% if search.performed %}
        {% if paginate.pages > 1 %}
        <div class="pagination-wrap d-flex justify-content-center mt-4">
              {% include 'pagination' %}
        </div>
        {% endif %}
      {% endif %}
    {% section 'collection-shop-info' %}
  </div>
</div>
{% endpaginate %}
